<a href="https://colab.research.google.com/github/ankit-rathi/Quantvesting_v2/blob/main/myStocks_Portfolio_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyxirr
!pip install ta
!pip install yfinance==0.2.59

Requirement already satisfied: pyxirr in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (0.10.7)

Collecting ta

  Downloading ta-0.11.0.tar.gz (25 kB)

  Installing build dependencies ... -

 \

 done

  Getting requirements to build wheel ... -

 done

  Preparing metadata (pyproject.toml) ... -

 done
Requirement already satisfied: numpy in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from ta) (2.3.4)
Requirement already satisfied: pandas in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from ta) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from pandas->ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from pandas->ta) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from pandas->ta) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas->ta) (1.17.0)
Building wheels for collected packages: ta

  Building wheel for ta (pyproject.toml) ... -

 done
  Created wheel for ta: filename=ta-0.11.0-py3-none-any.whl size=29482 sha256=f3582e3209965f6cb265bbc85ad23a443fd92fe0c7322ab08be46d2bc56951fb
  Stored in directory: /home/runner/.cache/pip/wheels/e3/3a/ee/4955a26c90a4b7deb6d725dc8ec7b8604a7aef44e43a2e8af7
Successfully built ta

Installing collected packages: ta
Successfully installed ta-0.11.0

Collecting yfinance==0.2.59

  Downloading yfinance-0.2.59-py2.py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: pandas>=1.3.0 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.3.3)
Requirement already satisfied: numpy>=1.16.5 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.3.4)
Requirement already satisfied: requests>=2.31 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.32.5)
Requirement already satisfied: multitasking>=0.0.7 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.5.0)
Requirement already satisfied: pytz>=2022.5 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.14.2)
Requirement already satisfied: curl_cffi>=0.7 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.13.0)

Collecting protobuf<6,>=5.29.0 (from yfinance==0.2.59)
  Downloading protobuf-5.29.5-cp38-abi3-manylinux2014_x86_64.whl.metadata (592 bytes)
Requirement already satisfied: websockets>=11.0 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (4.15.0)
Requirement already satisfied: cffi>=1.12.0 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (2.0.0)
Requirement already satisfied: certifi>=2024.2.2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (2025.10.5)
Requirement already satisfied: pycparser in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance==0.2.59) (2.23)

Requirement already satisfied: python-dateutil>=2.8.2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance==0.2.59) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (2.5.0)
Downloading yfinance-0.2.59-py2.py3-none-any.whl (117 kB)

Downloading protobuf-5.29.5-cp38-abi3-manylinux2014_x86_64.whl (319 kB)

Installing collected packages: protobuf, yfinance
  Attempting uninstall: protobuf
    Found existing installation: protobuf 6.33.0
    Uninstalling protobuf-6.33.0:
      Successfully uninstalled protobuf-6.33.0

  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.2.66
    Uninstalling yfinance-0.2.66:
      Successfully uninstalled yfinance-0.2.66
   ━━━━━━━━━━━━━━━━━━━━╺━━━━━━━━━━━━━━━━━━━ 1/2 [yfinance]

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [yfinance]
Successfully installed protobuf-5.29.5 yfinance-0.2.59

In [2]:
# import libraries

import numpy as np
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import yfinance as yfin
import ta
import matplotlib.pyplot as plt
import requests

In [3]:
# notebook start time
import time
import datetime
import pytz

start_time = time.time()

# function to print date timestamp
def print_date_time():
  tz_NY = pytz.timezone('Asia/Kolkata')
  datetime_NY = datetime.datetime.now(tz_NY)
  print("Run date time (IST):", datetime_NY.strftime("%Y-%m-%d %H:%M:%S"))

In [4]:
# function to get booked and reserved amount
def get_amt():
  # fetch the JSON data from the URL
  url = "https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioAmts.json"
  response = requests.get(url)
  pf_amts = response.json()  # parse the JSON data

  # extract values from the JSON
  py_booked_amt_dm = pf_amts["py_booked_amt_dm"]
  py_booked_amt_sv = pf_amts["py_booked_amt_sv"]
  cy_booked_amt_dm = pf_amts["cy_booked_amt_dm"]
  cy_booked_amt_sv = pf_amts["cy_booked_amt_sv"]
  reserve_amt_dm = pf_amts["reserve_amt_dm"]
  reserve_amt_sv = pf_amts["reserve_amt_sv"]

  # perform calculations
  py_booked_amt = py_booked_amt_dm + py_booked_amt_sv
  cy_booked_amt = cy_booked_amt_dm + cy_booked_amt_sv
  reserve_amt = reserve_amt_dm + reserve_amt_sv
  total_booked_amt = py_booked_amt + cy_booked_amt

  return total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt

gen_output = 0

In [5]:
# function to format the amount
def format_amt(number):
    abs_number = abs(number)

    if abs_number >= 1_00_00_000:  # Crores
        formatted_amt = f"{number / 1_00_00_000:.2f} C"
    elif abs_number >= 1_00_000:  # Lakhs
        formatted_amt = f"{number / 1_00_000:.2f} L"
    elif abs_number >= 1_000:  # Thousands
        formatted_amt = f"{number / 1_000:.2f} K"
    else:
        formatted_amt = f"{number:.2f}"

    return formatted_amt

# function to set start and end date
def get_start_end_date():
  start_date = (datetime.date.today() + datetime.timedelta(days=-365)).strftime('%Y-%m-%d')
  end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')
  return start_date, end_date

# function to fetch my portfolio csv
def get_mypfs_df():
  mypfs_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioStocks.csv')
  return mypfs_df

# function to fetch my prospects csv
def get_mypps_df():
  mypps_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myProspectsScrips.csv')
  return mypps_df

# function to fetch screener data
def get_myscreen_df():
  myscreen_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myScreenerDB.csv')
  return myscreen_df

# function to fetch momentum data
def get_myinvmt_df():
  myinvmt_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myInvestments.csv')
  return myinvmt_df

# function to get the stock ids
def get_stock_ids(df_pf):
  stock_n100 = df_pf['Symbol'].unique()

  exclude = ['CADILAHC','MMTC', 'MASFIN']

  stock_ids = df_pf[~df_pf['Symbol'].isin(exclude) ]['Symbol'].unique()

  #mypf = mypf[mypf.Forecast.notnull()]
  #stock_ids = mypf['Symbol'].unique()

  stock_ids.sort()
  return stock_ids

# get features from screener data
def get_screener_features():
  myscreen_df = get_myscreen_df()
  cols = ['Symbol', 'EPS', 'MedPE', 'ROCE%', 'ROE%', 'CapType']
  return myscreen_df[cols]

# get relative strength
def get_relative_strength(stock_list):

    # Dictionary to store stock tickers and their corresponding percentage price change
    stock_changes = {}

    # Loop through each stock and fetch its price data
    for stock in stock_list:
        try:
            # Download the stock data for the given date range
            stock_data = yfin.Ticker(stock + '.NS').history(period='1mo', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

            # Calculate the percentage change for the stock
            if len(stock_data) > 0:
                start_price = stock_data['Close'].iloc[0]
                end_price = stock_data['Close'].iloc[-1]
                percent_change = round(((end_price - start_price) / start_price) * 100, 2)
                stock_changes[stock] = percent_change
            else:
                stock_changes[stock] = np.nan  # If no data is available, set to NaN

        except Exception as e:
            print(f"Error fetching data for {stock}: {e}")
            stock_changes[stock] = np.nan

    # Create a DataFrame with stock tickers and their percentage changes
    df = pd.DataFrame(list(stock_changes.items()), columns=['Symbol', 'Percent_Change'])

    # Drop any stocks with missing data (NaN values)
    df = df.dropna()

    # Calculate the percentile rank based on percentage change
    df['RSP'] = round(df['Percent_Change'].rank(pct=True) * 100, 2)
    cols = ['Symbol', 'RSP']
    df = df[cols]
    # Sort by percentile rank (optional)
    df = df.sort_values(by='RSP', ascending=False).reset_index(drop=True)

    return df

In [6]:
# function to get stock technicals
def stock_prec_dev(stock_symbol):
    #stock_symbol = 'ULTRACEMCO.NS'
    short_window = 20
    mid_window = 50
    long_window = 200
    moving_avg = 'SMA'

    start = datetime.datetime(*map(int, start_date.split('-')))
    end = datetime.datetime(*map(int, end_date.split('-')))

    stock_df = yfin.Ticker(stock_symbol + '.NS').history(period='max', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

    stock_df['Max'] = round(max(stock_df['Close']),2)
    stock_df = stock_df[(stock_df.index <= end_date) & (stock_df.index >= start_date)]
    stock_df['200_SMA'] = round(stock_df['Close'].rolling(window = 200, min_periods = 1).mean(),0)
    stock_df['Dev%_200'] = round((stock_df['Close'] - stock_df['200_SMA'])*100/stock_df['200_SMA'],2)
    stock_df.dropna(axis = 0, inplace = True) # remove any null rows

    stock_df['20_SMA'] = stock_df['Close'].rolling(window=20).mean()
    stock_df['50_SMA'] = stock_df['Close'].rolling(window=50).mean()
    stock_df['Symbol'] = stock_symbol

    stock_df['Close'] = round(stock_df['Close'],2)
    stock_df['Min'] = round(min(stock_df['Close']),2)
    stock_df['RSI_14'] = ta.momentum.RSIIndicator(close=stock_df['Close'], window=14).rsi()
    stock_df['RSI_14'] = round(stock_df['RSI_14'],0)
    stock_df['Prev_Close'] = stock_df['Close'].shift(1)
    stock_df.drop(['Open', 'Low', 'High', 'Volume'], axis=1, inplace=True)
    stock_df = stock_df.tail(1)

    max_SMA = max(stock_df['20_SMA'].item(), stock_df['50_SMA'].item(), stock_df['200_SMA'].item())
    min_SMA = min(stock_df['20_SMA'].item(), stock_df['50_SMA'].item(), stock_df['200_SMA'].item())
    ABS_Spread = max_SMA - min_SMA
    stock_df['Spread%'] = round((ABS_Spread / stock_df['200_SMA'].item()) * 100,2)

    return stock_df

# function to compute stock attributes
def get_common_features(stock_ids, df_mypf):

  df_prec_dev = pd.DataFrame()
  df_tmp = get_screener_features()
  df_rs = get_relative_strength(stock_ids)

  for stock_id in stock_ids:
      tmp = stock_prec_dev(stock_id)
      tmp = tmp.reset_index()
      df_prec_dev = pd.concat([df_prec_dev, tmp], ignore_index = True)
  df_prec_dev = pd.merge(df_prec_dev, df_mypf, on= 'Symbol')
  df_prec_dev = pd.merge(df_prec_dev, df_tmp, on= 'Symbol', how='left')
  df_prec_dev = pd.merge(df_prec_dev, df_rs, on= 'Symbol', how='left')
  #print(df_prec_dev.columns)
  df_prec_dev['Curr_PE'] = round(df_prec_dev['Close']/df_prec_dev['EPS'],1)
  df_prec_dev['Dev%_PE'] = round((df_prec_dev['Curr_PE'] - df_prec_dev['MedPE'])*100/df_prec_dev['MedPE'],2)
  df_prec_dev['Conviction'] = df_prec_dev['Conviction'] + '-' + df_prec_dev['CapType']
  return df_prec_dev

# function to arrange stock features
def arrange_features(df_stocks, common_cols, diff_cols):
  df_stocks_common = df_stocks[common_cols].drop_duplicates()
  df_stocks_diff = df_stocks[diff_cols]
  df_stocks_diff['Investment'] = df_stocks_diff['AvgCost'] * df_stocks_diff['Shares']
  df_stocks_diff = df_stocks_diff.groupby(['Symbol'])[['Shares', 'Investment']].aggregate(['sum']).reset_index()
  df_stocks_diff.columns = ['Symbol', 'Shares', 'Investment']
  df_stocks_diff['AvgCost'] = round(df_stocks_diff['Investment']/df_stocks_diff['Shares'],2)
  df_stocks = pd.merge(df_stocks_diff, df_stocks_common, on='Symbol')
  return df_stocks

# plot fact distribution across dimension
def plot_pie_chart(df, dimension, fact):
  # grouping the data by category and calculating the sum of fact for each type
  grouped_data = df.groupby(dimension)[fact].sum()

  # sorting the grouped data in descending order
  grouped_data = grouped_data.sort_values(ascending=False)

  # creating a pie chart
  grouped_data.plot.pie(autopct='%1.1f%%', startangle=90, figsize=(6, 6))

  # adding a title and displaying the plot
  plt.title(f'{dimension} {fact} Distribution')
  plt.ylabel('')  # To hide the y-label
  plt.show()

In [7]:
# function to get portfolio features

def get_portfolio_features(df_common_features):

  print_date_time()
  print('-------------------')

  #df_common_features["Target"] = df_common_features["Target"].fillna(df_common_features["Max"])
  df_common_features['NTT'] = np.where(df_common_features['Strategy']== 'NTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['LTT'] = np.where(df_common_features['Strategy']== 'BTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['BOL'] = df_common_features['Min']

  tmp_df = df_common_features[df_common_features['Symbol'].isin(mypf_df[mypf_df['InPortfolio'] != 'NA'].Symbol.values)]
  print('qualified stocks: '+str(len(tmp_df['Symbol'].unique())))
  tmp_df1 = tmp_df[tmp_df['LatestQtr'] == 1]
  print('with latest results: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df1 = tmp_df1[tmp_df1['StarStock'] == 1]
  print('still star stocks: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df['Investment'] = tmp_df['AvgCost'] * tmp_df['Shares']
  tmp_df['Current'] = round(tmp_df['Close'] * tmp_df['Shares'],0)
  tmp_df['Previous'] = tmp_df['Prev_Close'] * tmp_df['Shares']
  tmp_df['EstimatedST'] = tmp_df['NTT'] * tmp_df['Shares']
  tmp_df['EstimatedLT'] = tmp_df['LTT'] * tmp_df['Shares']
  tmp_df['Current P/L'] = round((tmp_df['Current'] - tmp_df['Investment']),0)
  tmp_df['Today P/L%'] = round((tmp_df['Current'] - tmp_df['Previous'])*100/tmp_df['Previous'],2)
  tmp_df['Current P/L%'] = round((tmp_df['Current'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedST P/L%'] = round((tmp_df['EstimatedST'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedLT P/L%'] = round((tmp_df['EstimatedLT'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['NTT%'] = round((tmp_df['NTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['LTT%'] = round((tmp_df['LTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['Gained%'] = round((tmp_df['Close'] - tmp_df['BOL'])*100/tmp_df['BOL'],2)
  investment = round(sum(tmp_df['AvgCost']*tmp_df['Shares']),0)
  current = round(sum(tmp_df['Close']*tmp_df['Shares']),0)
  tmp_df['InitAlloc%'] = round(tmp_df['Investment']*100/investment,2)
  tmp_df['CurrAlloc%'] = round(tmp_df['Current']*100/current,2)
  tmp_df['FTT'] = tmp_df['LTT']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT'] = tmp_df['NTT']
  tmp_df['FTT%'] = tmp_df['LTT%']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT%'] = tmp_df['NTT%']
  tmp_df['FTT Amt'] = round(tmp_df['FTT%'] * tmp_df['Current']/100,0)
  tmp_df['OTT%'] = round((tmp_df['FTT'] - tmp_df['AvgCost'])*100/tmp_df['AvgCost'],2)
  tmp_df['RRR Ind'] = round(tmp_df['Current P/L']/tmp_df['FTT Amt'],2)
  tmp_df['Risk Ind'] = round(tmp_df['Current P/L%']*tmp_df['CurrAlloc%'],0)

  return tmp_df

# function to print portfolio features
def print_portfolio_stats(df_portfolio_features, myinvmt_df):
  from pyxirr import xirr

  total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt = get_amt()

  dates = myinvmt_df['Date'].values
  dates = np.append(dates, datetime.date.today().strftime('%d-%b-%y'))
  investment = myinvmt_df['Investment'].values
  dates= pd.to_datetime(dates)

  current = round(sum(df_portfolio_features['Close']*df_portfolio_features['Shares']),0) + reserve_amt
  investment_xirr = np.append(investment, current)
  cagr = round(xirr(pd.DataFrame({"dates": dates, "amounts": investment_xirr}))*100,2)

  investment = -sum(investment)
  invested = round(sum(df_portfolio_features['AvgCost']*df_portfolio_features['Shares']),0) + reserve_amt
  previous = round(sum(df_portfolio_features['Prev_Close']*df_portfolio_features['Shares']),0) + reserve_amt
  cy_invested = investment + py_booked_amt

  today_pnl_amount = current-previous
  today_pnl_percentage = round((current-previous)*100/previous,2)

  curr_pnl_amount = current-invested
  curr_pnl_percentage = round((curr_pnl_amount)*100/(cy_invested),2)

  cy_pnl_amount = cy_booked_amt + curr_pnl_amount
  cy_pnl_percentage = round((cy_pnl_amount)*100/cy_invested,2)

  overall_pnl_amount = total_booked_amt + curr_pnl_amount
  overall_pnl_percentage = round((overall_pnl_amount)*100/investment,2)

  estimate_st = round(sum(df_portfolio_features['FTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_st_pnl_amount = estimate_st-current
  est_st_pnl_percentage = round((est_st_pnl_amount)*100/current,2)

  estimate_lt = round(sum(df_portfolio_features['LTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_lt_pnl_amount = estimate_lt-current
  est_lt_pnl_percentage = round((est_lt_pnl_amount)*100/current,2)

  total_profit = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Investment']),0)
  total_loss = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Investment']),0)

  cy_booked_percentage = round((cy_booked_amt)*100/current,2)
  py_booked_percentage = round((py_booked_amt)*100/investment,2)
  total_booked_percentage = round((total_booked_amt)*100/investment,2)

  print('-------------------')
  print('Initial Investment: ', format_amt(investment))
  print('CY Investment: ', format_amt(cy_invested))
  print('Reserve: ', format_amt(reserve_amt))
  print('Current: ',  format_amt(current))
  print('-------------------')
  print('Today PnL: '+ '{} ({}%)'.format(format_amt(today_pnl_amount), today_pnl_percentage))
  print('Current PnL: '+ '{} ({}%)'.format(format_amt(curr_pnl_amount), curr_pnl_percentage))
  print('CY Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(cy_pnl_amount), cy_pnl_percentage))
  print('-------------------')
  print('Total profit: ', format_amt(total_profit))
  print('Total loss: ', format_amt(total_loss))
  print('-------------------')
  print('Total Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(overall_pnl_amount), overall_pnl_percentage))
  print('Total Booked PnL: '+ '{} ({}%)'.format(format_amt(total_booked_amt), total_booked_percentage))
  print('Curr Year Booked PnL: '+ '{} ({}%)'.format(format_amt(cy_booked_amt), cy_booked_percentage))
  print('Prev Year Booked PnL: '+ '{} ({}%)'.format(format_amt(py_booked_amt), py_booked_percentage))
  print('===================')
  print('Est FTT: ',  format_amt(estimate_st))
  print('Est FTT PnL: '+ '{} ({}%)'.format(format_amt(est_st_pnl_amount), est_st_pnl_percentage))

  print('===================')
  print('Deployed: ', format_amt(investment))

  print('Current: ', format_amt(current))

  print('CAGR/XIRR %: '+'{}%'.format(cagr))

In [8]:
# get start and end date
start_date, end_date = get_start_end_date()

# get portfolio and prospects data
mypfs_df = get_mypfs_df()
mypps_df = get_mypps_df()
myinvmt_df = get_myinvmt_df()

# merge above datasets
mypf_df = pd.merge(mypfs_df, mypps_df, on="Symbol")

# seggregate dm and sv portfolio
dm_pf = mypf_df[mypf_df['InPortfolio'] == 'DM']
sv_pf = mypf_df[mypf_df['InPortfolio'] == 'SV']

# build portfolio stock dataframe
dm_stocks = get_stock_ids(dm_pf)
sv_stocks = get_stock_ids(sv_pf)
df_stocks = pd.concat([dm_pf,sv_pf], ignore_index = True)

# arrange common and diff stock features
common_cols = ['Symbol', 'Target', 'Criteria', 'Strategy', 'CumlRnk', 'LatestQtr', 'StarStock', 'Conviction', 'Category', 'InFolio', 'XIRR', 'MBQ']
diff_cols = ['Symbol', 'AvgCost', 'Shares']
df_stocks = arrange_features(df_stocks, common_cols, diff_cols)

# get common features
stock_ids = df_stocks['Symbol'].values
df_common_features = get_common_features(stock_ids, df_stocks)

df_common_features.reset_index(drop=True, inplace=True)
df_common_features.drop(['Date'], axis=1, inplace=True)
# get and print portfolio features
df_portfolio_features = get_portfolio_features(df_common_features)

print_portfolio_stats(df_portfolio_features, myinvmt_df)

df = df_portfolio_features
#plot_pie_chart(df, 'CapType', 'Current')
list_ox40n = list(df[df['MBQ'].str.contains('OX40N', na=False)]['Symbol'].values)

Run date time (IST): 2025-10-23 13:17:51
-------------------
qualified stocks: 88
with latest results: 28
still star stocks: 17

-------------------
Initial Investment:  1.23 C
CY Investment:  1.50 C
Reserve:  54.95 K
Current:  1.43 C
-------------------
Today PnL: 98.91 K (0.7%)
Current PnL: -19.07 L (-12.7%)
CY Booked + Current PnL: -6.97 L (-4.64%)
-------------------
Total profit:  2.38 L
Total loss:  -21.44 L
-------------------
Total Booked + Current PnL: 20.01 L (16.26%)
Total Booked PnL: 39.08 L (31.74%)
Curr Year Booked PnL: 12.10 L (8.49%)
Prev Year Booked PnL: 26.98 L (21.91%)
===================
Est FTT:  2.29 C
Est FTT PnL: 86.26 L (60.49%)
===================
Deployed:  1.23 C
Current:  1.43 C
CAGR/XIRR %: 8.67%

In [9]:
# top 5 near their targets
cols = ['Symbol', 'FTT', 'Dev%_PE', 'RSI_14','Conviction', 'Spread%', 'Current', 'Current P/L', 'FTT Amt', 'Today P/L%', 'Current P/L%', 'FTT%', 'OTT%', 'CumlRnk', 'RRR Ind', 'CurrAlloc%', 'Gained%', 'Criteria', 'Strategy', 'Category']
df_tmp = df_portfolio_features[~df_portfolio_features['Symbol'].isin(['ENRIN','BLUSPRING','DIGITIDE'])]
df_tmp = df_tmp.sort_values(by = 'FTT Amt', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
58,RELIANCE,1533.0,-8.41,74.0,X-LC,3.08,229242.0,18876.0,9903.0,0.29,8.97,4.32,13.68,37.0,1.91,1.61,26.98,XY25,NTT,REFINERIES
85,VOLTAS,1530.0,2.84,60.0,X-MC,2.42,215760.0,24018.0,13744.0,-1.20,12.53,6.37,19.69,99.0,1.75,1.52,20.18,XY25,NTT,AC
2,ABBOTINDIA,35195.0,-8.83,45.0,X-MC,3.49,90000.0,-678.0,15588.0,-0.84,-0.75,17.32,16.44,101.0,-0.04,0.63,19.28,X40,ATH,PHARMA
78,TTKPRESTIG,770.0,96.58,50.0,M-SC,1.90,84652.0,-16125.0,16219.0,0.23,-16.00,19.16,0.09,245.0,-0.99,0.60,11.21,OX40N,NTT,DURABLES
42,ITC,452.0,-36.66,65.0,X-LC,2.12,204133.0,3995.0,16902.0,1.11,2.00,8.28,10.44,4.0,0.24,1.44,7.67,X40,NTT,FMCG

In [10]:
# top 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
15,BSOFT,836.99,-13.25,64.0,H-SC,15.12,97652.0,-43001.0,115776.0,9.09,-30.57,118.56,51.74,131.0,-0.37,0.69,12.98,XR,ATH,IT
82,VAIBHAVGBL,521.00,55.37,61.0,H-SC,4.57,134621.0,-48154.0,159216.0,6.10,-26.35,118.27,60.77,125.0,-0.30,0.95,20.57,XR,NTT,JEWELLERY
40,INFY,2275.00,-15.65,62.0,X-LC,7.34,328680.0,15792.0,155893.0,4.80,5.05,47.43,54.87,3.0,0.10,2.31,12.03,X40,BTT,IT
12,BANKINDIA,190.00,-19.25,73.0,H-MC,13.68,208830.0,29022.0,83386.0,4.24,16.14,39.93,62.52,88.0,0.35,1.47,55.73,XR,NTT,BANKS
68,SONACOMS,806.63,-32.33,71.0,M-SC,10.21,84184.0,-16975.0,56976.0,4.13,-16.78,67.68,39.54,202.0,-0.30,0.59,18.71,AR,ATH,AUTO

In [11]:
# bottom 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
55,RAJOOENG,143.10,-41.82,46.0,H-SC,18.20,88290.0,-14210.0,54810.0,-2.81,-13.86,62.08,39.61,114.0,-0.26,0.62,7.83,AR,ATH,MISC
72,TANLA,1963.11,-28.95,34.0,H-SC,17.09,190975.0,-79786.0,409737.0,-2.10,-29.47,214.55,121.86,133.0,-0.19,1.34,49.40,AR,ATH,IT
65,SHALBY,327.00,1156.78,51.0,M-SC,22.60,170859.0,-10284.0,55751.0,-1.81,-5.68,32.63,25.10,235.0,-0.18,1.20,36.93,XY24,NTT,HEALTHCARE
46,KPIGREEN,731.05,5.18,63.0,H-SC,5.29,125181.0,-116.0,59048.0,-1.65,-0.09,47.17,47.03,141.0,-0.00,0.88,56.74,MH,ATH,POWER
70,SURYODAY,240.00,64.47,60.0,H-SC,12.48,151654.0,-27417.0,93146.0,-1.58,-15.31,61.42,36.71,135.0,-0.29,1.07,50.47,XR,NTT,BANKS

In [12]:
# top 5 to exit based on CumlRnk
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[(df_tmp['Current P/L%'] > -1) & (df_tmp['Current P/L%'] < 1)].sort_values(by = 'CumlRnk', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
61,SAIL,228.00,41.94,47.0,M-MC,10.29,223447.0,-1515.0,169172.0,-0.15,-0.67,75.71,74.53,192.0,-0.01,1.57,31.36,XY24,BTT,STEEL
46,KPIGREEN,731.05,5.18,63.0,H-SC,5.29,125181.0,-116.0,59048.0,-1.65,-0.09,47.17,47.03,141.0,-0.00,0.88,56.74,MH,ATH,POWER
37,INDIAMART,4810.62,-55.39,42.0,H-SC,7.36,124497.0,1161.0,130460.0,-1.17,0.94,104.79,106.72,119.0,0.01,0.88,24.54,AR,ATH,MISC

In [13]:
# OX40N stocks to exit
df_tmp = df_portfolio_features[(df_portfolio_features['Symbol'].isin(list_ox40n))].sort_values(by = 'Current P/L%', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
79,UJJIVANSFB,60.0,122.87,69.0,H-SC,14.44,140481.0,-1998.0,21522.0,3.56,-1.40,15.32,13.70,163.0,-0.09,0.99,65.81,OX40N,NTT,BANKS
45,KANSAINER,340.0,-66.69,61.0,H-SC,2.19,229266.0,-40401.0,76735.0,-0.82,-14.98,33.47,13.47,138.0,-0.53,1.61,16.58,XY24,NTT,PAINTS
78,TTKPRESTIG,770.0,96.58,50.0,M-SC,1.90,84652.0,-16125.0,16219.0,0.23,-16.00,19.16,0.09,245.0,-0.99,0.60,11.21,OX40N,NTT,DURABLES
67,SIS,528.0,2082.38,54.0,H-SC,3.42,88077.0,-22955.0,46566.0,0.25,-20.67,52.87,21.26,156.0,-0.49,0.62,19.00,OX40N,NTT,MISC
73,TATAELXSI,9161.0,-23.37,51.0,H-MC,7.62,103750.0,-28085.0,70311.0,1.98,-21.30,67.77,32.03,98.0,-0.40,0.73,16.21,OX40N,NTT,IT

In [14]:
# top 5 to book for rotation
df_tmp = df_portfolio_features[(df_portfolio_features['Current P/L%'] > 20) ].sort_values(by = 'CumlRnk', ascending=False)
df_tmp[cols].head()

Empty DataFrame
Columns: [Symbol, FTT, Dev%_PE, RSI_14, Conviction, Spread%, Current, Current P/L, FTT Amt, Today P/L%, Current P/L%, FTT%, OTT%, CumlRnk, RRR Ind, CurrAlloc%, Gained%, Criteria, Strategy, Category]
Index: []

In [15]:
# top 5 to monitor for exit
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[(df_tmp['Current P/L%'] > 0) ].sort_values(by = 'Dev%_PE', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
56,RECLTD,446.00,47.87,52.0,M-LC,5.85,207158.0,3988.0,38138.0,-0.13,1.96,18.41,20.74,55.0,0.10,1.46,7.61,XY25,NTT,FINANCE
32,HINDZINC,730.22,29.80,52.0,M-LC,10.65,211192.0,6116.0,106462.0,0.34,2.98,50.41,54.89,52.0,0.06,1.49,27.80,X5K,ATH,METALS
80,UNIONBANK,163.00,-10.08,62.0,M-LC,9.03,163364.0,22524.0,21972.0,1.43,15.99,13.45,31.59,66.0,1.03,1.15,46.72,XY24,NTT,BANKS
87,WIPRO,420.00,-13.34,50.0,M-LC,6.24,152464.0,1519.0,107929.0,1.89,1.01,70.79,72.51,53.0,0.01,1.07,7.09,XR,NTT,IT
12,BANKINDIA,190.00,-19.25,73.0,H-MC,13.68,208830.0,29022.0,83386.0,4.24,16.14,39.93,62.52,88.0,0.35,1.47,55.73,XR,NTT,BANKS

In [16]:
# top 5 to book for rotation from weak conviction
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[~df_tmp['Criteria'].isin(['XY25','XY24','X40', 'X40N'])].sort_values(by = 'RRR Ind', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
12,BANKINDIA,190.00,-19.25,73.0,H-MC,13.68,208830.0,29022.0,83386.0,4.24,16.14,39.93,62.52,88.0,0.35,1.47,55.73,XR,NTT,BANKS
86,WHIRLPOOL,2270.00,-38.27,67.0,M-SC,3.99,104415.0,12916.0,65834.0,-0.38,14.12,63.05,86.07,223.0,0.20,0.74,51.63,XR,NTT,DURABLES
32,HINDZINC,730.22,29.80,52.0,M-LC,10.65,211192.0,6116.0,106462.0,0.34,2.98,50.41,54.89,52.0,0.06,1.49,27.80,X5K,ATH,METALS
87,WIPRO,420.00,-13.34,50.0,M-LC,6.24,152464.0,1519.0,107929.0,1.89,1.01,70.79,72.51,53.0,0.01,1.07,7.09,XR,NTT,IT
37,INDIAMART,4810.62,-55.39,42.0,H-SC,7.36,124497.0,1161.0,130460.0,-1.17,0.94,104.79,106.72,119.0,0.01,0.88,24.54,AR,ATH,MISC

In [17]:
# top 5 to accumulate based on lowest RSI_14
df_tmp = df_portfolio_features[df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])].sort_values(by = 'RSI_14', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
74,TATAMOTORS,1065.00,-53.17,17.0,X-LC,13.39,148158.0,-128365.0,238431.0,1.57,-46.42,160.93,39.81,54.0,-0.54,1.04,4.43,XY24,NTT,AUTO
53,QUESS,986.00,-47.66,37.0,X-SC,38.74,52111.0,-12895.0,163821.0,-0.34,-19.84,314.37,232.18,198.0,-0.08,0.37,1.64,XY24,NTT,MISC
24,DMART,5391.45,-15.84,39.0,X-LC,10.18,102912.0,326.0,26479.0,0.32,0.32,25.73,26.13,38.0,0.01,0.72,25.97,X40N,ATH,FMCG
2,ABBOTINDIA,35195.00,-8.83,45.0,X-MC,3.49,90000.0,-678.0,15588.0,-0.84,-0.75,17.32,16.44,101.0,-0.04,0.63,19.28,X40,ATH,PHARMA
52,PGHH,17907.65,-28.69,46.0,X-MC,3.30,206475.0,5655.0,62149.0,-0.75,2.82,30.10,33.76,80.0,0.09,1.45,8.16,X40,ATH,FMCG

In [18]:
# top 5 to accumulate based on Spread and CumlRnk
df_tmp = df_portfolio_features[df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[(df_tmp['CumlRnk'] < 100)].sort_values(by = 'Spread%', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
66,SIEMENS,4671.50,-1.97,50.0,H-LC,0.68,157630.0,-28465.0,75946.0,1.60,-15.30,48.18,25.51,15.0,-0.37,1.11,16.16,AR,ATH,ELECTRICAL
42,ITC,452.00,-36.66,65.0,X-LC,2.12,204133.0,3995.0,16902.0,1.11,2.00,8.28,10.44,4.0,0.24,1.44,7.67,X40,NTT,FMCG
85,VOLTAS,1530.00,2.84,60.0,X-MC,2.42,215760.0,24018.0,13744.0,-1.20,12.53,6.37,19.69,99.0,1.75,1.52,20.18,XY25,NTT,AC
29,HAVELLS,2069.16,-5.47,48.0,X-MC,2.79,234156.0,-13575.0,88628.0,1.14,-5.48,37.85,30.30,92.0,-0.15,1.65,7.08,X40,ATH,ELECTRICAL
58,RELIANCE,1533.00,-8.41,74.0,X-LC,3.08,229242.0,18876.0,9903.0,0.29,8.97,4.32,13.68,37.0,1.91,1.61,26.98,XY25,NTT,REFINERIES

In [19]:
# top 5 to accumulate based on lowest Gained%
df_tmp = df_portfolio_features[df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])].sort_values(by = 'Gained%', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
53,QUESS,986.00,-47.66,37.0,X-SC,38.74,52111.0,-12895.0,163821.0,-0.34,-19.84,314.37,232.18,198.0,-0.08,0.37,1.64,XY24,NTT,MISC
3,ACC,3906.00,-38.07,47.0,X-MC,3.04,183900.0,-54051.0,206704.0,-0.54,-22.72,112.40,64.15,174.0,-0.26,1.29,3.16,XY24,BTT,CEMENT
74,TATAMOTORS,1065.00,-53.17,17.0,X-LC,13.39,148158.0,-128365.0,238431.0,1.57,-46.42,160.93,39.81,54.0,-0.54,1.04,4.43,XY24,NTT,AUTO
10,BAJAJHFL,181.50,-13.84,49.0,X-MC,5.66,181417.0,-19089.0,116252.0,-0.07,-9.52,64.08,48.45,90.0,-0.16,1.28,4.62,X40N,ATH,FINANCE
51,PAGEIND,51769.93,-25.96,47.0,X-MC,6.66,83680.0,170.0,19857.0,0.61,0.20,23.73,23.98,82.0,0.01,0.59,6.03,X40,ATH,APPARELS

In [20]:
# top 5 to accumulate based on lowest CurrAlloc%
df_tmp = df_portfolio_features[df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])].sort_values(by = 'CurrAlloc%', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
53,QUESS,986.00,-47.66,37.0,X-SC,38.74,52111.0,-12895.0,163821.0,-0.34,-19.84,314.37,232.18,198.0,-0.08,0.37,1.64,XY24,NTT,MISC
51,PAGEIND,51769.93,-25.96,47.0,X-MC,6.66,83680.0,170.0,19857.0,0.61,0.20,23.73,23.98,82.0,0.01,0.59,6.03,X40,ATH,APPARELS
57,RELAXO,1176.00,-38.91,47.0,X-SC,4.75,83312.0,-61848.0,137773.0,0.12,-42.61,165.37,52.31,136.0,-0.45,0.59,11.52,X40N,NTT,FOOTWEAR
2,ABBOTINDIA,35195.00,-8.83,45.0,X-MC,3.49,90000.0,-678.0,15588.0,-0.84,-0.75,17.32,16.44,101.0,-0.04,0.63,19.28,X40,ATH,PHARMA
13,BATAINDIA,2096.00,-34.72,50.0,X-SC,4.28,97641.0,-31029.0,76326.0,0.94,-24.12,78.17,35.20,219.0,-0.41,0.69,12.07,X40,NTT,FOOTWEAR

In [21]:
# top 5 to accumulate based on CumlRnk
df_tmp = df_portfolio_features.sort_values(by = 'CumlRnk', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
75,TCS,4389.96,-27.08,60.0,X-LC,12.49,290507.0,-55449.0,122158.0,2.79,-16.03,42.05,19.28,1.0,-0.45,2.05,7.40,X40,ATH,IT
40,INFY,2275.00,-15.65,62.0,X-LC,7.34,328680.0,15792.0,155893.0,4.80,5.05,47.43,54.87,3.0,0.10,2.31,12.03,X40,BTT,IT
42,ITC,452.00,-36.66,65.0,X-LC,2.12,204133.0,3995.0,16902.0,1.11,2.00,8.28,10.44,4.0,0.24,1.44,7.67,X40,NTT,FMCG
84,VBL,671.64,-16.88,58.0,X-LC,10.11,299286.0,-16556.0,129232.0,2.10,-5.24,43.18,35.67,5.0,-0.13,2.11,7.89,X40N,ATH,FMCG
1,ABB,7934.00,-40.35,49.0,H-LC,6.50,249408.0,-12211.0,131413.0,-0.84,-4.67,52.69,45.57,7.0,-0.09,1.76,6.13,AR,NTT,ELECTRICAL

In [22]:
# top 5 for average up
df_tmp = df_portfolio_features[(df_portfolio_features['Dev%_200'] > 5)].sort_values(by = 'CurrAlloc%', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
7,ASIANTILES,137.00,7205.56,70.0,L-SC,6.99,80151.0,-13659.0,90274.0,-0.06,-14.56,112.63,81.67,269.0,-0.15,0.56,55.22,XR,NTT,CERAMICS
20,COFFEEDAY,80.00,-45.67,49.0,L-SC,26.65,81408.0,-32141.0,72193.0,-1.51,-28.31,88.68,35.27,268.0,-0.45,0.57,99.25,XR,NTT,HOTELS
49,MASFIN,398.61,-17.34,57.0,H-SC,9.56,93855.0,-4125.0,25726.0,1.54,-4.21,27.41,22.05,152.0,-0.16,0.66,36.43,XR,ATH,FINANCE
86,WHIRLPOOL,2270.00,-38.27,67.0,M-SC,3.99,104415.0,12916.0,65834.0,-0.38,14.12,63.05,86.07,223.0,0.20,0.74,51.63,XR,NTT,DURABLES
46,KPIGREEN,731.05,5.18,63.0,H-SC,5.29,125181.0,-116.0,59048.0,-1.65,-0.09,47.17,47.03,141.0,-0.00,0.88,56.74,MH,ATH,POWER

In [23]:
# top 5 RSP
df_tmp = df_portfolio_features.sort_values(by = 'RSP', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
62,SAMMAANCAP,326.00,-190.91,75.0,M-SC,22.61,157257.0,8037.0,136137.0,-0.22,5.39,86.57,96.62,208.0,0.06,1.11,70.19,XY25,NTT,FINANCE
79,UJJIVANSFB,60.00,122.87,69.0,H-SC,14.44,140481.0,-1998.0,21522.0,3.56,-1.40,15.32,13.70,163.0,-0.09,0.99,65.81,OX40N,NTT,BANKS
68,SONACOMS,806.63,-32.33,71.0,M-SC,10.21,84184.0,-16975.0,56976.0,4.13,-16.78,67.68,39.54,202.0,-0.30,0.59,18.71,AR,ATH,AUTO
5,ANGELONE,3033.00,16.84,71.0,X-SC,7.03,206337.0,15331.0,42361.0,0.74,8.03,20.53,30.21,157.0,0.36,1.45,30.58,X40N,NTT,FINANCE
12,BANKINDIA,190.00,-19.25,73.0,H-MC,13.68,208830.0,29022.0,83386.0,4.24,16.14,39.93,62.52,88.0,0.35,1.47,55.73,XR,NTT,BANKS

In [24]:
# Top N allocation
df_tmp = df_portfolio_features.sort_values(by = 'CurrAlloc%', ascending=False)
top_n_values = [10, 25, 50]

sum_df = pd.DataFrame({
    'Top_N': top_n_values,
    'Sum_Alloc%': [df_tmp['CurrAlloc%'].head(n).sum() for n in top_n_values]
})

sum_df

   Top_N  Sum_Alloc%
0     10       19.55
1     25       43.93
2     50       74.76

In [25]:
# market-cap-wise allocation
df_tmp = df_portfolio_features[cols]
df_tmp.groupby(df_tmp['Conviction'].str[-2:])['CurrAlloc%'].sum().sort_values(ascending=False)

Conviction
SC    44.29
LC    32.90
MC    22.80
Name: CurrAlloc%, dtype: float64

In [26]:
# criteria-wise allocation
df_portfolio_features.groupby('Criteria')['CurrAlloc%'].sum().sort_values(ascending=False)

Criteria
XY24     30.24
X40      16.08
XY25     12.30
XR       11.28
X40N      9.32
AR        7.91
OX40N     7.61
X200      1.79
X5K       1.49
SR        1.09
MH        0.88
Name: CurrAlloc%, dtype: float64

In [27]:
# conviction-wise allocation
df_portfolio_features.groupby('Conviction')['CurrAlloc%'].sum().sort_values(ascending=False)

Conviction
H-SC    25.51
X-LC    22.04
X-MC    17.07
M-SC    12.68
M-LC     5.17
H-LC     4.66
X-SC     4.62
H-MC     3.85
M-MC     1.57
L-SC     1.48
L-LC     1.03
L-MC     0.31
Name: CurrAlloc%, dtype: float64

In [28]:
# sector-wise stats
df_tmp = df_portfolio_features.groupby('Category')[['CurrAlloc%', 'Current', 'Current P/L', 'FTT Amt']].sum().sort_values(by=['Current', 'Current P/L'], ascending=False)
df_tmp['Current P/L%'] = round(df_tmp['Current P/L'] * 100 / df_tmp['Current'], 2)
df_tmp['FTT%'] = round(df_tmp['FTT Amt'] * 100 / df_tmp['Current'], 2)
cols = ['CurrAlloc%', 'Current P/L%', 'FTT%']
df_tmp[cols].sort_values(by=['CurrAlloc%'], ascending=False)

               CurrAlloc%  Current P/L%    FTT%
Category
FMCG                14.80         -2.54   36.00
IT                  12.79        -15.65   78.07
FINANCE             12.14         -9.66   59.36
MISC                 6.88        -17.61   82.78
BANKS                6.61         -6.37   62.32
PAINTS               5.62        -15.56   32.79
ELECTRICAL           5.28         -9.84   48.37
INSURANCE            3.89          0.07   37.19
AUTO                 2.82        -43.32  103.13
FOOTWEAR             2.40        -29.63   81.60
TRAVEL               2.20        -42.89  114.43
AC                   2.20         -2.39   14.49
DURABLES             2.18        -17.74   43.27
CERAMICS             2.17        -29.55   84.47
BREWERIES            1.65          0.03   20.73
REFINERIES           1.61          8.23    4.32
STEEL                1.57         -0.68   75.71
METALS               1.49          2.90   50.41
ENGINEERING          1.42        -20.15   75.10
CHEMICALS            1.31        -41.52  156.97
JEWELLERY            1.30        -74.15  134.65
CEMENT               1.29        -29.39  112.40
HEALTHCARE           1.20         -6.02   32.63
MINING               1.03         -3.24   26.42
ENTERTAINMENT        0.96        -41.73  126.25
POWER                0.88         -0.09   47.17
PHARMA               0.63         -0.75   17.32
APPARELS             0.59          0.20   23.73
HOTELS               0.57        -39.48   88.68
TEXTILES             0.51        -28.48   65.12

In [29]:
# money to be made criteria-wise
df_portfolio_features.groupby('Criteria')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                sum  count
Criteria
XY24      3274633.0     22
XR        1308943.0     14
AR        1172039.0      9
X40        760485.0     12
X40N       604580.0      8
OX40N      566891.0     10
XY25       436363.0      8
SR         266093.0      2
X5K        106462.0      1
X200        70455.0      1
MH          59048.0      1

In [30]:
# money to be made conviction-wise
df_portfolio_features.groupby('Conviction')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                  sum  count
Conviction
H-SC        3376099.0     25
M-SC        1205905.0     15
X-MC        1109557.0     13
X-LC        1007437.0     13
X-SC         524212.0      6
H-MC         332974.0      3
H-LC         277814.0      3
M-LC         274501.0      4
L-SC         250635.0      3
M-MC         169172.0      1
L-MC          59181.0      1
L-LC          38505.0      1

In [31]:
# money to be made criteria and conviction-wise
df_portfolio_features.groupby(['Conviction', 'Criteria'])['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                           sum  count
Conviction Criteria
H-SC       XY24      1163142.0      6
           AR         841509.0      5
           XR         783388.0      7
M-SC       XY24       688512.0      6
X-MC       XY24       584982.0      4
X-LC       X40        437404.0      5
           XY24       303755.0      2
X-SC       X40N       284065.0      4
H-SC       SR         266093.0      2
           OX40N      262919.0      4
X-MC       X40        246755.0      6
H-LC       AR         207359.0      2
X-LC       X40N       204263.0      3
H-MC       XY24       179277.0      1
M-MC       XY24       169172.0      1
X-SC       XY24       163821.0      1
L-SC       XR         162467.0      2
X-MC       XY25       161568.0      2
M-SC       OX40N      145493.0      4
           XY25       136137.0      1
           AR         123171.0      2
X-MC       X40N       116252.0      1
M-SC       XR         112592.0      2
M-LC       XR         107929.0      1
           X5K        106462.0      1
L-SC       OX40N       88168.0      1
H-MC       XR          83386.0      1
X-SC       X40         76326.0      1
H-LC       X200        70455.0      1
H-MC       OX40N       70311.0      1
X-LC       XY25        62015.0      3
L-MC       XR          59181.0      1
H-SC       MH          59048.0      1
L-LC       XY25        38505.0      1
M-LC       XY25        38138.0      1
           XY24        21972.0      1

In [32]:
# notebook execution time

end_time = time.time()
execution_time = round(end_time - start_time, 0)
print(f"Notebook execution time: {execution_time} seconds")

Notebook execution time: 41.0 seconds