<a href="https://colab.research.google.com/github/ankit-rathi/Quantvesting_v2/blob/main/myStocks_Portfolio_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyxirr
!pip install yfinance==0.2.59

Requirement already satisfied: pyxirr in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (0.10.6)

Requirement already satisfied: yfinance==0.2.59 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (0.2.59)
Requirement already satisfied: pandas>=1.3.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.2.5)
Requirement already satisfied: requests>=2.31 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.10.0)
Requirement already satisfied: protobuf<6,>=5.29.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (5.29.4)
Requirement already satisfied: websockets>=11.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (4.13.2)
Requirement already satisfied: cffi>=1.12.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (2025.4.26)

Requirement already satisfied: pycparser in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance==0.2.59) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance==0.2.59) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (2.4.0)

In [2]:
# import libraries

import numpy as np
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import yfinance as yfin
import matplotlib.pyplot as plt
import requests

In [3]:
# notebook start time
import time
import datetime
import pytz

start_time = time.time()

# function to print date timestamp
def print_date_time():
  tz_NY = pytz.timezone('Asia/Kolkata')
  datetime_NY = datetime.datetime.now(tz_NY)
  print("Run date time (IST):", datetime_NY.strftime("%Y-%m-%d %H:%M:%S"))

In [4]:
# function to get booked and reserved amount
def get_amt():
  # fetch the JSON data from the URL
  url = "https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioAmts.json"
  response = requests.get(url)
  pf_amts = response.json()  # parse the JSON data

  # extract values from the JSON
  py_booked_amt_dm = pf_amts["py_booked_amt_dm"]
  py_booked_amt_sv = pf_amts["py_booked_amt_sv"]
  cy_booked_amt_dm = pf_amts["cy_booked_amt_dm"]
  cy_booked_amt_sv = pf_amts["cy_booked_amt_sv"]
  reserve_amt_dm = pf_amts["reserve_amt_dm"]
  reserve_amt_sv = pf_amts["reserve_amt_sv"]

  # perform calculations
  py_booked_amt = py_booked_amt_dm + py_booked_amt_sv
  cy_booked_amt = cy_booked_amt_dm + cy_booked_amt_sv
  reserve_amt = reserve_amt_dm + reserve_amt_sv
  total_booked_amt = py_booked_amt + cy_booked_amt

  return total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt

gen_output = 0

In [5]:
# function to format the amount
def format_amt(number):
    abs_number = abs(number)

    if abs_number >= 1_00_00_000:  # Crores
        formatted_amt = f"{number / 1_00_00_000:.2f} C"
    elif abs_number >= 1_00_000:  # Lakhs
        formatted_amt = f"{number / 1_00_000:.2f} L"
    elif abs_number >= 1_000:  # Thousands
        formatted_amt = f"{number / 1_000:.2f} K"
    else:
        formatted_amt = f"{number:.2f}"

    return formatted_amt

# function to set start and end date
def get_start_end_date():
  start_date = (datetime.date.today() + datetime.timedelta(days=-365)).strftime('%Y-%m-%d')
  end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')
  return start_date, end_date

# function to fetch my portfolio csv
def get_mypfs_df():
  mypfs_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioStocks.csv')
  return mypfs_df

# function to fetch my prospects csv
def get_mypps_df():
  mypps_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myProspectsScrips.csv')
  return mypps_df

# function to fetch screener data
def get_myscreen_df():
  myscreen_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myScreenerDB.csv')
  return myscreen_df

# function to fetch momentum data
def get_myinvmt_df():
  myinvmt_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myInvestments.csv')
  return myinvmt_df

# function to get the stock ids
def get_stock_ids(df_pf):
  stock_n100 = df_pf['Symbol'].unique()

  exclude = ['CADILAHC','MMTC', 'MASFIN']

  stock_ids = df_pf[~df_pf['Symbol'].isin(exclude) ]['Symbol'].unique()

  #mypf = mypf[mypf.Forecast.notnull()]
  #stock_ids = mypf['Symbol'].unique()

  stock_ids.sort()
  return stock_ids

# get features from screener data
def get_screener_features():
  myscreen_df = get_myscreen_df()
  cols = ['Symbol', 'EPS', 'MedPE', 'ROCE%', 'ROE%', 'CapType']
  return myscreen_df[cols]

# get relative strength
def get_relative_strength(stock_list):

    # Dictionary to store stock tickers and their corresponding percentage price change
    stock_changes = {}

    # Loop through each stock and fetch its price data
    for stock in stock_list:
        try:
            # Download the stock data for the given date range
            stock_data = yfin.Ticker(stock + '.NS').history(period='1mo', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

            # Calculate the percentage change for the stock
            if len(stock_data) > 0:
                start_price = stock_data['Close'].iloc[0]
                end_price = stock_data['Close'].iloc[-1]
                percent_change = round(((end_price - start_price) / start_price) * 100, 2)
                stock_changes[stock] = percent_change
            else:
                stock_changes[stock] = np.nan  # If no data is available, set to NaN

        except Exception as e:
            print(f"Error fetching data for {stock}: {e}")
            stock_changes[stock] = np.nan

    # Create a DataFrame with stock tickers and their percentage changes
    df = pd.DataFrame(list(stock_changes.items()), columns=['Symbol', 'Percent_Change'])

    # Drop any stocks with missing data (NaN values)
    df = df.dropna()

    # Calculate the percentile rank based on percentage change
    df['RSP'] = round(df['Percent_Change'].rank(pct=True) * 100, 2)
    cols = ['Symbol', 'RSP']
    df = df[cols]
    # Sort by percentile rank (optional)
    df = df.sort_values(by='RSP', ascending=False).reset_index(drop=True)

    return df

In [6]:
# function to get stock technicals
def stock_prec_dev(stock_symbol):
    #stock_symbol = 'ULTRACEMCO.NS'
    short_window = 20
    mid_window = 50
    long_window = 200
    moving_avg = 'SMA'

    start = datetime.datetime(*map(int, start_date.split('-')))
    end = datetime.datetime(*map(int, end_date.split('-')))

    stock_df = yfin.Ticker(stock_symbol + '.NS').history(period='max', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

    stock_df['Max'] = round(max(stock_df['Close']),2)
    stock_df = stock_df[(stock_df.index <= end_date) & (stock_df.index >= start_date)]
    stock_df['200_SMA'] = round(stock_df['Close'].rolling(window = 200, min_periods = 1).mean(),0)
    stock_df['Dev%_200'] = round((stock_df['Close'] - stock_df['200_SMA'])*100/stock_df['200_SMA'],2)
    stock_df.dropna(axis = 0, inplace = True) # remove any null rows

    stock_df['Symbol'] = stock_symbol

    stock_df['Close'] = round(stock_df['Close'],2)
    stock_df['Min'] = round(min(stock_df['Close']),2)
    stock_df['Prev_Close'] = stock_df['Close'].shift(1)
    stock_df.drop(['Open', 'Low', 'High', 'Volume'], axis=1, inplace=True)
    stock_df = stock_df.tail(1)

    return stock_df

# function to compute stock attributes
def get_common_features(stock_ids, df_mypf):

  df_prec_dev = pd.DataFrame()
  df_tmp = get_screener_features()
  df_rs = get_relative_strength(stock_ids)

  for stock_id in stock_ids:
      tmp = stock_prec_dev(stock_id)
      tmp = tmp.reset_index()
      df_prec_dev = pd.concat([df_prec_dev, tmp], ignore_index = True)
  df_prec_dev = pd.merge(df_prec_dev, df_mypf, on= 'Symbol')
  df_prec_dev = pd.merge(df_prec_dev, df_tmp, on= 'Symbol', how='left')
  df_prec_dev = pd.merge(df_prec_dev, df_rs, on= 'Symbol', how='left')
  #print(df_prec_dev.columns)
  df_prec_dev['Curr_PE'] = round(df_prec_dev['Close']/df_prec_dev['EPS'],1)
  df_prec_dev['Dev%_PE'] = round((df_prec_dev['Curr_PE'] - df_prec_dev['MedPE'])*100/df_prec_dev['MedPE'],2)
  df_prec_dev['Conviction'] = df_prec_dev['Conviction'] + '-' + df_prec_dev['CapType']
  return df_prec_dev

# function to arrange stock features
def arrange_features(df_stocks, common_cols, diff_cols):
  df_stocks_common = df_stocks[common_cols].drop_duplicates()
  df_stocks_diff = df_stocks[diff_cols]
  df_stocks_diff['Investment'] = df_stocks_diff['AvgCost'] * df_stocks_diff['Shares']
  df_stocks_diff = df_stocks_diff.groupby(['Symbol'])[['Shares', 'Investment']].aggregate(['sum']).reset_index()
  df_stocks_diff.columns = ['Symbol', 'Shares', 'Investment']
  df_stocks_diff['AvgCost'] = round(df_stocks_diff['Investment']/df_stocks_diff['Shares'],2)
  df_stocks = pd.merge(df_stocks_diff, df_stocks_common, on='Symbol')
  return df_stocks

# plot fact distribution across dimension
def plot_pie_chart(df, dimension, fact):
  # grouping the data by category and calculating the sum of fact for each type
  grouped_data = df.groupby(dimension)[fact].sum()

  # sorting the grouped data in descending order
  grouped_data = grouped_data.sort_values(ascending=False)

  # creating a pie chart
  grouped_data.plot.pie(autopct='%1.1f%%', startangle=90, figsize=(6, 6))

  # adding a title and displaying the plot
  plt.title(f'{dimension} {fact} Distribution')
  plt.ylabel('')  # To hide the y-label
  plt.show()

In [7]:
# function to get portfolio features

def get_portfolio_features(df_common_features):

  print_date_time()
  print('-------------------')

  #df_common_features["Target"] = df_common_features["Target"].fillna(df_common_features["Max"])
  df_common_features['NTT'] = np.where(df_common_features['Strategy']== 'NTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['LTT'] = np.where(df_common_features['Strategy']== 'BTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['BOL'] = df_common_features['Min']

  tmp_df = df_common_features[df_common_features['Symbol'].isin(mypf_df[mypf_df['InPortfolio'] != 'NA'].Symbol.values)]
  print('qualified stocks: '+str(len(tmp_df['Symbol'].unique())))
  tmp_df1 = tmp_df[tmp_df['LatestQtr'] == 1]
  print('with latest results: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df1 = tmp_df1[tmp_df1['StarStock'] == 1]
  print('still star stocks: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df['Investment'] = tmp_df['AvgCost'] * tmp_df['Shares']
  tmp_df['Current'] = round(tmp_df['Close'] * tmp_df['Shares'],0)
  tmp_df['Previous'] = tmp_df['Prev_Close'] * tmp_df['Shares']
  tmp_df['EstimatedST'] = tmp_df['NTT'] * tmp_df['Shares']
  tmp_df['EstimatedLT'] = tmp_df['LTT'] * tmp_df['Shares']
  tmp_df['Current P/L'] = round((tmp_df['Current'] - tmp_df['Investment']),0)
  tmp_df['Today P/L%'] = round((tmp_df['Current'] - tmp_df['Previous'])*100/tmp_df['Previous'],2)
  tmp_df['Current P/L%'] = round((tmp_df['Current'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedST P/L%'] = round((tmp_df['EstimatedST'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedLT P/L%'] = round((tmp_df['EstimatedLT'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['NTT%'] = round((tmp_df['NTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['LTT%'] = round((tmp_df['LTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['Gained%'] = round((tmp_df['Close'] - tmp_df['BOL'])*100/tmp_df['BOL'],2)
  investment = round(sum(tmp_df['AvgCost']*tmp_df['Shares']),0)
  current = round(sum(tmp_df['Close']*tmp_df['Shares']),0)
  tmp_df['InitAlloc%'] = round(tmp_df['Investment']*100/investment,2)
  tmp_df['CurrAlloc%'] = round(tmp_df['Current']*100/current,2)
  tmp_df['FTT'] = tmp_df['LTT']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT'] = tmp_df['NTT']
  tmp_df['FTT%'] = tmp_df['LTT%']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT%'] = tmp_df['NTT%']
  tmp_df['FTT Amt'] = round(tmp_df['FTT%'] * tmp_df['Current']/100,0)
  tmp_df['OTT%'] = round((tmp_df['FTT'] - tmp_df['AvgCost'])*100/tmp_df['AvgCost'],2)
  tmp_df['RRR Ind'] = round(tmp_df['Current P/L']/tmp_df['FTT Amt'],2)
  tmp_df['Risk Ind'] = round(tmp_df['Current P/L%']*tmp_df['CurrAlloc%'],0)

  return tmp_df

# function to print portfolio features
def print_portfolio_stats(df_portfolio_features, myinvmt_df):
  from pyxirr import xirr

  total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt = get_amt()

  dates = myinvmt_df['Date'].values
  dates = np.append(dates, datetime.date.today().strftime('%d-%b-%y'))
  investment = myinvmt_df['Investment'].values
  dates= pd.to_datetime(dates)

  current = round(sum(df_portfolio_features['Close']*df_portfolio_features['Shares']),0) + reserve_amt
  investment_xirr = np.append(investment, current)
  cagr = round(xirr(pd.DataFrame({"dates": dates, "amounts": investment_xirr}))*100,2)

  investment = -sum(investment)
  invested = round(sum(df_portfolio_features['AvgCost']*df_portfolio_features['Shares']),0) + reserve_amt
  previous = round(sum(df_portfolio_features['Prev_Close']*df_portfolio_features['Shares']),0) + reserve_amt
  cy_invested = investment + py_booked_amt

  today_pnl_amount = current-previous
  today_pnl_percentage = round((current-previous)*100/previous,2)

  curr_pnl_amount = current-invested
  curr_pnl_percentage = round((curr_pnl_amount)*100/(cy_invested),2)

  cy_pnl_amount = cy_booked_amt + curr_pnl_amount
  cy_pnl_percentage = round((cy_pnl_amount)*100/cy_invested,2)

  overall_pnl_amount = total_booked_amt + curr_pnl_amount
  overall_pnl_percentage = round((overall_pnl_amount)*100/investment,2)

  estimate_st = round(sum(df_portfolio_features['FTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_st_pnl_amount = estimate_st-current
  est_st_pnl_percentage = round((est_st_pnl_amount)*100/current,2)

  estimate_lt = round(sum(df_portfolio_features['LTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_lt_pnl_amount = estimate_lt-current
  est_lt_pnl_percentage = round((est_lt_pnl_amount)*100/current,2)

  total_profit = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Investment']),0)
  total_loss = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Investment']),0)

  cy_booked_percentage = round((cy_booked_amt)*100/current,2)
  py_booked_percentage = round((py_booked_amt)*100/investment,2)
  total_booked_percentage = round((total_booked_amt)*100/investment,2)

  print('-------------------')
  print('Initial Investment: ', format_amt(investment))
  print('CY Investment: ', format_amt(cy_invested))
  print('Reserve: ', format_amt(reserve_amt))
  print('Current: ',  format_amt(current))
  print('-------------------')
  print('Today PnL: '+ '{} ({}%)'.format(format_amt(today_pnl_amount), today_pnl_percentage))
  print('Current PnL: '+ '{} ({}%)'.format(format_amt(curr_pnl_amount), curr_pnl_percentage))
  print('CY Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(cy_pnl_amount), cy_pnl_percentage))
  print('-------------------')
  print('Total profit: ', format_amt(total_profit))
  print('Total loss: ', format_amt(total_loss))
  print('-------------------')
  print('Total Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(overall_pnl_amount), overall_pnl_percentage))
  print('Total Booked PnL: '+ '{} ({}%)'.format(format_amt(total_booked_amt), total_booked_percentage))
  print('Curr Year Booked PnL: '+ '{} ({}%)'.format(format_amt(cy_booked_amt), cy_booked_percentage))
  print('Prev Year Booked PnL: '+ '{} ({}%)'.format(format_amt(py_booked_amt), py_booked_percentage))
  print('===================')
  print('Est FTT: ',  format_amt(estimate_st))
  print('Est FTT PnL: '+ '{} ({}%)'.format(format_amt(est_st_pnl_amount), est_st_pnl_percentage))
  print('-------------------')
  print('Est LTT: ',  format_amt(estimate_lt))
  print('Est LTT PnL: '+ '{} ({}%)'.format(format_amt(est_lt_pnl_amount), est_lt_pnl_percentage))

  print('===================')
  print('Deployed: ', format_amt(investment))

  print('Current: ', format_amt(current))

  print('CAGR/XIRR %: '+'{}%'.format(cagr))

In [8]:
# get start and end date
start_date, end_date = get_start_end_date()

# get portfolio and prospects data
mypfs_df = get_mypfs_df()
mypps_df = get_mypps_df()
myinvmt_df = get_myinvmt_df()

# merge above datasets
mypf_df = pd.merge(mypfs_df, mypps_df, on="Symbol")

# seggregate dm and sv portfolio
dm_pf = mypf_df[mypf_df['InPortfolio'] == 'DM']
sv_pf = mypf_df[mypf_df['InPortfolio'] == 'SV']

# build portfolio stock dataframe
dm_stocks = get_stock_ids(dm_pf)
sv_stocks = get_stock_ids(sv_pf)
df_stocks = pd.concat([dm_pf,sv_pf], ignore_index = True)

# arrange common and diff stock features
common_cols = ['Symbol', 'Target', 'Criteria', 'Strategy', 'CumlRnk', 'LatestQtr', 'StarStock', 'Conviction', 'Category', 'InFolio', 'XIRR', 'MBQ']
diff_cols = ['Symbol', 'AvgCost', 'Shares']
df_stocks = arrange_features(df_stocks, common_cols, diff_cols)

# get common features
stock_ids = df_stocks['Symbol'].values
df_common_features = get_common_features(stock_ids, df_stocks)

df_common_features.reset_index(drop=True, inplace=True)
df_common_features.drop(['Date'], axis=1, inplace=True)
# get and print portfolio features
df_portfolio_features = get_portfolio_features(df_common_features)

print_portfolio_stats(df_portfolio_features, myinvmt_df)

df = df_portfolio_features
#plot_pie_chart(df, 'CapType', 'Current')

Run date time (IST): 2025-05-08 12:26:07
-------------------
qualified stocks: 94
with latest results: 87
still star stocks: 47
-------------------
Initial Investment:  1.14 C
CY Investment:  1.41 C
Reserve:  6.31 L
Current:  1.24 C
-------------------
Today PnL: 74.89 K (0.61%)
Current PnL: -21.40 L (-15.17%)
CY Booked + Current PnL: -18.56 L (-13.16%)
-------------------
Total profit:  3.07 L
Total loss:  -24.46 L
-------------------
Total Booked + Current PnL: 8.42 L (7.38%)
Total Booked PnL: 29.81 L (26.14%)
Curr Year Booked PnL: 2.83 L (2.28%)
Prev Year Booked PnL: 26.98 L (23.66%)
===================
Est FTT:  2.05 C
Est FTT PnL: 80.59 L (64.93%)
-------------------
Est LTT:  2.66 C
Est LTT PnL: 1.42 C (114.18%)
===================
Deployed:  1.14 C
Current:  1.24 C
CAGR/XIRR %: 6.16%

In [9]:
# top 5 near their targets
cols = ['Symbol', 'AvgCost', 'FTT', 'Dev%_PE', 'Conviction', 'RSP', 'Current', 'Current P/L', 'FTT Amt', 'Today P/L%', 'Current P/L%', 'FTT%', 'OTT%', 'CumlRnk', 'RRR Ind', 'CurrAlloc%', 'Gained%', 'Criteria', 'Strategy', 'Category']
df_tmp = df_portfolio_features.sort_values(by = 'FTT Amt', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
52,MRF,114777.60,150504.14,22.35,X-MC,97.87,140725.0,25947.0,9780.0,0.22,22.61,6.95,31.13,203.0,2.65,1.19,37.08,AR,ATH,TYRES
70,SBILIFE,1496.49,1924.99,-1.84,H-LC,88.30,145832.0,20127.0,15867.0,-0.48,16.01,10.88,28.63,116.0,1.27,1.24,29.92,AR,ATH,INSURANCE
57,PIDILITIND,2504.06,3576.00,-14.91,X-LC,25.53,88818.0,13696.0,18465.0,-0.49,18.23,20.79,42.81,66.0,0.74,0.75,11.39,X40,BTT,CHEMICALS
71,SBIN,760.30,863.00,-17.60,M-LC,31.91,206938.0,5458.0,21749.0,0.62,2.71,10.51,13.51,106.0,0.25,1.76,13.37,XY25,NTT,BANKS
35,ICICIGI,1852.76,2268.71,-18.94,H-LC,32.98,97546.0,-2503.0,24962.0,-1.07,-2.50,25.59,22.45,93.0,-0.10,0.83,18.35,X40,ATH,INSURANCE

In [10]:
# top 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
19,CERA,9059.90,10420.45,82.78,X-SC,42.55,56255.0,-34344.0,47952.0,4.15,-37.91,85.24,15.02,50.0,-0.72,0.48,10.69,X40N,ATH,CERAMICS
49,LUXIND,1448.19,2442.00,28.42,M-SC,48.94,133342.0,-4236.0,98646.0,3.62,-3.08,73.98,68.62,30.0,-0.04,1.13,15.60,X40N,NTT,TEXTILES
88,VAIBHAVGBL,350.21,521.00,47.11,X-SC,69.15,98088.0,-53903.0,128024.0,3.58,-35.46,130.52,48.77,18.0,-0.42,0.83,12.67,XR,NTT,JEWELLERY
90,VIPIND,488.80,718.00,-783.62,H-SC,98.94,65159.0,-30157.0,74848.0,3.29,-31.64,114.87,46.89,39.0,-0.40,0.55,28.52,X40N,NTT,MISC
83,TITAGARH,1097.23,1548.00,-28.30,H-SC,5.32,125930.0,-66085.0,144971.0,3.04,-34.42,115.12,41.08,65.0,-0.46,1.07,6.58,XY24,NTT,ENGINEERING

In [11]:
# bottom 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
21,COLPAL,2837.00,3808.06,4.72,X-MC,55.32,128205.0,-13645.0,62192.0,-2.68,-9.62,48.51,34.23,36.0,-0.22,1.09,9.09,X40,ATH,FMCG
22,DABUR,505.20,735.00,-16.71,X-MC,38.30,183300.0,-13728.0,103345.0,-2.51,-6.97,56.38,45.49,81.0,-0.13,1.56,4.12,XY24,BTT,FMCG
74,SIEMENS,4406.90,7969.85,-19.99,X-LC,54.26,72325.0,-37847.0,126923.0,-2.50,-34.35,175.49,80.85,20.0,-0.30,0.61,6.52,AR,ATH,ELECTRICAL
20,COFFEEDAY,59.14,80.00,-61.77,L-SC,68.09,57830.0,-55719.0,95766.0,-2.02,-49.07,165.60,35.27,151.0,-0.58,0.49,41.54,XR,NTT,HOTELS
35,ICICIGI,1852.76,2268.71,-18.94,H-LC,32.98,97546.0,-2503.0,24962.0,-1.07,-2.50,25.59,22.45,93.0,-0.10,0.83,18.35,X40,ATH,INSURANCE

In [12]:
# top 5 to accumulate
df_tmp = df_portfolio_features.sort_values(by = 'CumlRnk', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
81,TATAMOTORS,798.82,1065.00,-53.87,M-LC,89.36,142526.0,-21232.0,75795.0,2.20,-12.97,53.18,33.32,1.0,-0.28,1.21,19.92,XY24,NTT,AUTO
79,TANLA,991.56,1963.11,-57.27,H-SC,73.40,108599.0,-110536.0,325243.0,2.96,-50.44,299.49,97.98,2.0,-0.34,0.92,17.63,AR,ATH,IT
2,ABB,5319.37,8953.12,-40.46,H-LC,63.83,135162.0,2178.0,88666.0,0.17,1.64,65.60,68.31,3.0,0.02,1.15,10.21,AR,ATH,ELECTRICAL
24,DLF,684.82,1031.70,-26.74,H-LC,71.28,101265.0,-1458.0,53488.0,-0.61,-1.42,52.82,50.65,4.0,-0.03,0.86,11.03,AR,ATH,REALTY
10,AWL,361.39,485.00,-68.88,H-MC,8.51,136732.0,-49384.0,113036.0,1.47,-26.53,82.67,34.20,6.0,-0.44,1.16,12.62,XY24,NTT,FMCG

In [13]:
# top 5 to book for rotation
df_tmp = df_portfolio_features[(df_portfolio_features['Current P/L%'] > 20) ].sort_values(by = 'CumlRnk', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
52,MRF,114777.60,150504.14,22.35,X-MC,97.87,140725.0,25947.0,9780.0,0.22,22.61,6.95,31.13,203.0,2.65,1.19,37.08,AR,ATH,TYRES
4,ADANIPORTS,1103.69,1583.00,5.42,M-LC,92.55,186197.0,34991.0,30667.0,1.56,23.14,16.47,43.43,45.0,1.14,1.58,29.06,XY24,NTT,MISC

In [14]:
# top 5 to monitor
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[(df_tmp['Current P/L%'] > 0) ].sort_values(by = 'Dev%_PE', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
54,NHPC,82.08,115.00,192.82,M-MC,17.02,141821.0,808.0,55750.0,-1.03,0.57,39.31,40.11,211.0,0.01,1.20,15.94,XY24,NTT,POWER
58,POLYCAB,5005.92,7541.35,16.31,H-MC,90.43,165018.0,24852.0,46139.0,0.12,17.73,27.96,50.65,74.0,0.54,1.40,25.94,X40N,ATH,CABLES
4,ADANIPORTS,1103.69,1583.00,5.42,M-LC,92.55,186197.0,34991.0,30667.0,1.56,23.14,16.47,43.43,45.0,1.14,1.58,29.06,XY24,NTT,MISC
6,ANGELONE,2328.67,3033.00,-3.83,H-SC,72.34,157170.0,5806.0,39968.0,1.78,3.84,25.43,30.25,108.0,0.15,1.33,24.40,X40N,NTT,FINANCE
18,CAMS,3643.00,5250.99,-6.77,H-SC,41.49,103085.0,1081.0,43945.0,1.07,1.06,42.63,44.14,26.0,0.02,0.88,20.71,XR,ATH,MISC

In [15]:
# top 5 to book for rotation from weak conviction
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[~df_tmp['Criteria'].isin(['XY25','XY24','X40', 'X40N'])].sort_values(by = 'RRR Ind', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
18,CAMS,3643.00,5250.99,-6.77,H-SC,41.49,103085.0,1081.0,43945.0,1.07,1.06,42.63,44.14,26.0,0.02,0.88,20.71,XR,ATH,MISC
93,WIPRO,243.46,420.00,-12.43,M-LC,13.83,150158.0,-787.0,110246.0,-0.76,-0.52,73.42,72.51,77.0,-0.01,1.27,13.06,XR,NTT,IT
12,BANKINDIA,113.49,190.00,-27.18,M-MC,35.11,127024.0,-2128.0,89196.0,2.23,-1.65,70.22,67.42,99.0,-0.02,1.08,23.54,XR,NTT,BANKS
91,VOLTAS,1272.00,1929.20,-18.71,H-MC,6.38,138479.0,-1441.0,73726.0,1.20,-1.03,53.24,51.67,9.0,-0.02,1.18,4.59,AR,ATH,AC
1,AARTIIND,487.04,919.00,22.43,M-SC,100.00,77346.0,-3990.0,76124.0,1.03,-4.91,98.42,88.69,114.0,-0.05,0.66,30.43,XR,NTT,CHEMICALS

In [16]:
# top 5 for average up
df_tmp = df_portfolio_features[(df_portfolio_features['Dev%_200'] > 5)].sort_values(by = 'CurrAlloc%', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
86,UJJIVANSFB,52.77,60.00,-42.16,M-SC,77.66,111834.0,-30645.0,50169.0,1.59,-21.51,44.86,13.70,139.0,-0.61,0.95,31.99,X40N,NTT,BANKS
52,MRF,114777.60,150504.14,22.35,X-MC,97.87,140725.0,25947.0,9780.0,0.22,22.61,6.95,31.13,203.0,2.65,1.19,37.08,AR,ATH,TYRES
70,SBILIFE,1496.49,1924.99,-1.84,H-LC,88.30,145832.0,20127.0,15867.0,-0.48,16.01,10.88,28.63,116.0,1.27,1.24,29.92,AR,ATH,INSURANCE
14,BERGEPAINT,558.54,680.00,-19.11,H-MC,37.23,173716.0,-3341.0,41848.0,1.23,-1.89,24.09,21.75,154.0,-0.08,1.47,24.26,XY24,NTT,PAINTS
51,MEDANTA,1022.60,1486.00,4.65,X-MC,14.89,184391.0,28956.0,41488.0,0.18,18.63,22.50,45.32,189.0,0.70,1.57,25.46,XY24,NTT,HEALTHCARE

In [17]:
# top 5 RSP
df_tmp = df_portfolio_features.sort_values(by = 'RSP', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
1,AARTIIND,487.04,919.00,22.43,M-SC,100.00,77346.0,-3990.0,76124.0,1.03,-4.91,98.42,88.69,114.0,-0.05,0.66,30.43,XR,NTT,CHEMICALS
90,VIPIND,488.80,718.00,-783.62,H-SC,98.94,65159.0,-30157.0,74848.0,3.29,-31.64,114.87,46.89,39.0,-0.40,0.55,28.52,X40N,NTT,MISC
52,MRF,114777.60,150504.14,22.35,X-MC,97.87,140725.0,25947.0,9780.0,0.22,22.61,6.95,31.13,203.0,2.65,1.19,37.08,AR,ATH,TYRES
76,SONACOMS,578.05,1006.00,-31.21,M-MC,96.81,89320.0,-11839.0,86730.0,-0.15,-11.70,97.10,74.03,7.0,-0.14,0.76,25.53,AR,BTT,AUTO
38,INDUSINDBK,1354.50,1800.00,-36.29,H-MC,95.74,47062.0,-30144.0,55538.0,-0.98,-39.04,118.01,32.89,46.0,-0.54,0.40,29.61,XR,NTT,BANKS

In [18]:
# Top N allocation
df_tmp = df_portfolio_features.sort_values(by = 'CurrAlloc%', ascending=False)
top_n_values = [10, 25, 50]

sum_df = pd.DataFrame({
    'Top_N': top_n_values,
    'Sum_Alloc%': [df_tmp['CurrAlloc%'].head(n).sum() for n in top_n_values]
})

sum_df

   Top_N  Sum_Alloc%
0     10       19.82
1     25       41.71
2     50       69.69

In [19]:
# criteria-wise allocation
df_portfolio_features.groupby('Criteria')['CurrAlloc%'].sum().sort_values(ascending=False)

Criteria
XY24    35.94
X40N    14.07
X40     13.59
AR      12.12
XY25    11.40
XR      10.54
X200     1.18
SR       1.17
Name: CurrAlloc%, dtype: float64

In [20]:
# conviction-wise allocation
df_portfolio_features.groupby('Conviction')['CurrAlloc%'].sum().sort_values(ascending=False)

Conviction
H-SC    21.41
X-LC    18.76
M-SC    16.47
M-LC     8.12
M-MC     7.67
X-MC     7.01
H-MC     6.44
H-LC     5.59
X-SC     2.66
L-SC     2.27
Name: CurrAlloc%, dtype: float64

In [21]:
# sector-wise stats
df_tmp = df_portfolio_features.groupby('Category')[['CurrAlloc%', 'Current', 'Current P/L', 'FTT Amt']].sum().sort_values(by=['Current', 'Current P/L'], ascending=False)
df_tmp['Current P/L%'] = round(df_tmp['Current P/L'] * 100 / df_tmp['Current'], 2)
df_tmp['FTT%'] = round(df_tmp['FTT Amt'] * 100 / df_tmp['Current'], 2)
cols = ['CurrAlloc%', 'Current P/L%', 'FTT%']
df_tmp[cols].sort_values(by=['CurrAlloc%'], ascending=False)

               CurrAlloc%  Current P/L%    FTT%
Category
BANKS               11.33        -12.99   68.42
FMCG                11.12         -3.07   34.62
IT                   9.10        -27.12   93.67
FINANCE              7.48        -25.43   82.03
MISC                 6.52        -34.15   82.69
PAINTS               5.80        -20.24   55.83
INSURANCE            5.53         -7.46   39.89
ELECTRICAL           4.21        -12.35   69.59
REFINERIES           3.80          9.09    7.67
HEALTHCARE           3.77         -5.04   38.96
CHEMICALS            3.31        -21.28  104.84
AUTO                 2.91        -20.42   73.36
FOOTWEAR             2.49        -40.34   86.71
POWER                2.08        -15.18   61.25
AC                   2.01        -13.60   74.21
TRAVEL               1.99        -35.17   93.66
TEXTILES             1.72        -13.43   73.00
DURABLES             1.67         -2.02   80.18
STEEL                1.65        -15.72  101.97
CERAMICS             1.49        -62.94  129.23
CABLES               1.40         15.06   27.96
JEWELLERY            1.25        -95.24  156.98
TYRES                1.19         18.44    6.95
CEMENT               1.15        -39.31  110.99
ENGINEERING          1.07        -52.48  115.12
ENTERTAINMENT        0.90        -54.30  131.89
PHARMA               0.87          1.01   48.28
REALTY               0.86         -1.44   52.82
MINING               0.85         -0.35   25.40
HOTELS               0.49        -96.35  165.60

In [22]:
# money to be made criteria-wise
df_portfolio_features.groupby('Criteria')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                sum  count
Criteria
XY24      3192192.0     28
XR        1304464.0     15
X40N      1241953.0     17
AR        1069804.0     13
X40        772699.0     12
SR         207132.0      2
XY25       192682.0      6
X200        78449.0      1

In [23]:
# money to be made conviction-wise
df_portfolio_features.groupby('Conviction')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                  sum  count
Conviction
H-SC        2329002.0     21
M-SC        1982046.0     20
X-LC         771105.0     12
M-MC         687381.0      7
X-SC         364052.0      4
H-MC         363496.0      6
M-LC         359460.0      6
X-MC         330744.0      6
L-SC         330112.0      4
H-LC         225184.0      5

In [24]:
# money to be made criteria and conviction-wise
df_portfolio_features.groupby(['Conviction', 'Criteria'])['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                          sum  count
Conviction Criteria
H-SC       XY24      962284.0      6
M-SC       XY24      805228.0      6
H-SC       X40N      579551.0      7
M-MC       XY24      486043.0      4
M-SC       XR        444684.0      5
X-LC       X40       397269.0      5
M-SC       X40N      388839.0      5
H-SC       AR        387601.0      2
           XR        309612.0      4
M-LC       XY24      227465.0      4
X-LC       AR        192067.0      3
L-SC       XR        167164.0      2
M-SC       X40       165113.0      2
H-LC       AR        158021.0      3
H-MC       XY24      154884.0      2
X-MC       XY24      144833.0      2
X-SC       XR        128024.0      1
           SR        122543.0      1
X-MC       X40N      113939.0      2
X-SC       X40N      113485.0      2
M-LC       XR        110246.0      1
X-LC       XY25      103320.0      3
L-SC       XY24       94662.0      1
M-SC       AR         93593.0      1
H-SC       X40        89954.0      2
M-MC       XR         89196.0      1
           AR         86730.0      1
M-SC       SR         84589.0      1
X-LC       X200       78449.0      1
H-MC       AR         73726.0      1
L-SC       AR         68286.0      1
X-MC       X40        62192.0      1
H-MC       XR         55538.0      1
           X40N       46139.0      1
H-LC       XY25       42201.0      1
H-MC       X40        33209.0      1
M-MC       XY25       25412.0      1
H-LC       X40        24962.0      1
M-LC       XY25       21749.0      1
X-MC       AR          9780.0      1

In [25]:
# notebook execution time

end_time = time.time()
execution_time = round(end_time - start_time, 0)
print(f"Notebook execution time: {execution_time} seconds")

Notebook execution time: 43.0 seconds