<a href="https://colab.research.google.com/github/ankit-rathi/Quantvesting_v2/blob/main/myStocks_Portfolio_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyxirr
!pip install yfinance==0.2.59

Requirement already satisfied: pyxirr in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (0.10.6)

Collecting yfinance==0.2.59

  Downloading yfinance-0.2.59-py2.py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: pandas>=1.3.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.3.0)
Requirement already satisfied: numpy>=1.16.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.2.6)
Requirement already satisfied: requests>=2.31 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.11.2)

Collecting protobuf<6,>=5.29.0 (from yfinance==0.2.59)
  Downloading protobuf-5.29.5-cp38-abi3-manylinux2014_x86_64.whl.metadata (592 bytes)
Requirement already satisfied: websockets>=11.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (4.14.0)
Requirement already satisfied: cffi>=1.12.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (2025.4.26)
Requirement already satisfied: pycparser in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance==0.2.59) (2.22)

Requirement already satisfied: python-dateutil>=2.8.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance==0.2.59) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (2.4.0)
Downloading yfinance-0.2.59-py2.py3-none-any.whl (117 kB)

Downloading protobuf-5.29.5-cp38-abi3-manylinux2014_x86_64.whl (319 kB)

Installing collected packages: protobuf, yfinance
  Attempting uninstall: protobuf
    Found existing installation: protobuf 6.31.1
    Uninstalling protobuf-6.31.1:
      Successfully uninstalled protobuf-6.31.1

  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.2.61
    Uninstalling yfinance-0.2.61:
      Successfully uninstalled yfinance-0.2.61
   ━━━━━━━━━━━━━━━━━━━━╺━━━━━━━━━━━━━━━━━━━ 1/2 [yfinance]

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [yfinance]
Successfully installed protobuf-5.29.5 yfinance-0.2.59

In [2]:
# import libraries

import numpy as np
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import yfinance as yfin
import matplotlib.pyplot as plt
import requests

In [3]:
# notebook start time
import time
import datetime
import pytz

start_time = time.time()

# function to print date timestamp
def print_date_time():
  tz_NY = pytz.timezone('Asia/Kolkata')
  datetime_NY = datetime.datetime.now(tz_NY)
  print("Run date time (IST):", datetime_NY.strftime("%Y-%m-%d %H:%M:%S"))

In [4]:
# function to get booked and reserved amount
def get_amt():
  # fetch the JSON data from the URL
  url = "https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioAmts.json"
  response = requests.get(url)
  pf_amts = response.json()  # parse the JSON data

  # extract values from the JSON
  py_booked_amt_dm = pf_amts["py_booked_amt_dm"]
  py_booked_amt_sv = pf_amts["py_booked_amt_sv"]
  cy_booked_amt_dm = pf_amts["cy_booked_amt_dm"]
  cy_booked_amt_sv = pf_amts["cy_booked_amt_sv"]
  reserve_amt_dm = pf_amts["reserve_amt_dm"]
  reserve_amt_sv = pf_amts["reserve_amt_sv"]

  # perform calculations
  py_booked_amt = py_booked_amt_dm + py_booked_amt_sv
  cy_booked_amt = cy_booked_amt_dm + cy_booked_amt_sv
  reserve_amt = reserve_amt_dm + reserve_amt_sv
  total_booked_amt = py_booked_amt + cy_booked_amt

  return total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt

gen_output = 0

In [5]:
# function to format the amount
def format_amt(number):
    abs_number = abs(number)

    if abs_number >= 1_00_00_000:  # Crores
        formatted_amt = f"{number / 1_00_00_000:.2f} C"
    elif abs_number >= 1_00_000:  # Lakhs
        formatted_amt = f"{number / 1_00_000:.2f} L"
    elif abs_number >= 1_000:  # Thousands
        formatted_amt = f"{number / 1_000:.2f} K"
    else:
        formatted_amt = f"{number:.2f}"

    return formatted_amt

# function to set start and end date
def get_start_end_date():
  start_date = (datetime.date.today() + datetime.timedelta(days=-365)).strftime('%Y-%m-%d')
  end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')
  return start_date, end_date

# function to fetch my portfolio csv
def get_mypfs_df():
  mypfs_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioStocks.csv')
  return mypfs_df

# function to fetch my prospects csv
def get_mypps_df():
  mypps_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myProspectsScrips.csv')
  return mypps_df

# function to fetch screener data
def get_myscreen_df():
  myscreen_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myScreenerDB.csv')
  return myscreen_df

# function to fetch momentum data
def get_myinvmt_df():
  myinvmt_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myInvestments.csv')
  return myinvmt_df

# function to get the stock ids
def get_stock_ids(df_pf):
  stock_n100 = df_pf['Symbol'].unique()

  exclude = ['CADILAHC','MMTC', 'MASFIN']

  stock_ids = df_pf[~df_pf['Symbol'].isin(exclude) ]['Symbol'].unique()

  #mypf = mypf[mypf.Forecast.notnull()]
  #stock_ids = mypf['Symbol'].unique()

  stock_ids.sort()
  return stock_ids

# get features from screener data
def get_screener_features():
  myscreen_df = get_myscreen_df()
  cols = ['Symbol', 'EPS', 'MedPE', 'ROCE%', 'ROE%', 'CapType']
  return myscreen_df[cols]

# get relative strength
def get_relative_strength(stock_list):

    # Dictionary to store stock tickers and their corresponding percentage price change
    stock_changes = {}

    # Loop through each stock and fetch its price data
    for stock in stock_list:
        try:
            # Download the stock data for the given date range
            stock_data = yfin.Ticker(stock + '.NS').history(period='1mo', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

            # Calculate the percentage change for the stock
            if len(stock_data) > 0:
                start_price = stock_data['Close'].iloc[0]
                end_price = stock_data['Close'].iloc[-1]
                percent_change = round(((end_price - start_price) / start_price) * 100, 2)
                stock_changes[stock] = percent_change
            else:
                stock_changes[stock] = np.nan  # If no data is available, set to NaN

        except Exception as e:
            print(f"Error fetching data for {stock}: {e}")
            stock_changes[stock] = np.nan

    # Create a DataFrame with stock tickers and their percentage changes
    df = pd.DataFrame(list(stock_changes.items()), columns=['Symbol', 'Percent_Change'])

    # Drop any stocks with missing data (NaN values)
    df = df.dropna()

    # Calculate the percentile rank based on percentage change
    df['RSP'] = round(df['Percent_Change'].rank(pct=True) * 100, 2)
    cols = ['Symbol', 'RSP']
    df = df[cols]
    # Sort by percentile rank (optional)
    df = df.sort_values(by='RSP', ascending=False).reset_index(drop=True)

    return df

In [6]:
# function to get stock technicals
def stock_prec_dev(stock_symbol):
    #stock_symbol = 'ULTRACEMCO.NS'
    short_window = 20
    mid_window = 50
    long_window = 200
    moving_avg = 'SMA'

    start = datetime.datetime(*map(int, start_date.split('-')))
    end = datetime.datetime(*map(int, end_date.split('-')))

    stock_df = yfin.Ticker(stock_symbol + '.NS').history(period='max', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

    stock_df['Max'] = round(max(stock_df['Close']),2)
    stock_df = stock_df[(stock_df.index <= end_date) & (stock_df.index >= start_date)]
    stock_df['200_SMA'] = round(stock_df['Close'].rolling(window = 200, min_periods = 1).mean(),0)
    stock_df['Dev%_200'] = round((stock_df['Close'] - stock_df['200_SMA'])*100/stock_df['200_SMA'],2)
    stock_df.dropna(axis = 0, inplace = True) # remove any null rows

    stock_df['Symbol'] = stock_symbol

    stock_df['Close'] = round(stock_df['Close'],2)
    stock_df['Min'] = round(min(stock_df['Close']),2)
    stock_df['Prev_Close'] = stock_df['Close'].shift(1)
    stock_df.drop(['Open', 'Low', 'High', 'Volume'], axis=1, inplace=True)
    stock_df = stock_df.tail(1)

    return stock_df

# function to compute stock attributes
def get_common_features(stock_ids, df_mypf):

  df_prec_dev = pd.DataFrame()
  df_tmp = get_screener_features()
  df_rs = get_relative_strength(stock_ids)

  for stock_id in stock_ids:
      tmp = stock_prec_dev(stock_id)
      tmp = tmp.reset_index()
      df_prec_dev = pd.concat([df_prec_dev, tmp], ignore_index = True)
  df_prec_dev = pd.merge(df_prec_dev, df_mypf, on= 'Symbol')
  df_prec_dev = pd.merge(df_prec_dev, df_tmp, on= 'Symbol', how='left')
  df_prec_dev = pd.merge(df_prec_dev, df_rs, on= 'Symbol', how='left')
  #print(df_prec_dev.columns)
  df_prec_dev['Curr_PE'] = round(df_prec_dev['Close']/df_prec_dev['EPS'],1)
  df_prec_dev['Dev%_PE'] = round((df_prec_dev['Curr_PE'] - df_prec_dev['MedPE'])*100/df_prec_dev['MedPE'],2)
  df_prec_dev['Conviction'] = df_prec_dev['Conviction'] + '-' + df_prec_dev['CapType']
  return df_prec_dev

# function to arrange stock features
def arrange_features(df_stocks, common_cols, diff_cols):
  df_stocks_common = df_stocks[common_cols].drop_duplicates()
  df_stocks_diff = df_stocks[diff_cols]
  df_stocks_diff['Investment'] = df_stocks_diff['AvgCost'] * df_stocks_diff['Shares']
  df_stocks_diff = df_stocks_diff.groupby(['Symbol'])[['Shares', 'Investment']].aggregate(['sum']).reset_index()
  df_stocks_diff.columns = ['Symbol', 'Shares', 'Investment']
  df_stocks_diff['AvgCost'] = round(df_stocks_diff['Investment']/df_stocks_diff['Shares'],2)
  df_stocks = pd.merge(df_stocks_diff, df_stocks_common, on='Symbol')
  return df_stocks

# plot fact distribution across dimension
def plot_pie_chart(df, dimension, fact):
  # grouping the data by category and calculating the sum of fact for each type
  grouped_data = df.groupby(dimension)[fact].sum()

  # sorting the grouped data in descending order
  grouped_data = grouped_data.sort_values(ascending=False)

  # creating a pie chart
  grouped_data.plot.pie(autopct='%1.1f%%', startangle=90, figsize=(6, 6))

  # adding a title and displaying the plot
  plt.title(f'{dimension} {fact} Distribution')
  plt.ylabel('')  # To hide the y-label
  plt.show()

In [7]:
# function to get portfolio features

def get_portfolio_features(df_common_features):

  print_date_time()
  print('-------------------')

  #df_common_features["Target"] = df_common_features["Target"].fillna(df_common_features["Max"])
  df_common_features['NTT'] = np.where(df_common_features['Strategy']== 'NTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['LTT'] = np.where(df_common_features['Strategy']== 'BTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['BOL'] = df_common_features['Min']

  tmp_df = df_common_features[df_common_features['Symbol'].isin(mypf_df[mypf_df['InPortfolio'] != 'NA'].Symbol.values)]
  print('qualified stocks: '+str(len(tmp_df['Symbol'].unique())))
  tmp_df1 = tmp_df[tmp_df['LatestQtr'] == 1]
  print('with latest results: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df1 = tmp_df1[tmp_df1['StarStock'] == 1]
  print('still star stocks: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df['Investment'] = tmp_df['AvgCost'] * tmp_df['Shares']
  tmp_df['Current'] = round(tmp_df['Close'] * tmp_df['Shares'],0)
  tmp_df['Previous'] = tmp_df['Prev_Close'] * tmp_df['Shares']
  tmp_df['EstimatedST'] = tmp_df['NTT'] * tmp_df['Shares']
  tmp_df['EstimatedLT'] = tmp_df['LTT'] * tmp_df['Shares']
  tmp_df['Current P/L'] = round((tmp_df['Current'] - tmp_df['Investment']),0)
  tmp_df['Today P/L%'] = round((tmp_df['Current'] - tmp_df['Previous'])*100/tmp_df['Previous'],2)
  tmp_df['Current P/L%'] = round((tmp_df['Current'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedST P/L%'] = round((tmp_df['EstimatedST'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedLT P/L%'] = round((tmp_df['EstimatedLT'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['NTT%'] = round((tmp_df['NTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['LTT%'] = round((tmp_df['LTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['Gained%'] = round((tmp_df['Close'] - tmp_df['BOL'])*100/tmp_df['BOL'],2)
  investment = round(sum(tmp_df['AvgCost']*tmp_df['Shares']),0)
  current = round(sum(tmp_df['Close']*tmp_df['Shares']),0)
  tmp_df['InitAlloc%'] = round(tmp_df['Investment']*100/investment,2)
  tmp_df['CurrAlloc%'] = round(tmp_df['Current']*100/current,2)
  tmp_df['FTT'] = tmp_df['LTT']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT'] = tmp_df['NTT']
  tmp_df['FTT%'] = tmp_df['LTT%']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT%'] = tmp_df['NTT%']
  tmp_df['FTT Amt'] = round(tmp_df['FTT%'] * tmp_df['Current']/100,0)
  tmp_df['OTT%'] = round((tmp_df['FTT'] - tmp_df['AvgCost'])*100/tmp_df['AvgCost'],2)
  tmp_df['RRR Ind'] = round(tmp_df['Current P/L']/tmp_df['FTT Amt'],2)
  tmp_df['Risk Ind'] = round(tmp_df['Current P/L%']*tmp_df['CurrAlloc%'],0)

  return tmp_df

# function to print portfolio features
def print_portfolio_stats(df_portfolio_features, myinvmt_df):
  from pyxirr import xirr

  total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt = get_amt()

  dates = myinvmt_df['Date'].values
  dates = np.append(dates, datetime.date.today().strftime('%d-%b-%y'))
  investment = myinvmt_df['Investment'].values
  dates= pd.to_datetime(dates)

  current = round(sum(df_portfolio_features['Close']*df_portfolio_features['Shares']),0) + reserve_amt
  investment_xirr = np.append(investment, current)
  cagr = round(xirr(pd.DataFrame({"dates": dates, "amounts": investment_xirr}))*100,2)

  investment = -sum(investment)
  invested = round(sum(df_portfolio_features['AvgCost']*df_portfolio_features['Shares']),0) + reserve_amt
  previous = round(sum(df_portfolio_features['Prev_Close']*df_portfolio_features['Shares']),0) + reserve_amt
  cy_invested = investment + py_booked_amt

  today_pnl_amount = current-previous
  today_pnl_percentage = round((current-previous)*100/previous,2)

  curr_pnl_amount = current-invested
  curr_pnl_percentage = round((curr_pnl_amount)*100/(cy_invested),2)

  cy_pnl_amount = cy_booked_amt + curr_pnl_amount
  cy_pnl_percentage = round((cy_pnl_amount)*100/cy_invested,2)

  overall_pnl_amount = total_booked_amt + curr_pnl_amount
  overall_pnl_percentage = round((overall_pnl_amount)*100/investment,2)

  estimate_st = round(sum(df_portfolio_features['FTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_st_pnl_amount = estimate_st-current
  est_st_pnl_percentage = round((est_st_pnl_amount)*100/current,2)

  estimate_lt = round(sum(df_portfolio_features['LTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_lt_pnl_amount = estimate_lt-current
  est_lt_pnl_percentage = round((est_lt_pnl_amount)*100/current,2)

  total_profit = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Investment']),0)
  total_loss = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Investment']),0)

  cy_booked_percentage = round((cy_booked_amt)*100/current,2)
  py_booked_percentage = round((py_booked_amt)*100/investment,2)
  total_booked_percentage = round((total_booked_amt)*100/investment,2)

  print('-------------------')
  print('Initial Investment: ', format_amt(investment))
  print('CY Investment: ', format_amt(cy_invested))
  print('Reserve: ', format_amt(reserve_amt))
  print('Current: ',  format_amt(current))
  print('-------------------')
  print('Today PnL: '+ '{} ({}%)'.format(format_amt(today_pnl_amount), today_pnl_percentage))
  print('Current PnL: '+ '{} ({}%)'.format(format_amt(curr_pnl_amount), curr_pnl_percentage))
  print('CY Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(cy_pnl_amount), cy_pnl_percentage))
  print('-------------------')
  print('Total profit: ', format_amt(total_profit))
  print('Total loss: ', format_amt(total_loss))
  print('-------------------')
  print('Total Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(overall_pnl_amount), overall_pnl_percentage))
  print('Total Booked PnL: '+ '{} ({}%)'.format(format_amt(total_booked_amt), total_booked_percentage))
  print('Curr Year Booked PnL: '+ '{} ({}%)'.format(format_amt(cy_booked_amt), cy_booked_percentage))
  print('Prev Year Booked PnL: '+ '{} ({}%)'.format(format_amt(py_booked_amt), py_booked_percentage))
  print('===================')
  print('Est FTT: ',  format_amt(estimate_st))
  print('Est FTT PnL: '+ '{} ({}%)'.format(format_amt(est_st_pnl_amount), est_st_pnl_percentage))

  print('===================')
  print('Deployed: ', format_amt(investment))

  print('Current: ', format_amt(current))

  print('CAGR/XIRR %: '+'{}%'.format(cagr))

In [8]:
# get start and end date
start_date, end_date = get_start_end_date()

# get portfolio and prospects data
mypfs_df = get_mypfs_df()
mypps_df = get_mypps_df()
myinvmt_df = get_myinvmt_df()

# merge above datasets
mypf_df = pd.merge(mypfs_df, mypps_df, on="Symbol")

# seggregate dm and sv portfolio
dm_pf = mypf_df[mypf_df['InPortfolio'] == 'DM']
sv_pf = mypf_df[mypf_df['InPortfolio'] == 'SV']

# build portfolio stock dataframe
dm_stocks = get_stock_ids(dm_pf)
sv_stocks = get_stock_ids(sv_pf)
df_stocks = pd.concat([dm_pf,sv_pf], ignore_index = True)

# arrange common and diff stock features
common_cols = ['Symbol', 'Target', 'Criteria', 'Strategy', 'CumlRnk', 'LatestQtr', 'StarStock', 'Conviction', 'Category', 'InFolio', 'XIRR', 'MBQ']
diff_cols = ['Symbol', 'AvgCost', 'Shares']
df_stocks = arrange_features(df_stocks, common_cols, diff_cols)

# get common features
stock_ids = df_stocks['Symbol'].values
df_common_features = get_common_features(stock_ids, df_stocks)

df_common_features.reset_index(drop=True, inplace=True)
df_common_features.drop(['Date'], axis=1, inplace=True)
# get and print portfolio features
df_portfolio_features = get_portfolio_features(df_common_features)

print_portfolio_stats(df_portfolio_features, myinvmt_df)

df = df_portfolio_features
#plot_pie_chart(df, 'CapType', 'Current')

Run date time (IST): 2025-06-06 15:19:21
-------------------
qualified stocks: 90
with latest results: 29
still star stocks: 16
-------------------
Initial Investment:  1.17 C
CY Investment:  1.44 C
Reserve:  4.90 L
Current:  1.33 C
-------------------
Today PnL: 1.12 L (0.85%)
Current PnL: -15.50 L (-10.8%)
CY Booked + Current PnL: -10.29 L (-7.17%)
-------------------
Total profit:  4.51 L
Total loss:  -20.02 L
-------------------
Total Booked + Current PnL: 16.69 L (14.32%)
Total Booked PnL: 32.19 L (27.62%)
Curr Year Booked PnL: 5.21 L (3.91%)
Prev Year Booked PnL: 26.98 L (23.15%)
===================
Est FTT:  2.05 C
Est FTT PnL: 71.47 L (53.6%)
===================
Deployed:  1.17 C
Current:  1.33 C
CAGR/XIRR %: 9.58%

In [9]:
# top 5 near their targets
cols = ['Symbol', 'AvgCost', 'FTT', 'Dev%_PE', 'Conviction', 'RSP', 'Current', 'Current P/L', 'FTT Amt', 'Today P/L%', 'Current P/L%', 'FTT%', 'OTT%', 'CumlRnk', 'RRR Ind', 'CurrAlloc%', 'Gained%', 'Criteria', 'Strategy', 'Category']
df_tmp = df_portfolio_features.sort_values(by = 'FTT Amt', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
26,DLF,714.31,885.0,-4.60,H-LC,93.33,290833.0,54396.0,2094.0,6.41,23.01,0.72,23.90,34.0,25.98,2.26,44.50,AR,NTT,REALTY
49,LICI,785.05,983.0,-2.96,H-LC,88.89,238130.0,43438.0,5644.0,0.38,22.31,2.37,25.21,31.0,7.70,1.85,31.68,XY25,NTT,INSURANCE
4,ADANIPORTS,1103.69,1583.0,3.96,M-LC,61.11,104441.0,26079.0,7948.0,0.98,33.28,7.61,43.43,71.0,3.28,0.81,39.69,XY24,NTT,MISC
59,RELIANCE,1291.83,1526.0,5.74,X-LC,26.67,157342.0,16533.0,9000.0,0.08,11.74,5.72,18.13,20.0,1.84,1.23,24.24,XY25,NTT,REFINERIES
82,UNIONBANK,123.87,163.0,-0.31,M-LC,92.22,174132.0,33292.0,11197.0,0.39,23.64,6.43,31.59,81.0,2.97,1.36,51.26,XY24,NTT,BANKS

In [10]:
# top 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
36,ICICIGI,1839.64,2260.25,-9.73,H-MC,66.67,148755.0,12622.0,18505.0,7.47,9.27,12.44,22.86,92.0,0.68,1.16,23.47,X40,ATH,INSURANCE
81,UJJIVANSFB,52.77,53.00,48.19,M-SC,81.11,129033.0,-13446.0,14065.0,7.39,-9.44,10.90,0.44,227.0,-0.96,1.00,52.29,OX40N,NTT,BANKS
26,DLF,714.31,885.00,-4.60,H-LC,93.33,290833.0,54396.0,2094.0,6.41,23.01,0.72,23.90,34.0,25.98,2.26,44.50,AR,NTT,REALTY
61,ROUTE,1558.40,2249.26,-37.66,M-SC,44.44,67244.0,-35610.0,81204.0,5.71,-34.62,120.76,44.33,179.0,-0.44,0.52,11.67,SR,ATH,IT
57,RBLBANK,230.61,388.00,42.75,M-SC,54.44,221478.0,-12822.0,172731.0,5.37,-5.47,77.99,68.25,229.0,-0.07,1.72,45.85,XY24,NTT,BANKS

In [11]:
# bottom 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
70,SONACOMS,578.05,1006.0,-30.90,M-MC,27.78,89416.0,-11743.0,86635.0,-3.25,-11.61,96.89,74.03,160.0,-0.14,0.70,25.66,AR,BTT,AUTO
84,VALIANTORG,512.64,838.0,-364.50,H-SC,100.00,112437.0,-20849.0,105443.0,-2.89,-15.64,93.78,63.47,135.0,-0.20,0.88,88.47,XR,NTT,CHEMICALS
66,SFL,1016.35,1287.0,267.50,H-SC,13.33,165894.0,-96324.0,166159.0,-2.00,-36.73,100.16,26.63,136.0,-0.58,1.29,3.14,XY24,NTT,MISC
69,SIS,477.00,477.0,2221.32,M-SC,73.33,62840.0,-18250.0,18249.0,-1.83,-22.51,29.04,0.00,211.0,-1.00,0.49,27.36,OX40N,NTT,MISC
54,PFIZER,4245.50,6318.3,13.55,H-SC,96.67,131134.0,33488.0,14189.0,-1.65,34.29,10.82,48.82,137.0,2.36,1.02,45.68,X40,ATH,PHARMA

In [12]:
# top 5 to accumulate
df_tmp = df_portfolio_features.sort_values(by = 'CumlRnk', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
77,TCS,3794.03,4998.00,-19.05,X-LC,15.56,264194.0,-31740.0,125651.0,0.47,-10.73,47.56,31.73,1.0,-0.25,2.06,5.75,X40,BTT,IT
41,INFY,1461.46,2275.00,-12.78,X-LC,36.67,279849.0,18248.0,127387.0,0.59,6.98,45.52,55.67,2.0,0.14,2.18,13.51,X40,BTT,IT
50,LTIM,5564.16,7197.33,-2.79,X-LC,77.78,187434.0,-12876.0,71675.0,0.48,-6.43,38.24,29.35,3.0,-0.18,1.46,29.49,X200,ATH,IT
7,ASIANPAINT,2961.56,4250.00,-23.26,X-LC,3.33,152728.0,-48658.0,136279.0,0.11,-24.16,89.23,43.51,5.0,-0.36,1.19,5.34,X40,BTT,PAINTS
34,HINDUNILVR,2413.81,2723.00,-14.85,X-LC,21.11,267568.0,-2779.0,37406.0,0.53,-1.03,13.98,12.81,6.0,-0.07,2.08,10.74,XY25,NTT,FMCG

In [13]:
# top 5 to book for rotation
df_tmp = df_portfolio_features[(df_portfolio_features['Current P/L%'] > 20) ].sort_values(by = 'CumlRnk', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
54,PFIZER,4245.50,6318.3,13.55,H-SC,96.67,131134.0,33488.0,14189.0,-1.65,34.29,10.82,48.82,137.0,2.36,1.02,45.68,X40,ATH,PHARMA
82,UNIONBANK,123.87,163.0,-0.31,M-LC,92.22,174132.0,33292.0,11197.0,0.39,23.64,6.43,31.59,81.0,2.97,1.36,51.26,XY24,NTT,BANKS
4,ADANIPORTS,1103.69,1583.0,3.96,M-LC,61.11,104441.0,26079.0,7948.0,0.98,33.28,7.61,43.43,71.0,3.28,0.81,39.69,XY24,NTT,MISC
26,DLF,714.31,885.0,-4.60,H-LC,93.33,290833.0,54396.0,2094.0,6.41,23.01,0.72,23.90,34.0,25.98,2.26,44.50,AR,NTT,REALTY
49,LICI,785.05,983.0,-2.96,H-LC,88.89,238130.0,43438.0,5644.0,0.38,22.31,2.37,25.21,31.0,7.70,1.85,31.68,XY25,NTT,INSURANCE

In [14]:
# top 5 to monitor
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[(df_tmp['Current P/L%'] > 0) ].sort_values(by = 'Dev%_PE', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
62,SAIL,130.64,228.00,104.28,M-MC,87.78,232539.0,7577.0,160080.0,1.45,3.37,68.84,74.53,176.0,0.05,1.81,35.01,XY24,BTT,STEEL
54,PFIZER,4245.50,6318.30,13.55,H-SC,96.67,131134.0,33488.0,14189.0,-1.65,34.29,10.82,48.82,137.0,2.36,1.02,45.68,X40,ATH,PHARMA
18,CAMS,3643.00,5250.99,6.22,H-SC,84.44,119431.0,17427.0,27601.0,0.40,17.08,23.11,44.14,115.0,0.63,0.93,36.10,X40N,ATH,MISC
4,ADANIPORTS,1103.69,1583.00,3.96,M-LC,61.11,104441.0,26079.0,7948.0,0.98,33.28,7.61,43.43,71.0,3.28,0.81,39.69,XY24,NTT,MISC
82,UNIONBANK,123.87,163.00,-0.31,M-LC,92.22,174132.0,33292.0,11197.0,0.39,23.64,6.43,31.59,81.0,2.97,1.36,51.26,XY24,NTT,BANKS

In [15]:
# top 5 to book for rotation from weak conviction
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[~df_tmp['Criteria'].isin(['XY25','XY24','X40', 'X40N'])].sort_values(by = 'RRR Ind', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
12,BANKINDIA,113.49,190.00,-28.22,M-MC,72.22,141556.0,12404.0,74671.0,0.11,9.60,52.75,67.42,158.0,0.17,1.10,37.68,XR,NTT,BANKS
88,WHIRLPOOL,1167.49,2270.00,-35.04,M-SC,50.00,189262.0,17641.0,144426.0,1.39,10.28,76.31,94.43,183.0,0.12,1.47,39.69,XR,NTT,DURABLES
38,INDIAMART,2327.09,4850.92,-50.53,H-SC,62.22,128790.0,5454.0,128313.0,0.92,4.42,99.63,108.45,111.0,0.04,1.00,27.76,AR,ATH,MISC
89,WIPRO,243.46,420.00,-10.16,M-LC,33.33,154182.0,3237.0,106216.0,0.30,2.14,68.89,72.51,68.0,0.03,1.20,10.03,XR,NTT,IT
1,AARTIIND,487.04,919.00,38.61,M-SC,51.11,79651.0,-1685.0,73821.0,-0.98,-2.07,92.68,88.69,213.0,-0.02,0.62,34.31,XR,NTT,CHEMICALS

In [16]:
# top 5 for average up
df_tmp = df_portfolio_features[(df_portfolio_features['Dev%_200'] > 5)].sort_values(by = 'CurrAlloc%', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
51,MASFIN,326.60,399.5,-22.31,H-SC,67.78,88485.0,-9495.0,31368.0,3.60,-9.69,35.45,22.32,127.0,-0.30,0.69,28.33,XR,ATH,FINANCE
4,ADANIPORTS,1103.69,1583.0,3.96,M-LC,61.11,104441.0,26079.0,7948.0,0.98,33.28,7.61,43.43,71.0,3.28,0.81,39.69,XY24,NTT,MISC
84,VALIANTORG,512.64,838.0,-364.50,H-SC,100.00,112437.0,-20849.0,105443.0,-2.89,-15.64,93.78,63.47,135.0,-0.20,0.88,88.47,XR,NTT,CHEMICALS
81,UJJIVANSFB,52.77,53.0,48.19,M-SC,81.11,129033.0,-13446.0,14065.0,7.39,-9.44,10.90,0.44,227.0,-0.96,1.00,52.29,OX40N,NTT,BANKS
54,PFIZER,4245.50,6318.3,13.55,H-SC,96.67,131134.0,33488.0,14189.0,-1.65,34.29,10.82,48.82,137.0,2.36,1.02,45.68,X40,ATH,PHARMA

In [17]:
# top 5 RSP
df_tmp = df_portfolio_features.sort_values(by = 'RSP', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
84,VALIANTORG,512.64,838.0,-364.50,H-SC,100.00,112437.0,-20849.0,105443.0,-2.89,-15.64,93.78,63.47,135.0,-0.20,0.88,88.47,XR,NTT,CHEMICALS
8,ASIANTILES,75.41,137.0,6561.11,M-SC,98.89,73110.0,-20700.0,97317.0,2.42,-22.07,133.11,81.67,222.0,-0.21,0.57,41.58,XR,NTT,CERAMICS
78,TITAGARH,1097.23,1548.0,-6.25,H-SC,97.78,164675.0,-27340.0,106232.0,0.75,-14.24,64.51,41.08,131.0,-0.26,1.28,39.38,XY24,NTT,ENGINEERING
54,PFIZER,4245.50,6318.3,13.55,H-SC,96.67,131134.0,33488.0,14189.0,-1.65,34.29,10.82,48.82,137.0,2.36,1.02,45.68,X40,ATH,PHARMA
71,STARHEALTH,551.56,761.0,4.42,M-SC,95.56,170610.0,-29606.0,105625.0,-0.11,-14.79,61.91,37.97,202.0,-0.28,1.33,36.99,XY24,NTT,INSURANCE

In [18]:
# Top N allocation
df_tmp = df_portfolio_features.sort_values(by = 'CurrAlloc%', ascending=False)
top_n_values = [10, 25, 50]

sum_df = pd.DataFrame({
    'Top_N': top_n_values,
    'Sum_Alloc%': [df_tmp['CurrAlloc%'].head(n).sum() for n in top_n_values]
})

sum_df

   Top_N  Sum_Alloc%
0     10       20.33
1     25       43.33
2     50       72.27

In [19]:
# criteria-wise allocation
df_portfolio_features.groupby('Criteria')['CurrAlloc%'].sum().sort_values(ascending=False)

Criteria
XY24     32.45
XY25     14.96
X40      11.37
XR       11.09
AR       10.30
X40N      8.70
OX40N     8.45
X200      1.46
SR        1.18
Name: CurrAlloc%, dtype: float64

In [20]:
# conviction-wise allocation
df_portfolio_features.groupby('Conviction')['CurrAlloc%'].sum().sort_values(ascending=False)

Conviction
H-SC    19.86
X-LC    18.50
M-SC    16.78
H-LC     9.54
H-MC     7.98
M-LC     7.86
M-MC     5.64
X-MC     5.62
X-SC     2.82
L-SC     2.35
L-LC     1.15
Name: CurrAlloc%, dtype: float64

In [21]:
# sector-wise stats
df_tmp = df_portfolio_features.groupby('Category')[['CurrAlloc%', 'Current', 'Current P/L', 'FTT Amt']].sum().sort_values(by=['Current', 'Current P/L'], ascending=False)
df_tmp['Current P/L%'] = round(df_tmp['Current P/L'] * 100 / df_tmp['Current'], 2)
df_tmp['FTT%'] = round(df_tmp['FTT Amt'] * 100 / df_tmp['Current'], 2)
cols = ['CurrAlloc%', 'Current P/L%', 'FTT%']
df_tmp[cols].sort_values(by=['CurrAlloc%'], ascending=False)

               CurrAlloc%  Current P/L%    FTT%
Category
FMCG                13.75         -1.43   33.19
IT                  10.43        -16.48   78.01
BANKS               10.03         -8.67   57.17
MISC                 6.61        -27.23   76.85
FINANCE              6.05        -22.96   70.92
INSURANCE            5.46          4.92   23.48
PAINTS               5.41        -18.40   41.78
ELECTRICAL           5.24         -4.27   49.50
HEALTHCARE           4.45         -4.04   35.09
AUTO                 4.34        -12.34   61.42
DURABLES             3.27         -5.32   43.81
FOOTWEAR             2.56        -25.49   66.96
REALTY               2.26         18.70    0.72
CHEMICALS            2.16        -13.82  104.77
AC                   1.84        -13.07   43.60
STEEL                1.81          3.26   68.84
PHARMA               1.80         14.71   14.52
TRAVEL               1.78        -39.03   99.19
CERAMICS             1.76        -34.40   79.67
ENGINEERING          1.28        -16.60   64.51
JEWELLERY            1.27        -77.49  123.04
REFINERIES           1.23         10.51    5.72
MINING               1.15         -1.90   28.34
CEMENT               1.08        -35.42  105.09
POWER                0.96        -15.12   61.03
ENTERTAINMENT        0.94        -35.24  103.24
TEXTILES             0.59        -21.19   55.74
HOTELS               0.45        -96.74  166.13

In [22]:
# money to be made criteria-wise
df_portfolio_features.groupby('Criteria')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                sum  count
Criteria
XY24      2803392.0     26
XR        1213782.0     14
AR        1037838.0     10
X40        614870.0      8
XY25       456503.0     10
X40N       411328.0      8
OX40N      344708.0     11
SR         192427.0      2
X200        71675.0      1

In [23]:
# money to be made conviction-wise
df_portfolio_features.groupby('Conviction')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                  sum  count
Conviction
H-SC        1959025.0     19
M-SC        1715532.0     20
X-LC         836508.0     11
M-MC         543786.0      5
H-MC         473790.0      7
L-SC         295840.0      4
M-LC         295289.0      6
X-MC         287671.0      5
X-SC         270594.0      4
H-LC         225873.0      6
L-LC          41843.0      1

In [24]:
# money to be made criteria and conviction-wise
df_portfolio_features.groupby(['Conviction', 'Criteria'])['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                          sum  count
Conviction Criteria
H-SC       XY24      914393.0      6
M-SC       XY24      745167.0      6
H-SC       AR        537718.0      3
X-LC       X40       474431.0      4
M-SC       XR        433848.0      5
M-MC       XY24      382480.0      3
H-SC       XR        212201.0      3
M-LC       XY24      173972.0      4
H-MC       XY24      171268.0      2
M-SC       OX40N     168067.0      5
H-SC       X40N      159240.0      3
L-SC       XR        159202.0      2
H-LC       X40N      144894.0      3
X-MC       XY24      140143.0      2
X-LC       XY25      124686.0      4
H-SC       OX40N     121284.0      3
M-SC       XY25      119585.0      1
X-LC       AR        116789.0      1
X-SC       XR        116008.0      1
H-MC       XR        111636.0      1
X-SC       SR        111223.0      1
M-LC       XR        106216.0      1
M-SC       AR         94819.0      1
M-MC       AR         86635.0      1
M-SC       SR         81204.0      1
X-MC       XY25       77267.0      1
H-LC       AR         75335.0      2
L-SC       XY24       75197.0      1
M-MC       XR         74671.0      1
M-SC       X40        72842.0      1
H-MC       XY25       72377.0      1
X-LC       X200       71675.0      1
H-MC       AR         65101.0      1
L-SC       AR         61441.0      1
X-MC       X40N       58267.0      1
H-MC       X40        53408.0      2
X-LC       X40N       48927.0      1
X-SC       OX40N      43363.0      2
L-LC       XY25       41843.0      1
M-LC       XY25       15101.0      1
H-SC       X40        14189.0      1
X-MC       OX40N      11994.0      1
H-LC       XY25        5644.0      1

In [25]:
# notebook execution time

end_time = time.time()
execution_time = round(end_time - start_time, 0)
print(f"Notebook execution time: {execution_time} seconds")

Notebook execution time: 29.0 seconds