<a href="https://colab.research.google.com/github/ankit-rathi/Quantvesting_v2/blob/main/myStocks_Portfolio_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyxirr
!pip install yfinance==0.2.59

Requirement already satisfied: pyxirr in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (0.10.6)

Collecting yfinance==0.2.59

  Downloading yfinance-0.2.59-py2.py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: pandas>=1.3.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.3.0)
Requirement already satisfied: numpy>=1.16.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.3.1)
Requirement already satisfied: requests>=2.31 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.32.4)
Requirement already satisfied: multitasking>=0.0.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.11.4)

Collecting protobuf<6,>=5.29.0 (from yfinance==0.2.59)
  Downloading protobuf-5.29.5-cp38-abi3-manylinux2014_x86_64.whl.metadata (592 bytes)
Requirement already satisfied: websockets>=11.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (4.14.0)
Requirement already satisfied: cffi>=1.12.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (2025.6.15)

Requirement already satisfied: pycparser in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance==0.2.59) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance==0.2.59) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (2.5.0)

Downloading yfinance-0.2.59-py2.py3-none-any.whl (117 kB)
Downloading protobuf-5.29.5-cp38-abi3-manylinux2014_x86_64.whl (319 kB)

Installing collected packages: protobuf, yfinance
  Attempting uninstall: protobuf
    Found existing installation: protobuf 6.31.1

    Uninstalling protobuf-6.31.1:
      Successfully uninstalled protobuf-6.31.1

  Attempting uninstall: yfinance

    Found existing installation: yfinance 0.2.63
    Uninstalling yfinance-0.2.63:
      Successfully uninstalled yfinance-0.2.63
   ━━━━━━━━━━━━━━━━━━━━╺━━━━━━━━━━━━━━━━━━━ 1/2 [yfinance]

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [yfinance]
Successfully installed protobuf-5.29.5 yfinance-0.2.59

In [2]:
# import libraries

import numpy as np
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import yfinance as yfin
import matplotlib.pyplot as plt
import requests

In [3]:
# notebook start time
import time
import datetime
import pytz

start_time = time.time()

# function to print date timestamp
def print_date_time():
  tz_NY = pytz.timezone('Asia/Kolkata')
  datetime_NY = datetime.datetime.now(tz_NY)
  print("Run date time (IST):", datetime_NY.strftime("%Y-%m-%d %H:%M:%S"))

In [4]:
# function to get booked and reserved amount
def get_amt():
  # fetch the JSON data from the URL
  url = "https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioAmts.json"
  response = requests.get(url)
  pf_amts = response.json()  # parse the JSON data

  # extract values from the JSON
  py_booked_amt_dm = pf_amts["py_booked_amt_dm"]
  py_booked_amt_sv = pf_amts["py_booked_amt_sv"]
  cy_booked_amt_dm = pf_amts["cy_booked_amt_dm"]
  cy_booked_amt_sv = pf_amts["cy_booked_amt_sv"]
  reserve_amt_dm = pf_amts["reserve_amt_dm"]
  reserve_amt_sv = pf_amts["reserve_amt_sv"]

  # perform calculations
  py_booked_amt = py_booked_amt_dm + py_booked_amt_sv
  cy_booked_amt = cy_booked_amt_dm + cy_booked_amt_sv
  reserve_amt = reserve_amt_dm + reserve_amt_sv
  total_booked_amt = py_booked_amt + cy_booked_amt

  return total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt

gen_output = 0

In [5]:
# function to format the amount
def format_amt(number):
    abs_number = abs(number)

    if abs_number >= 1_00_00_000:  # Crores
        formatted_amt = f"{number / 1_00_00_000:.2f} C"
    elif abs_number >= 1_00_000:  # Lakhs
        formatted_amt = f"{number / 1_00_000:.2f} L"
    elif abs_number >= 1_000:  # Thousands
        formatted_amt = f"{number / 1_000:.2f} K"
    else:
        formatted_amt = f"{number:.2f}"

    return formatted_amt

# function to set start and end date
def get_start_end_date():
  start_date = (datetime.date.today() + datetime.timedelta(days=-365)).strftime('%Y-%m-%d')
  end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')
  return start_date, end_date

# function to fetch my portfolio csv
def get_mypfs_df():
  mypfs_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioStocks.csv')
  return mypfs_df

# function to fetch my prospects csv
def get_mypps_df():
  mypps_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myProspectsScrips.csv')
  return mypps_df

# function to fetch screener data
def get_myscreen_df():
  myscreen_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myScreenerDB.csv')
  return myscreen_df

# function to fetch momentum data
def get_myinvmt_df():
  myinvmt_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myInvestments.csv')
  return myinvmt_df

# function to get the stock ids
def get_stock_ids(df_pf):
  stock_n100 = df_pf['Symbol'].unique()

  exclude = ['CADILAHC','MMTC', 'MASFIN']

  stock_ids = df_pf[~df_pf['Symbol'].isin(exclude) ]['Symbol'].unique()

  #mypf = mypf[mypf.Forecast.notnull()]
  #stock_ids = mypf['Symbol'].unique()

  stock_ids.sort()
  return stock_ids

# get features from screener data
def get_screener_features():
  myscreen_df = get_myscreen_df()
  cols = ['Symbol', 'EPS', 'MedPE', 'ROCE%', 'ROE%', 'CapType']
  return myscreen_df[cols]

# get relative strength
def get_relative_strength(stock_list):

    # Dictionary to store stock tickers and their corresponding percentage price change
    stock_changes = {}

    # Loop through each stock and fetch its price data
    for stock in stock_list:
        try:
            # Download the stock data for the given date range
            stock_data = yfin.Ticker(stock + '.NS').history(period='1mo', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

            # Calculate the percentage change for the stock
            if len(stock_data) > 0:
                start_price = stock_data['Close'].iloc[0]
                end_price = stock_data['Close'].iloc[-1]
                percent_change = round(((end_price - start_price) / start_price) * 100, 2)
                stock_changes[stock] = percent_change
            else:
                stock_changes[stock] = np.nan  # If no data is available, set to NaN

        except Exception as e:
            print(f"Error fetching data for {stock}: {e}")
            stock_changes[stock] = np.nan

    # Create a DataFrame with stock tickers and their percentage changes
    df = pd.DataFrame(list(stock_changes.items()), columns=['Symbol', 'Percent_Change'])

    # Drop any stocks with missing data (NaN values)
    df = df.dropna()

    # Calculate the percentile rank based on percentage change
    df['RSP'] = round(df['Percent_Change'].rank(pct=True) * 100, 2)
    cols = ['Symbol', 'RSP']
    df = df[cols]
    # Sort by percentile rank (optional)
    df = df.sort_values(by='RSP', ascending=False).reset_index(drop=True)

    return df

In [6]:
# function to get stock technicals
def stock_prec_dev(stock_symbol):
    #stock_symbol = 'ULTRACEMCO.NS'
    short_window = 20
    mid_window = 50
    long_window = 200
    moving_avg = 'SMA'

    start = datetime.datetime(*map(int, start_date.split('-')))
    end = datetime.datetime(*map(int, end_date.split('-')))

    stock_df = yfin.Ticker(stock_symbol + '.NS').history(period='max', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

    stock_df['Max'] = round(max(stock_df['Close']),2)
    stock_df = stock_df[(stock_df.index <= end_date) & (stock_df.index >= start_date)]
    stock_df['200_SMA'] = round(stock_df['Close'].rolling(window = 200, min_periods = 1).mean(),0)
    stock_df['Dev%_200'] = round((stock_df['Close'] - stock_df['200_SMA'])*100/stock_df['200_SMA'],2)
    stock_df.dropna(axis = 0, inplace = True) # remove any null rows

    stock_df['Symbol'] = stock_symbol

    stock_df['Close'] = round(stock_df['Close'],2)
    stock_df['Min'] = round(min(stock_df['Close']),2)
    stock_df['Prev_Close'] = stock_df['Close'].shift(1)
    stock_df.drop(['Open', 'Low', 'High', 'Volume'], axis=1, inplace=True)
    stock_df = stock_df.tail(1)

    return stock_df

# function to compute stock attributes
def get_common_features(stock_ids, df_mypf):

  df_prec_dev = pd.DataFrame()
  df_tmp = get_screener_features()
  df_rs = get_relative_strength(stock_ids)

  for stock_id in stock_ids:
      tmp = stock_prec_dev(stock_id)
      tmp = tmp.reset_index()
      df_prec_dev = pd.concat([df_prec_dev, tmp], ignore_index = True)
  df_prec_dev = pd.merge(df_prec_dev, df_mypf, on= 'Symbol')
  df_prec_dev = pd.merge(df_prec_dev, df_tmp, on= 'Symbol', how='left')
  df_prec_dev = pd.merge(df_prec_dev, df_rs, on= 'Symbol', how='left')
  #print(df_prec_dev.columns)
  df_prec_dev['Curr_PE'] = round(df_prec_dev['Close']/df_prec_dev['EPS'],1)
  df_prec_dev['Dev%_PE'] = round((df_prec_dev['Curr_PE'] - df_prec_dev['MedPE'])*100/df_prec_dev['MedPE'],2)
  df_prec_dev['Conviction'] = df_prec_dev['Conviction'] + '-' + df_prec_dev['CapType']
  return df_prec_dev

# function to arrange stock features
def arrange_features(df_stocks, common_cols, diff_cols):
  df_stocks_common = df_stocks[common_cols].drop_duplicates()
  df_stocks_diff = df_stocks[diff_cols]
  df_stocks_diff['Investment'] = df_stocks_diff['AvgCost'] * df_stocks_diff['Shares']
  df_stocks_diff = df_stocks_diff.groupby(['Symbol'])[['Shares', 'Investment']].aggregate(['sum']).reset_index()
  df_stocks_diff.columns = ['Symbol', 'Shares', 'Investment']
  df_stocks_diff['AvgCost'] = round(df_stocks_diff['Investment']/df_stocks_diff['Shares'],2)
  df_stocks = pd.merge(df_stocks_diff, df_stocks_common, on='Symbol')
  return df_stocks

# plot fact distribution across dimension
def plot_pie_chart(df, dimension, fact):
  # grouping the data by category and calculating the sum of fact for each type
  grouped_data = df.groupby(dimension)[fact].sum()

  # sorting the grouped data in descending order
  grouped_data = grouped_data.sort_values(ascending=False)

  # creating a pie chart
  grouped_data.plot.pie(autopct='%1.1f%%', startangle=90, figsize=(6, 6))

  # adding a title and displaying the plot
  plt.title(f'{dimension} {fact} Distribution')
  plt.ylabel('')  # To hide the y-label
  plt.show()

In [7]:
# function to get portfolio features

def get_portfolio_features(df_common_features):

  print_date_time()
  print('-------------------')

  #df_common_features["Target"] = df_common_features["Target"].fillna(df_common_features["Max"])
  df_common_features['NTT'] = np.where(df_common_features['Strategy']== 'NTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['LTT'] = np.where(df_common_features['Strategy']== 'BTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['BOL'] = df_common_features['Min']

  tmp_df = df_common_features[df_common_features['Symbol'].isin(mypf_df[mypf_df['InPortfolio'] != 'NA'].Symbol.values)]
  print('qualified stocks: '+str(len(tmp_df['Symbol'].unique())))
  tmp_df1 = tmp_df[tmp_df['LatestQtr'] == 1]
  print('with latest results: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df1 = tmp_df1[tmp_df1['StarStock'] == 1]
  print('still star stocks: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df['Investment'] = tmp_df['AvgCost'] * tmp_df['Shares']
  tmp_df['Current'] = round(tmp_df['Close'] * tmp_df['Shares'],0)
  tmp_df['Previous'] = tmp_df['Prev_Close'] * tmp_df['Shares']
  tmp_df['EstimatedST'] = tmp_df['NTT'] * tmp_df['Shares']
  tmp_df['EstimatedLT'] = tmp_df['LTT'] * tmp_df['Shares']
  tmp_df['Current P/L'] = round((tmp_df['Current'] - tmp_df['Investment']),0)
  tmp_df['Today P/L%'] = round((tmp_df['Current'] - tmp_df['Previous'])*100/tmp_df['Previous'],2)
  tmp_df['Current P/L%'] = round((tmp_df['Current'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedST P/L%'] = round((tmp_df['EstimatedST'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedLT P/L%'] = round((tmp_df['EstimatedLT'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['NTT%'] = round((tmp_df['NTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['LTT%'] = round((tmp_df['LTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['Gained%'] = round((tmp_df['Close'] - tmp_df['BOL'])*100/tmp_df['BOL'],2)
  investment = round(sum(tmp_df['AvgCost']*tmp_df['Shares']),0)
  current = round(sum(tmp_df['Close']*tmp_df['Shares']),0)
  tmp_df['InitAlloc%'] = round(tmp_df['Investment']*100/investment,2)
  tmp_df['CurrAlloc%'] = round(tmp_df['Current']*100/current,2)
  tmp_df['FTT'] = tmp_df['LTT']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT'] = tmp_df['NTT']
  tmp_df['FTT%'] = tmp_df['LTT%']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT%'] = tmp_df['NTT%']
  tmp_df['FTT Amt'] = round(tmp_df['FTT%'] * tmp_df['Current']/100,0)
  tmp_df['OTT%'] = round((tmp_df['FTT'] - tmp_df['AvgCost'])*100/tmp_df['AvgCost'],2)
  tmp_df['RRR Ind'] = round(tmp_df['Current P/L']/tmp_df['FTT Amt'],2)
  tmp_df['Risk Ind'] = round(tmp_df['Current P/L%']*tmp_df['CurrAlloc%'],0)

  return tmp_df

# function to print portfolio features
def print_portfolio_stats(df_portfolio_features, myinvmt_df):
  from pyxirr import xirr

  total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt = get_amt()

  dates = myinvmt_df['Date'].values
  dates = np.append(dates, datetime.date.today().strftime('%d-%b-%y'))
  investment = myinvmt_df['Investment'].values
  dates= pd.to_datetime(dates)

  current = round(sum(df_portfolio_features['Close']*df_portfolio_features['Shares']),0) + reserve_amt
  investment_xirr = np.append(investment, current)
  cagr = round(xirr(pd.DataFrame({"dates": dates, "amounts": investment_xirr}))*100,2)

  investment = -sum(investment)
  invested = round(sum(df_portfolio_features['AvgCost']*df_portfolio_features['Shares']),0) + reserve_amt
  previous = round(sum(df_portfolio_features['Prev_Close']*df_portfolio_features['Shares']),0) + reserve_amt
  cy_invested = investment + py_booked_amt

  today_pnl_amount = current-previous
  today_pnl_percentage = round((current-previous)*100/previous,2)

  curr_pnl_amount = current-invested
  curr_pnl_percentage = round((curr_pnl_amount)*100/(cy_invested),2)

  cy_pnl_amount = cy_booked_amt + curr_pnl_amount
  cy_pnl_percentage = round((cy_pnl_amount)*100/cy_invested,2)

  overall_pnl_amount = total_booked_amt + curr_pnl_amount
  overall_pnl_percentage = round((overall_pnl_amount)*100/investment,2)

  estimate_st = round(sum(df_portfolio_features['FTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_st_pnl_amount = estimate_st-current
  est_st_pnl_percentage = round((est_st_pnl_amount)*100/current,2)

  estimate_lt = round(sum(df_portfolio_features['LTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_lt_pnl_amount = estimate_lt-current
  est_lt_pnl_percentage = round((est_lt_pnl_amount)*100/current,2)

  total_profit = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Investment']),0)
  total_loss = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Investment']),0)

  cy_booked_percentage = round((cy_booked_amt)*100/current,2)
  py_booked_percentage = round((py_booked_amt)*100/investment,2)
  total_booked_percentage = round((total_booked_amt)*100/investment,2)

  print('-------------------')
  print('Initial Investment: ', format_amt(investment))
  print('CY Investment: ', format_amt(cy_invested))
  print('Reserve: ', format_amt(reserve_amt))
  print('Current: ',  format_amt(current))
  print('-------------------')
  print('Today PnL: '+ '{} ({}%)'.format(format_amt(today_pnl_amount), today_pnl_percentage))
  print('Current PnL: '+ '{} ({}%)'.format(format_amt(curr_pnl_amount), curr_pnl_percentage))
  print('CY Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(cy_pnl_amount), cy_pnl_percentage))
  print('-------------------')
  print('Total profit: ', format_amt(total_profit))
  print('Total loss: ', format_amt(total_loss))
  print('-------------------')
  print('Total Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(overall_pnl_amount), overall_pnl_percentage))
  print('Total Booked PnL: '+ '{} ({}%)'.format(format_amt(total_booked_amt), total_booked_percentage))
  print('Curr Year Booked PnL: '+ '{} ({}%)'.format(format_amt(cy_booked_amt), cy_booked_percentage))
  print('Prev Year Booked PnL: '+ '{} ({}%)'.format(format_amt(py_booked_amt), py_booked_percentage))
  print('===================')
  print('Est FTT: ',  format_amt(estimate_st))
  print('Est FTT PnL: '+ '{} ({}%)'.format(format_amt(est_st_pnl_amount), est_st_pnl_percentage))

  print('===================')
  print('Deployed: ', format_amt(investment))

  print('Current: ', format_amt(current))

  print('CAGR/XIRR %: '+'{}%'.format(cagr))

In [8]:
# get start and end date
start_date, end_date = get_start_end_date()

# get portfolio and prospects data
mypfs_df = get_mypfs_df()
mypps_df = get_mypps_df()
myinvmt_df = get_myinvmt_df()

# merge above datasets
mypf_df = pd.merge(mypfs_df, mypps_df, on="Symbol")

# seggregate dm and sv portfolio
dm_pf = mypf_df[mypf_df['InPortfolio'] == 'DM']
sv_pf = mypf_df[mypf_df['InPortfolio'] == 'SV']

# build portfolio stock dataframe
dm_stocks = get_stock_ids(dm_pf)
sv_stocks = get_stock_ids(sv_pf)
df_stocks = pd.concat([dm_pf,sv_pf], ignore_index = True)

# arrange common and diff stock features
common_cols = ['Symbol', 'Target', 'Criteria', 'Strategy', 'CumlRnk', 'LatestQtr', 'StarStock', 'Conviction', 'Category', 'InFolio', 'XIRR', 'MBQ']
diff_cols = ['Symbol', 'AvgCost', 'Shares']
df_stocks = arrange_features(df_stocks, common_cols, diff_cols)

# get common features
stock_ids = df_stocks['Symbol'].values
df_common_features = get_common_features(stock_ids, df_stocks)

df_common_features.reset_index(drop=True, inplace=True)
df_common_features.drop(['Date'], axis=1, inplace=True)
# get and print portfolio features
df_portfolio_features = get_portfolio_features(df_common_features)

print_portfolio_stats(df_portfolio_features, myinvmt_df)

df = df_portfolio_features
#plot_pie_chart(df, 'CapType', 'Current')
list_ox40n = list(df[df['MBQ'].str.contains('OX40N', na=False)]['Symbol'].values)

Run date time (IST): 2025-06-25 11:21:55
-------------------
qualified stocks: 93
with latest results: 29
still star stocks: 17
-------------------
Initial Investment:  1.17 C
CY Investment:  1.44 C
Reserve:  35.47 K
Current:  1.33 C
-------------------
Today PnL: 1.07 L (0.81%)
Current PnL: -15.84 L (-11.04%)
CY Booked + Current PnL: -9.47 L (-6.6%)
-------------------
Total profit:  3.30 L
Total loss:  -19.14 L
-------------------
Total Booked + Current PnL: 17.51 L (15.02%)
Total Booked PnL: 33.35 L (28.62%)
Curr Year Booked PnL: 6.37 L (4.78%)
Prev Year Booked PnL: 26.98 L (23.15%)
===================
Est FTT:  2.06 C
Est FTT PnL: 72.29 L (54.21%)
===================
Deployed:  1.17 C
Current:  1.33 C
CAGR/XIRR %: 9.26%

In [9]:
# top 5 near their targets
cols = ['Symbol', 'AvgCost', 'FTT', 'Dev%_PE', 'Conviction', 'RSP', 'Current', 'Current P/L', 'FTT Amt', 'Today P/L%', 'Current P/L%', 'FTT%', 'OTT%', 'CumlRnk', 'RRR Ind', 'CurrAlloc%', 'Gained%', 'Criteria', 'Strategy', 'Category']
df_tmp = df_portfolio_features.sort_values(by = 'FTT Amt', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
52,LICI,827.06,983.0,-4.34,H-LC,84.95,97623.0,12436.0,3622.0,0.23,14.60,3.71,18.85,35.0,3.43,0.73,29.98,XY25,NTT,INSURANCE
62,RELIANCE,1291.83,1526.0,8.01,X-LC,51.61,160176.0,19367.0,6151.0,1.29,13.75,3.84,18.13,17.0,3.15,1.20,26.47,XY25,NTT,REFINERIES
84,UJJIVANSFB,52.77,53.0,52.86,M-SC,88.17,132921.0,-9558.0,10182.0,1.03,-6.71,7.66,0.44,242.0,-0.94,1.00,56.88,OX40N,NTT,BANKS
89,VIPIND,488.80,489.0,-982.30,H-SC,97.85,84016.0,-11300.0,11342.0,-1.26,-11.86,13.50,0.04,153.0,-1.00,0.63,65.71,OX40N,NTT,MISC
3,ADANIPORTS,1103.69,1583.0,-1.49,M-LC,37.63,98789.0,20427.0,13603.0,0.14,26.07,13.77,43.43,77.0,1.50,0.74,32.77,XY24,NTT,MISC

In [10]:
# top 5 to exit based on CumlRnk
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[(df_tmp['Current P/L%'] > -1) & (df_tmp['Current P/L%'] < 1)].sort_values(by = 'CumlRnk', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
12,BANKINDIA,116.91,190.00,-33.09,M-MC,53.76,178639.0,-1169.0,113579.0,0.76,-0.65,63.58,62.52,170.0,-0.01,1.34,33.21,XR,NTT,BANKS
34,HEROMOTOCO,4311.81,6039.03,-1.43,H-MC,34.41,150602.0,-311.0,60768.0,0.24,-0.21,40.35,40.06,100.0,-0.01,1.13,23.18,AR,ATH,AUTO
56,NATIONALUM,189.63,247.44,-36.43,H-SC,63.44,100875.0,371.0,30273.0,0.31,0.37,30.01,30.49,97.0,0.01,0.76,32.89,X5K,ATH,METALS

In [11]:
# top 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
25,DEN,52.79,75.00,112.44,L-SC,80.65,59984.0,-24480.0,60014.0,5.87,-28.98,100.05,42.07,256.0,-0.41,0.45,27.39,AR,NTT,ENTERTAINMENT
31,HATHWAY,19.74,31.40,1015.94,L-SC,72.04,64040.0,-14920.0,61562.0,5.61,-18.90,96.13,59.07,259.0,-0.24,0.48,28.49,XR,NTT,ENTERTAINMENT
66,SAMMAANCAP,170.35,326.00,-165.22,M-SC,77.42,78900.0,-23310.0,116701.0,5.47,-22.81,147.91,91.37,200.0,-0.20,0.59,28.08,XY25,NTT,FINANCE
41,INDIAMART,2327.09,4850.92,-46.61,H-SC,93.55,139173.0,15837.0,117921.0,5.25,12.84,84.73,108.45,122.0,0.13,1.05,38.06,AR,ATH,MISC
4,ALKYLAMINE,2347.98,4546.37,6.40,X-SC,98.92,99081.0,-1882.0,96416.0,4.84,-1.86,97.31,93.63,60.0,-0.02,0.74,47.58,SR,ATH,CHEMICALS

In [12]:
# bottom 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
26,DIXON,14367.00,18940.15,-14.40,H-LC,12.90,113088.0,-1848.0,38439.0,-2.55,-1.61,33.99,31.83,101.0,-0.05,0.85,29.61,X40N,ATH,IT
71,SIEMENS,4406.90,7969.85,-13.85,X-LC,19.35,77912.0,-32260.0,121332.0,-1.37,-29.28,155.73,80.85,11.0,-0.27,0.59,14.75,AR,ATH,ELECTRICAL
85,UNIONBANK,123.87,163.00,-6.44,M-LC,59.14,165024.0,24184.0,20314.0,-1.33,17.17,12.31,31.59,86.0,1.19,1.24,43.35,XY24,NTT,BANKS
89,VIPIND,488.80,489.00,-982.30,H-SC,97.85,84016.0,-11300.0,11342.0,-1.26,-11.86,13.50,0.04,153.0,-1.00,0.63,65.71,OX40N,NTT,MISC
65,SAIL,130.64,228.00,96.05,M-MC,45.16,222723.0,-2239.0,169893.0,-1.07,-1.00,76.28,74.53,184.0,-0.01,1.67,29.31,XY24,BTT,STEEL

In [13]:
# OX40N stocks
df_tmp = df_portfolio_features[(df_portfolio_features['Symbol'].isin(list_ox40n))].sort_values(by = 'Current P/L%', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
84,UJJIVANSFB,52.77,53.0,52.86,M-SC,88.17,132921.0,-9558.0,10182.0,1.03,-6.71,7.66,0.44,242.0,-0.94,1.00,56.88,OX40N,NTT,BANKS
89,VIPIND,488.80,489.0,-982.30,H-SC,97.85,84016.0,-11300.0,11342.0,-1.26,-11.86,13.50,0.04,153.0,-1.00,0.63,65.71,OX40N,NTT,MISC
78,TATAELXSI,7332.28,7332.0,-16.65,X-MC,33.33,87514.0,-15138.0,15131.0,-0.24,-14.75,17.29,-0.00,57.0,-1.00,0.66,33.03,OX40N,NTT,IT
76,SYMPHONY,1306.42,1306.0,-33.55,M-SC,1.08,141676.0,-29465.0,29412.0,0.70,-17.22,20.76,-0.03,190.0,-1.00,1.07,1.83,OX40N,NTT,DURABLES
42,INDIGOPNTS,1407.73,1408.0,119.87,H-SC,89.25,144175.0,-30384.0,30421.0,-0.01,-17.41,21.10,0.02,127.0,-1.00,1.08,25.02,OX40N,NTT,PAINTS

In [14]:
# top 5 to accumulate
df_tmp = df_portfolio_features.sort_values(by = 'CumlRnk', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
44,INFY,1461.46,2275.00,-10.62,X-LC,55.91,286991.0,25390.0,120221.0,1.37,9.71,41.89,55.67,1.0,0.21,2.16,16.40,X40,BTT,IT
80,TCS,3794.03,4998.00,-18.41,X-LC,26.88,266386.0,-29548.0,123470.0,0.73,-9.98,46.35,31.73,2.0,-0.24,2.00,6.62,X40,BTT,IT
36,HINDUNILVR,2413.81,2723.00,-18.73,X-LC,21.51,255416.0,-14931.0,49551.0,0.77,-5.52,19.40,12.81,5.0,-0.30,1.92,6.82,XY25,NTT,FMCG
15,BRITANNIA,4983.33,6446.05,12.68,X-LC,60.22,258382.0,29149.0,38137.0,0.85,12.72,14.76,29.35,7.0,0.76,1.94,22.77,XY25,ATH,FMCG
57,NESTLEIND,2268.60,2755.00,-11.20,X-LC,32.26,282005.0,16579.0,40327.0,1.88,6.25,14.30,21.44,10.0,0.41,2.12,12.83,XY25,NTT,FMCG

In [15]:
# top 5 to book for rotation
df_tmp = df_portfolio_features[(df_portfolio_features['Current P/L%'] > 20) ].sort_values(by = 'CumlRnk', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
3,ADANIPORTS,1103.69,1583.0,-1.49,M-LC,37.63,98789.0,20427.0,13603.0,0.14,26.07,13.77,43.43,77.0,1.5,0.74,32.77,XY24,NTT,MISC

In [16]:
# top 5 to monitor
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[(df_tmp['Current P/L%'] > 0) ].sort_values(by = 'Dev%_PE', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
18,CAMS,3643.00,5250.99,6.22,H-SC,81.72,119507.0,17503.0,27522.0,0.97,17.16,23.03,44.14,125.0,0.64,0.90,36.19,X40N,ATH,MISC
3,ADANIPORTS,1103.69,1583.00,-1.49,M-LC,37.63,98789.0,20427.0,13603.0,0.14,26.07,13.77,43.43,77.0,1.50,0.74,32.77,XY24,NTT,MISC
92,WIPRO,243.46,420.00,-2.90,M-LC,78.49,166005.0,15060.0,94390.0,1.05,9.98,56.86,72.51,68.0,0.16,1.25,14.35,XR,NTT,IT
85,UNIONBANK,123.87,163.00,-6.44,M-LC,59.14,165024.0,24184.0,20314.0,-1.33,17.17,12.31,31.59,86.0,1.19,1.24,43.35,XY24,NTT,BANKS
39,ICICIGI,1839.64,2260.25,-9.96,H-MC,86.02,148370.0,12237.0,18888.0,0.92,8.99,12.73,22.86,34.0,0.65,1.12,22.74,X40,ATH,INSURANCE

In [17]:
# top 5 to book for rotation from weak conviction
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[~df_tmp['Criteria'].isin(['XY25','XY24','X40', 'X40N'])].sort_values(by = 'RRR Ind', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
91,WHIRLPOOL,1167.49,2270.00,-30.50,M-SC,83.87,202492.0,30871.0,131195.0,0.21,17.99,64.79,94.43,194.0,0.24,1.52,49.45,XR,NTT,DURABLES
92,WIPRO,243.46,420.00,-2.90,M-LC,78.49,166005.0,15060.0,94390.0,1.05,9.98,56.86,72.51,68.0,0.16,1.25,14.35,XR,NTT,IT
41,INDIAMART,2327.09,4850.92,-46.61,H-SC,93.55,139173.0,15837.0,117921.0,5.25,12.84,84.73,108.45,122.0,0.13,1.05,38.06,AR,ATH,MISC
56,NATIONALUM,189.63,247.44,-36.43,H-SC,63.44,100875.0,371.0,30273.0,0.31,0.37,30.01,30.49,97.0,0.01,0.76,32.89,X5K,ATH,METALS
34,HEROMOTOCO,4311.81,6039.03,-1.43,H-MC,34.41,150602.0,-311.0,60768.0,0.24,-0.21,40.35,40.06,100.0,-0.01,1.13,23.18,AR,ATH,AUTO

In [18]:
# top 5 for average up
df_tmp = df_portfolio_features[(df_portfolio_features['Dev%_200'] > 5)].sort_values(by = 'CurrAlloc%', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
22,COFFEEDAY,59.14,80.00,-49.70,L-SC,96.77,73152.0,-40397.0,80445.0,2.06,-35.58,109.97,35.27,260.0,-0.50,0.55,79.04,XR,NTT,HOTELS
7,ASIANTILES,75.41,137.00,7311.11,M-SC,100.00,81295.0,-12515.0,89132.0,0.51,-13.34,109.64,81.67,238.0,-0.14,0.61,57.43,XR,NTT,CERAMICS
54,MASFIN,326.60,402.39,-19.15,H-SC,73.12,91845.0,-6135.0,28876.0,1.85,-6.26,31.44,23.21,141.0,-0.21,0.69,33.21,XR,ATH,FINANCE
52,LICI,827.06,983.00,-4.34,H-LC,84.95,97623.0,12436.0,3622.0,0.23,14.60,3.71,18.85,35.0,3.43,0.73,29.98,XY25,NTT,INSURANCE
4,ALKYLAMINE,2347.98,4546.37,6.40,X-SC,98.92,99081.0,-1882.0,96416.0,4.84,-1.86,97.31,93.63,60.0,-0.02,0.74,47.58,SR,ATH,CHEMICALS

In [19]:
# top 5 RSP
df_tmp = df_portfolio_features.sort_values(by = 'RSP', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
7,ASIANTILES,75.41,137.00,7311.11,M-SC,100.00,81295.0,-12515.0,89132.0,0.51,-13.34,109.64,81.67,238.0,-0.14,0.61,57.43,XR,NTT,CERAMICS
4,ALKYLAMINE,2347.98,4546.37,6.40,X-SC,98.92,99081.0,-1882.0,96416.0,4.84,-1.86,97.31,93.63,60.0,-0.02,0.74,47.58,SR,ATH,CHEMICALS
89,VIPIND,488.80,489.00,-982.30,H-SC,97.85,84016.0,-11300.0,11342.0,-1.26,-11.86,13.50,0.04,153.0,-1.00,0.63,65.71,OX40N,NTT,MISC
22,COFFEEDAY,59.14,80.00,-49.70,L-SC,96.77,73152.0,-40397.0,80445.0,2.06,-35.58,109.97,35.27,260.0,-0.50,0.55,79.04,XR,NTT,HOTELS
48,JPPOWER,18.73,26.20,-33.07,L-SC,95.70,135784.0,-6058.0,62624.0,3.28,-4.27,46.12,39.88,258.0,-0.10,1.02,37.61,XY24,NTT,POWER

In [20]:
# Top N allocation
df_tmp = df_portfolio_features.sort_values(by = 'CurrAlloc%', ascending=False)
top_n_values = [10, 25, 50]

sum_df = pd.DataFrame({
    'Top_N': top_n_values,
    'Sum_Alloc%': [df_tmp['CurrAlloc%'].head(n).sum() for n in top_n_values]
})

sum_df

   Top_N  Sum_Alloc%
0     10       19.20
1     25       42.44
2     50       71.28

In [21]:
# market-cap-wise allocation
df_tmp = df_portfolio_features[cols]
df_tmp.groupby(df_tmp['Conviction'].str[-2:])['CurrAlloc%'].sum().sort_values(ascending=False)

Conviction
SC    38.83
LC    37.86
MC    21.58
Name: CurrAlloc%, dtype: float64

In [22]:
# criteria-wise allocation
df_portfolio_features.groupby('Criteria')['CurrAlloc%'].sum().sort_values(ascending=False)

Criteria
XY24     31.23
XY25     14.08
X40      12.46
X40N     10.66
XR       10.38
OX40N     8.32
AR        7.92
X5K       2.24
X200      1.47
SR        1.23
Name: CurrAlloc%, dtype: float64

In [23]:
# conviction-wise allocation
df_portfolio_features.groupby('Conviction')['CurrAlloc%'].sum().sort_values(ascending=False)

Conviction
H-SC    19.56
X-LC    15.36
M-SC    13.99
H-LC    13.17
H-MC     8.49
M-LC     8.24
X-MC     7.53
M-MC     5.56
X-SC     2.78
L-SC     2.50
L-LC     1.09
Name: CurrAlloc%, dtype: float64

In [24]:
# sector-wise stats
df_tmp = df_portfolio_features.groupby('Category')[['CurrAlloc%', 'Current', 'Current P/L', 'FTT Amt']].sum().sort_values(by=['Current', 'Current P/L'], ascending=False)
df_tmp['Current P/L%'] = round(df_tmp['Current P/L'] * 100 / df_tmp['Current'], 2)
df_tmp['FTT%'] = round(df_tmp['FTT Amt'] * 100 / df_tmp['Current'], 2)
cols = ['CurrAlloc%', 'Current P/L%', 'FTT%']
df_tmp[cols].sort_values(by=['CurrAlloc%'], ascending=False)

               CurrAlloc%  Current P/L%    FTT%
Category
FMCG                15.38         -2.27   36.48
IT                  12.03        -11.08   66.25
BANKS                7.96         -7.69   51.63
FINANCE              7.89        -14.86   56.43
MISC                 6.72        -20.99   68.18
PAINTS               5.63        -16.45   39.40
ELECTRICAL           5.08         -3.93   48.95
HEALTHCARE           4.53         -7.01   38.27
AUTO                 4.41        -14.98   65.53
INSURANCE            4.11         -2.01   32.39
DURABLES             3.20         -4.13   42.18
FOOTWEAR             2.38        -30.57   73.72
METALS               2.24         -3.71   34.46
AC                   2.21         -8.48   41.07
CERAMICS             1.79        -27.46   70.39
TRAVEL               1.68        -41.92  103.33
STEEL                1.67         -1.01   76.28
CHEMICALS            1.57        -11.91   97.48
ENGINEERING          1.22        -18.72   67.49
REFINERIES           1.20         12.09    3.84
JEWELLERY            1.15        -89.47  138.10
MINING               1.09         -3.39   30.22
POWER                1.02         -4.46   46.12
CEMENT               1.02        -39.15  110.75
ENTERTAINMENT        0.93        -31.77   98.03
PHARMA               0.76          0.49   19.48
TEXTILES             0.57        -22.50   57.43
HOTELS               0.55        -55.22  109.97

In [25]:
# money to be made criteria-wise
df_portfolio_features.groupby('Criteria')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                sum  count
Criteria
XY24      2776762.0     25
XR        1078349.0     13
AR        1015859.0      9
X40        664526.0      9
X40N       512815.0     10
XY25       510949.0     10
OX40N      322968.0     11
SR         180038.0      2
X5K        102266.0      3
X200        64802.0      1

In [26]:
# money to be made conviction-wise
df_portfolio_features.groupby('Conviction')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                  sum  count
Conviction
H-SC        1896094.0     19
M-SC        1467584.0     18
X-LC         620060.0      9
H-LC         604978.0     12
M-MC         603340.0      5
H-MC         493673.0      7
X-MC         415455.0      6
M-LC         347024.0      6
L-SC         264645.0      4
X-SC         260931.0      4
L-LC          43976.0      1

In [27]:
# money to be made criteria and conviction-wise
df_portfolio_features.groupby(['Conviction', 'Criteria'])['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                          sum  count
Conviction Criteria
H-SC       XY24      874600.0      6
M-SC       XY24      594406.0      5
H-SC       AR        516771.0      3
M-MC       XY24      397758.0      3
M-SC       XR        335592.0      4
X-LC       X40       318828.0      3
H-LC       X40N      240351.0      5
M-LC       XY24      235635.0      4
H-MC       XY24      231877.0      2
H-SC       XR        213890.0      3
M-SC       OX40N     174050.0      5
X-MC       XY24      168288.0      2
H-SC       X40N      167576.0      3
H-LC       X40       149073.0      2
L-SC       XR        142007.0      2
X-LC       XY25      134166.0      4
X-SC       XR        123712.0      1
X-LC       AR        121332.0      1
M-SC       XY25      116701.0      1
M-MC       XR        113579.0      1
X-MC       XY25      103728.0      1
X-SC       SR         96416.0      1
M-LC       XR         94390.0      1
H-SC       OX40N      92984.0      3
M-MC       AR         92003.0      1
H-MC       XY25       91757.0      1
M-SC       AR         89834.0      1
           SR         83622.0      1
H-LC       AR         75137.0      1
M-SC       X40        73379.0      1
H-LC       X5K        71993.0      2
X-MC       X40        69154.0      1
H-LC       X200       64802.0      1
L-SC       XY24       62624.0      1
H-MC       AR         60768.0      1
L-SC       AR         60014.0      1
X-MC       X40N       59154.0      1
H-MC       XR         55179.0      1
           X40        54092.0      2
X-LC       X40N       45734.0      1
L-LC       XY25       43976.0      1
X-SC       OX40N      40803.0      2
H-SC       X5K        30273.0      1
M-LC       XY25       16999.0      1
X-MC       OX40N      15131.0      1
H-LC       XY25        3622.0      1

In [28]:
# notebook execution time

end_time = time.time()
execution_time = round(end_time - start_time, 0)
print(f"Notebook execution time: {execution_time} seconds")

Notebook execution time: 55.0 seconds