<a href="https://colab.research.google.com/github/ankit-rathi/Quantvesting_v2/blob/main/myStocks_Portfolio_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyxirr
!pip install yfinance==0.2.59

Requirement already satisfied: pyxirr in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (0.10.6)

Collecting yfinance==0.2.59

  Downloading yfinance-0.2.59-py2.py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: pandas>=1.3.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.3.0)
Requirement already satisfied: numpy>=1.16.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.3.0)
Requirement already satisfied: requests>=2.31 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.32.4)
Requirement already satisfied: multitasking>=0.0.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.11.3)

Collecting protobuf<6,>=5.29.0 (from yfinance==0.2.59)
  Downloading protobuf-5.29.5-cp38-abi3-manylinux2014_x86_64.whl.metadata (592 bytes)
Requirement already satisfied: websockets>=11.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (4.14.0)
Requirement already satisfied: cffi>=1.12.0 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (2025.6.15)
Requirement already satisfied: pycparser in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance==0.2.59) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance==0.2.59) (1.17.0)

Requirement already satisfied: charset_normalizer<4,>=2 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/hostedtoolcache/Python/3.13.3/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (2.4.0)
Downloading yfinance-0.2.59-py2.py3-none-any.whl (117 kB)
Downloading protobuf-5.29.5-cp38-abi3-manylinux2014_x86_64.whl (319 kB)

Installing collected packages: protobuf, yfinance

  Attempting uninstall: protobuf
    Found existing installation: protobuf 6.31.1
    Uninstalling protobuf-6.31.1:
      Successfully uninstalled protobuf-6.31.1

  Attempting uninstall: yfinance

    Found existing installation: yfinance 0.2.63
    Uninstalling yfinance-0.2.63:
      Successfully uninstalled yfinance-0.2.63
   ━━━━━━━━━━━━━━━━━━━━╺━━━━━━━━━━━━━━━━━━━ 1/2 [yfinance]

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [yfinance]
Successfully installed protobuf-5.29.5 yfinance-0.2.59

In [2]:
# import libraries

import numpy as np
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import yfinance as yfin
import matplotlib.pyplot as plt
import requests

In [3]:
# notebook start time
import time
import datetime
import pytz

start_time = time.time()

# function to print date timestamp
def print_date_time():
  tz_NY = pytz.timezone('Asia/Kolkata')
  datetime_NY = datetime.datetime.now(tz_NY)
  print("Run date time (IST):", datetime_NY.strftime("%Y-%m-%d %H:%M:%S"))

In [4]:
# function to get booked and reserved amount
def get_amt():
  # fetch the JSON data from the URL
  url = "https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioAmts.json"
  response = requests.get(url)
  pf_amts = response.json()  # parse the JSON data

  # extract values from the JSON
  py_booked_amt_dm = pf_amts["py_booked_amt_dm"]
  py_booked_amt_sv = pf_amts["py_booked_amt_sv"]
  cy_booked_amt_dm = pf_amts["cy_booked_amt_dm"]
  cy_booked_amt_sv = pf_amts["cy_booked_amt_sv"]
  reserve_amt_dm = pf_amts["reserve_amt_dm"]
  reserve_amt_sv = pf_amts["reserve_amt_sv"]

  # perform calculations
  py_booked_amt = py_booked_amt_dm + py_booked_amt_sv
  cy_booked_amt = cy_booked_amt_dm + cy_booked_amt_sv
  reserve_amt = reserve_amt_dm + reserve_amt_sv
  total_booked_amt = py_booked_amt + cy_booked_amt

  return total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt

gen_output = 0

In [5]:
# function to format the amount
def format_amt(number):
    abs_number = abs(number)

    if abs_number >= 1_00_00_000:  # Crores
        formatted_amt = f"{number / 1_00_00_000:.2f} C"
    elif abs_number >= 1_00_000:  # Lakhs
        formatted_amt = f"{number / 1_00_000:.2f} L"
    elif abs_number >= 1_000:  # Thousands
        formatted_amt = f"{number / 1_000:.2f} K"
    else:
        formatted_amt = f"{number:.2f}"

    return formatted_amt

# function to set start and end date
def get_start_end_date():
  start_date = (datetime.date.today() + datetime.timedelta(days=-365)).strftime('%Y-%m-%d')
  end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')
  return start_date, end_date

# function to fetch my portfolio csv
def get_mypfs_df():
  mypfs_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioStocks.csv')
  return mypfs_df

# function to fetch my prospects csv
def get_mypps_df():
  mypps_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myProspectsScrips.csv')
  return mypps_df

# function to fetch screener data
def get_myscreen_df():
  myscreen_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myScreenerDB.csv')
  return myscreen_df

# function to fetch momentum data
def get_myinvmt_df():
  myinvmt_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myInvestments.csv')
  return myinvmt_df

# function to get the stock ids
def get_stock_ids(df_pf):
  stock_n100 = df_pf['Symbol'].unique()

  exclude = ['CADILAHC','MMTC', 'MASFIN']

  stock_ids = df_pf[~df_pf['Symbol'].isin(exclude) ]['Symbol'].unique()

  #mypf = mypf[mypf.Forecast.notnull()]
  #stock_ids = mypf['Symbol'].unique()

  stock_ids.sort()
  return stock_ids

# get features from screener data
def get_screener_features():
  myscreen_df = get_myscreen_df()
  cols = ['Symbol', 'EPS', 'MedPE', 'ROCE%', 'ROE%', 'CapType']
  return myscreen_df[cols]

# get relative strength
def get_relative_strength(stock_list):

    # Dictionary to store stock tickers and their corresponding percentage price change
    stock_changes = {}

    # Loop through each stock and fetch its price data
    for stock in stock_list:
        try:
            # Download the stock data for the given date range
            stock_data = yfin.Ticker(stock + '.NS').history(period='1mo', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

            # Calculate the percentage change for the stock
            if len(stock_data) > 0:
                start_price = stock_data['Close'].iloc[0]
                end_price = stock_data['Close'].iloc[-1]
                percent_change = round(((end_price - start_price) / start_price) * 100, 2)
                stock_changes[stock] = percent_change
            else:
                stock_changes[stock] = np.nan  # If no data is available, set to NaN

        except Exception as e:
            print(f"Error fetching data for {stock}: {e}")
            stock_changes[stock] = np.nan

    # Create a DataFrame with stock tickers and their percentage changes
    df = pd.DataFrame(list(stock_changes.items()), columns=['Symbol', 'Percent_Change'])

    # Drop any stocks with missing data (NaN values)
    df = df.dropna()

    # Calculate the percentile rank based on percentage change
    df['RSP'] = round(df['Percent_Change'].rank(pct=True) * 100, 2)
    cols = ['Symbol', 'RSP']
    df = df[cols]
    # Sort by percentile rank (optional)
    df = df.sort_values(by='RSP', ascending=False).reset_index(drop=True)

    return df

In [6]:
# function to get stock technicals
def stock_prec_dev(stock_symbol):
    #stock_symbol = 'ULTRACEMCO.NS'
    short_window = 20
    mid_window = 50
    long_window = 200
    moving_avg = 'SMA'

    start = datetime.datetime(*map(int, start_date.split('-')))
    end = datetime.datetime(*map(int, end_date.split('-')))

    stock_df = yfin.Ticker(stock_symbol + '.NS').history(period='max', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

    stock_df['Max'] = round(max(stock_df['Close']),2)
    stock_df = stock_df[(stock_df.index <= end_date) & (stock_df.index >= start_date)]
    stock_df['200_SMA'] = round(stock_df['Close'].rolling(window = 200, min_periods = 1).mean(),0)
    stock_df['Dev%_200'] = round((stock_df['Close'] - stock_df['200_SMA'])*100/stock_df['200_SMA'],2)
    stock_df.dropna(axis = 0, inplace = True) # remove any null rows

    stock_df['Symbol'] = stock_symbol

    stock_df['Close'] = round(stock_df['Close'],2)
    stock_df['Min'] = round(min(stock_df['Close']),2)
    stock_df['Prev_Close'] = stock_df['Close'].shift(1)
    stock_df.drop(['Open', 'Low', 'High', 'Volume'], axis=1, inplace=True)
    stock_df = stock_df.tail(1)

    return stock_df

# function to compute stock attributes
def get_common_features(stock_ids, df_mypf):

  df_prec_dev = pd.DataFrame()
  df_tmp = get_screener_features()
  df_rs = get_relative_strength(stock_ids)

  for stock_id in stock_ids:
      tmp = stock_prec_dev(stock_id)
      tmp = tmp.reset_index()
      df_prec_dev = pd.concat([df_prec_dev, tmp], ignore_index = True)
  df_prec_dev = pd.merge(df_prec_dev, df_mypf, on= 'Symbol')
  df_prec_dev = pd.merge(df_prec_dev, df_tmp, on= 'Symbol', how='left')
  df_prec_dev = pd.merge(df_prec_dev, df_rs, on= 'Symbol', how='left')
  #print(df_prec_dev.columns)
  df_prec_dev['Curr_PE'] = round(df_prec_dev['Close']/df_prec_dev['EPS'],1)
  df_prec_dev['Dev%_PE'] = round((df_prec_dev['Curr_PE'] - df_prec_dev['MedPE'])*100/df_prec_dev['MedPE'],2)
  df_prec_dev['Conviction'] = df_prec_dev['Conviction'] + '-' + df_prec_dev['CapType']
  return df_prec_dev

# function to arrange stock features
def arrange_features(df_stocks, common_cols, diff_cols):
  df_stocks_common = df_stocks[common_cols].drop_duplicates()
  df_stocks_diff = df_stocks[diff_cols]
  df_stocks_diff['Investment'] = df_stocks_diff['AvgCost'] * df_stocks_diff['Shares']
  df_stocks_diff = df_stocks_diff.groupby(['Symbol'])[['Shares', 'Investment']].aggregate(['sum']).reset_index()
  df_stocks_diff.columns = ['Symbol', 'Shares', 'Investment']
  df_stocks_diff['AvgCost'] = round(df_stocks_diff['Investment']/df_stocks_diff['Shares'],2)
  df_stocks = pd.merge(df_stocks_diff, df_stocks_common, on='Symbol')
  return df_stocks

# plot fact distribution across dimension
def plot_pie_chart(df, dimension, fact):
  # grouping the data by category and calculating the sum of fact for each type
  grouped_data = df.groupby(dimension)[fact].sum()

  # sorting the grouped data in descending order
  grouped_data = grouped_data.sort_values(ascending=False)

  # creating a pie chart
  grouped_data.plot.pie(autopct='%1.1f%%', startangle=90, figsize=(6, 6))

  # adding a title and displaying the plot
  plt.title(f'{dimension} {fact} Distribution')
  plt.ylabel('')  # To hide the y-label
  plt.show()

In [7]:
# function to get portfolio features

def get_portfolio_features(df_common_features):

  print_date_time()
  print('-------------------')

  #df_common_features["Target"] = df_common_features["Target"].fillna(df_common_features["Max"])
  df_common_features['NTT'] = np.where(df_common_features['Strategy']== 'NTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['LTT'] = np.where(df_common_features['Strategy']== 'BTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['BOL'] = df_common_features['Min']

  tmp_df = df_common_features[df_common_features['Symbol'].isin(mypf_df[mypf_df['InPortfolio'] != 'NA'].Symbol.values)]
  print('qualified stocks: '+str(len(tmp_df['Symbol'].unique())))
  tmp_df1 = tmp_df[tmp_df['LatestQtr'] == 1]
  print('with latest results: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df1 = tmp_df1[tmp_df1['StarStock'] == 1]
  print('still star stocks: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df['Investment'] = tmp_df['AvgCost'] * tmp_df['Shares']
  tmp_df['Current'] = round(tmp_df['Close'] * tmp_df['Shares'],0)
  tmp_df['Previous'] = tmp_df['Prev_Close'] * tmp_df['Shares']
  tmp_df['EstimatedST'] = tmp_df['NTT'] * tmp_df['Shares']
  tmp_df['EstimatedLT'] = tmp_df['LTT'] * tmp_df['Shares']
  tmp_df['Current P/L'] = round((tmp_df['Current'] - tmp_df['Investment']),0)
  tmp_df['Today P/L%'] = round((tmp_df['Current'] - tmp_df['Previous'])*100/tmp_df['Previous'],2)
  tmp_df['Current P/L%'] = round((tmp_df['Current'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedST P/L%'] = round((tmp_df['EstimatedST'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedLT P/L%'] = round((tmp_df['EstimatedLT'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['NTT%'] = round((tmp_df['NTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['LTT%'] = round((tmp_df['LTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['Gained%'] = round((tmp_df['Close'] - tmp_df['BOL'])*100/tmp_df['BOL'],2)
  investment = round(sum(tmp_df['AvgCost']*tmp_df['Shares']),0)
  current = round(sum(tmp_df['Close']*tmp_df['Shares']),0)
  tmp_df['InitAlloc%'] = round(tmp_df['Investment']*100/investment,2)
  tmp_df['CurrAlloc%'] = round(tmp_df['Current']*100/current,2)
  tmp_df['FTT'] = tmp_df['LTT']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT'] = tmp_df['NTT']
  tmp_df['FTT%'] = tmp_df['LTT%']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT%'] = tmp_df['NTT%']
  tmp_df['FTT Amt'] = round(tmp_df['FTT%'] * tmp_df['Current']/100,0)
  tmp_df['OTT%'] = round((tmp_df['FTT'] - tmp_df['AvgCost'])*100/tmp_df['AvgCost'],2)
  tmp_df['RRR Ind'] = round(tmp_df['Current P/L']/tmp_df['FTT Amt'],2)
  tmp_df['Risk Ind'] = round(tmp_df['Current P/L%']*tmp_df['CurrAlloc%'],0)

  return tmp_df

# function to print portfolio features
def print_portfolio_stats(df_portfolio_features, myinvmt_df):
  from pyxirr import xirr

  total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt = get_amt()

  dates = myinvmt_df['Date'].values
  dates = np.append(dates, datetime.date.today().strftime('%d-%b-%y'))
  investment = myinvmt_df['Investment'].values
  dates= pd.to_datetime(dates)

  current = round(sum(df_portfolio_features['Close']*df_portfolio_features['Shares']),0) + reserve_amt
  investment_xirr = np.append(investment, current)
  cagr = round(xirr(pd.DataFrame({"dates": dates, "amounts": investment_xirr}))*100,2)

  investment = -sum(investment)
  invested = round(sum(df_portfolio_features['AvgCost']*df_portfolio_features['Shares']),0) + reserve_amt
  previous = round(sum(df_portfolio_features['Prev_Close']*df_portfolio_features['Shares']),0) + reserve_amt
  cy_invested = investment + py_booked_amt

  today_pnl_amount = current-previous
  today_pnl_percentage = round((current-previous)*100/previous,2)

  curr_pnl_amount = current-invested
  curr_pnl_percentage = round((curr_pnl_amount)*100/(cy_invested),2)

  cy_pnl_amount = cy_booked_amt + curr_pnl_amount
  cy_pnl_percentage = round((cy_pnl_amount)*100/cy_invested,2)

  overall_pnl_amount = total_booked_amt + curr_pnl_amount
  overall_pnl_percentage = round((overall_pnl_amount)*100/investment,2)

  estimate_st = round(sum(df_portfolio_features['FTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_st_pnl_amount = estimate_st-current
  est_st_pnl_percentage = round((est_st_pnl_amount)*100/current,2)

  estimate_lt = round(sum(df_portfolio_features['LTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_lt_pnl_amount = estimate_lt-current
  est_lt_pnl_percentage = round((est_lt_pnl_amount)*100/current,2)

  total_profit = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Investment']),0)
  total_loss = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Investment']),0)

  cy_booked_percentage = round((cy_booked_amt)*100/current,2)
  py_booked_percentage = round((py_booked_amt)*100/investment,2)
  total_booked_percentage = round((total_booked_amt)*100/investment,2)

  print('-------------------')
  print('Initial Investment: ', format_amt(investment))
  print('CY Investment: ', format_amt(cy_invested))
  print('Reserve: ', format_amt(reserve_amt))
  print('Current: ',  format_amt(current))
  print('-------------------')
  print('Today PnL: '+ '{} ({}%)'.format(format_amt(today_pnl_amount), today_pnl_percentage))
  print('Current PnL: '+ '{} ({}%)'.format(format_amt(curr_pnl_amount), curr_pnl_percentage))
  print('CY Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(cy_pnl_amount), cy_pnl_percentage))
  print('-------------------')
  print('Total profit: ', format_amt(total_profit))
  print('Total loss: ', format_amt(total_loss))
  print('-------------------')
  print('Total Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(overall_pnl_amount), overall_pnl_percentage))
  print('Total Booked PnL: '+ '{} ({}%)'.format(format_amt(total_booked_amt), total_booked_percentage))
  print('Curr Year Booked PnL: '+ '{} ({}%)'.format(format_amt(cy_booked_amt), cy_booked_percentage))
  print('Prev Year Booked PnL: '+ '{} ({}%)'.format(format_amt(py_booked_amt), py_booked_percentage))
  print('===================')
  print('Est FTT: ',  format_amt(estimate_st))
  print('Est FTT PnL: '+ '{} ({}%)'.format(format_amt(est_st_pnl_amount), est_st_pnl_percentage))

  print('===================')
  print('Deployed: ', format_amt(investment))

  print('Current: ', format_amt(current))

  print('CAGR/XIRR %: '+'{}%'.format(cagr))

In [8]:
# get start and end date
start_date, end_date = get_start_end_date()

# get portfolio and prospects data
mypfs_df = get_mypfs_df()
mypps_df = get_mypps_df()
myinvmt_df = get_myinvmt_df()

# merge above datasets
mypf_df = pd.merge(mypfs_df, mypps_df, on="Symbol")

# seggregate dm and sv portfolio
dm_pf = mypf_df[mypf_df['InPortfolio'] == 'DM']
sv_pf = mypf_df[mypf_df['InPortfolio'] == 'SV']

# build portfolio stock dataframe
dm_stocks = get_stock_ids(dm_pf)
sv_stocks = get_stock_ids(sv_pf)
df_stocks = pd.concat([dm_pf,sv_pf], ignore_index = True)

# arrange common and diff stock features
common_cols = ['Symbol', 'Target', 'Criteria', 'Strategy', 'CumlRnk', 'LatestQtr', 'StarStock', 'Conviction', 'Category', 'InFolio', 'XIRR', 'MBQ']
diff_cols = ['Symbol', 'AvgCost', 'Shares']
df_stocks = arrange_features(df_stocks, common_cols, diff_cols)

# get common features
stock_ids = df_stocks['Symbol'].values
df_common_features = get_common_features(stock_ids, df_stocks)

df_common_features.reset_index(drop=True, inplace=True)
df_common_features.drop(['Date'], axis=1, inplace=True)
# get and print portfolio features
df_portfolio_features = get_portfolio_features(df_common_features)

print_portfolio_stats(df_portfolio_features, myinvmt_df)

df = df_portfolio_features
#plot_pie_chart(df, 'CapType', 'Current')
list_ox40n = list(df[df['MBQ'].str.contains('OX40N', na=False)]['Symbol'].values)

Run date time (IST): 2025-06-16 10:20:57
-------------------
qualified stocks: 92
with latest results: 29
still star stocks: 17
-------------------
Initial Investment:  1.17 C
CY Investment:  1.44 C
Reserve:  1.50 L
Current:  1.32 C
-------------------
Today PnL: -1.04 L (-0.78%)
Current PnL: -17.32 L (-12.07%)
CY Booked + Current PnL: -10.95 L (-7.63%)
-------------------
Total profit:  2.84 L
Total loss:  -20.17 L
-------------------
Total Booked + Current PnL: 16.03 L (13.75%)
Total Booked PnL: 33.35 L (28.62%)
Curr Year Booked PnL: 6.37 L (4.83%)
Prev Year Booked PnL: 26.98 L (23.15%)
===================
Est FTT:  2.05 C
Est FTT PnL: 73.44 L (55.69%)
===================
Deployed:  1.17 C
Current:  1.32 C
CAGR/XIRR %: 8.61%

In [9]:
# top 5 near their targets
cols = ['Symbol', 'AvgCost', 'FTT', 'Dev%_PE', 'Conviction', 'RSP', 'Current', 'Current P/L', 'FTT Amt', 'Today P/L%', 'Current P/L%', 'FTT%', 'OTT%', 'CumlRnk', 'RRR Ind', 'CurrAlloc%', 'Gained%', 'Criteria', 'Strategy', 'Category']
df_tmp = df_portfolio_features.sort_values(by = 'FTT Amt', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
51,LICI,827.06,983.0,-5.02,H-LC,90.22,96588.0,11401.0,4665.0,-0.02,13.38,4.83,18.85,35.0,2.44,0.74,28.60,XY25,NTT,INSURANCE
61,RELIANCE,1291.83,1526.0,4.98,X-LC,35.87,156175.0,15366.0,10151.0,0.34,10.91,6.50,18.13,17.0,1.51,1.20,23.32,XY25,NTT,REFINERIES
3,ADANIPORTS,1103.69,1583.0,-1.13,M-LC,43.48,99329.0,20967.0,13062.0,-0.43,26.76,13.15,43.43,77.0,1.61,0.76,33.50,XY24,NTT,MISC
77,TATAELXSI,7332.28,7332.0,-15.98,X-MC,63.04,88193.0,-14459.0,14455.0,-1.45,-14.09,16.39,-0.00,57.0,-1.00,0.68,34.06,OX40N,NTT,IT
88,VIPIND,488.80,489.0,-948.40,H-SC,86.96,80828.0,-14488.0,14525.0,2.46,-15.20,17.97,0.04,153.0,-1.00,0.62,59.42,OX40N,NTT,MISC

In [10]:
# top 5 to exit based on CumlRnk
df_tmp = df_portfolio_features
df_tmp = df_tmp[(df_tmp['Current P/L%'] > -1) & (df_tmp['Current P/L%'] < 1)].sort_values(by = 'CumlRnk', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
33,HEROMOTOCO,4311.81,6039.03,-0.48,H-MC,44.57,151935.0,1022.0,59437.0,0.17,0.68,39.12,40.06,100.0,0.02,1.17,24.27,AR,ATH,AUTO
89,VOLTAS,1278.28,1929.20,-29.48,H-MC,54.35,192300.0,558.0,97073.0,0.38,0.29,50.48,50.92,99.0,0.01,1.47,6.51,XY25,ATH,AC
57,PGHH,13388.00,18106.42,-20.14,X-MC,10.87,201315.0,495.0,70279.0,-0.19,0.25,34.91,35.24,53.0,0.01,1.54,4.93,X40,ATH,FMCG

In [11]:
# top 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
88,VIPIND,488.80,489.00,-948.40,H-SC,86.96,80828.0,-14488.0,14525.0,2.46,-15.20,17.97,0.04,153.0,-1.00,0.62,59.42,OX40N,NTT,MISC
20,CIPLA,1495.00,1795.00,-15.62,H-LC,60.87,102892.0,2727.0,17368.0,2.03,2.72,16.88,20.07,29.0,0.16,0.79,10.90,X40N,BTT,PHARMA
79,TCS,3794.03,4998.00,-16.80,X-LC,36.96,271385.0,-24549.0,118460.0,0.97,-8.30,43.65,31.73,2.0,-0.21,2.08,8.63,X40,BTT,IT
32,HCLTECH,1647.60,1965.74,19.14,H-LC,66.30,104383.0,3879.0,15522.0,0.94,3.86,14.87,19.31,31.0,0.25,0.80,25.97,X40,ATH,IT
53,MASFIN,326.60,399.50,-22.76,H-SC,82.61,87750.0,-10230.0,32099.0,0.72,-10.44,36.58,22.32,141.0,-0.32,0.67,27.27,XR,ATH,FINANCE

In [12]:
# bottom 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
78,TATAMOTORS,761.77,1065.00,-55.10,M-LC,11.96,246713.0,-29810.0,139886.0,-4.55,-10.78,56.70,39.81,69.0,-0.21,1.89,18.24,XY24,NTT,AUTO
85,VAIBHAVGBL,350.21,521.00,57.58,X-SC,23.91,105223.0,-46768.0,120891.0,-3.58,-30.77,114.89,48.77,61.0,-0.39,0.81,20.86,XR,NTT,JEWELLERY
83,UJJIVANSFB,52.77,53.00,48.19,M-SC,83.70,128169.0,-14310.0,14932.0,-3.26,-10.04,11.65,0.44,242.0,-0.96,0.98,51.27,OX40N,NTT,BANKS
50,LAOPALA,369.40,464.00,120.35,H-SC,78.26,70106.0,-30740.0,56569.0,-3.17,-30.48,80.69,25.61,131.0,-0.54,0.54,26.44,AR,NTT,CERAMICS
76,TANLA,917.30,1963.11,-30.98,H-SC,94.57,168867.0,-70548.0,343509.0,-2.94,-29.47,203.42,114.01,128.0,-0.21,1.30,54.88,AR,ATH,IT

In [13]:
# OX40N stocks
df_tmp = df_portfolio_features[(df_portfolio_features['Symbol'].isin(list_ox40n))].sort_values(by = 'Current P/L%', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
83,UJJIVANSFB,52.77,53.0,48.19,M-SC,83.70,128169.0,-14310.0,14932.0,-3.26,-10.04,11.65,0.44,242.0,-0.96,0.98,51.27,OX40N,NTT,BANKS
75,SYMPHONY,1306.42,1306.0,-30.51,M-SC,2.17,147978.0,-23163.0,23114.0,-0.76,-13.53,15.62,-0.03,190.0,-1.00,1.14,6.36,OX40N,NTT,DURABLES
77,TATAELXSI,7332.28,7332.0,-15.98,X-MC,63.04,88193.0,-14459.0,14455.0,-1.45,-14.09,16.39,-0.00,57.0,-1.00,0.68,34.06,OX40N,NTT,IT
88,VIPIND,488.80,489.0,-948.40,H-SC,86.96,80828.0,-14488.0,14525.0,2.46,-15.20,17.97,0.04,153.0,-1.00,0.62,59.42,OX40N,NTT,MISC
19,CERA,8421.60,8422.0,-13.13,X-SC,79.35,89726.0,-19755.0,19758.0,-1.37,-18.04,22.02,0.00,65.0,-1.00,0.69,35.80,OX40N,NTT,CERAMICS

In [14]:
# top 5 to accumulate
df_tmp = df_portfolio_features.sort_values(by = 'CumlRnk', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
43,INFY,1461.46,2275.00,-10.27,X-LC,65.22,288351.0,26750.0,118887.0,0.56,10.23,41.23,55.67,1.0,0.23,2.21,16.95,X40,BTT,IT
79,TCS,3794.03,4998.00,-16.80,X-LC,36.96,271385.0,-24549.0,118460.0,0.97,-8.30,43.65,31.73,2.0,-0.21,2.08,8.63,X40,BTT,IT
35,HINDUNILVR,2413.81,2723.00,-16.95,X-LC,32.61,260859.0,-9488.0,44111.0,0.44,-3.51,16.91,12.81,5.0,-0.22,2.00,7.96,XY25,NTT,FMCG
15,BRITANNIA,4983.33,6446.05,11.05,X-LC,48.91,254472.0,25239.0,42039.0,-0.68,11.01,16.52,29.35,7.0,0.60,1.95,20.91,XY25,ATH,FMCG
56,NESTLEIND,2268.60,2755.00,-11.96,X-LC,40.22,279431.0,14005.0,42893.0,0.48,5.28,15.35,21.44,10.0,0.33,2.14,11.80,XY25,NTT,FMCG

In [15]:
# top 5 to book for rotation
df_tmp = df_portfolio_features[(df_portfolio_features['Current P/L%'] > 20) ].sort_values(by = 'CumlRnk', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
3,ADANIPORTS,1103.69,1583.0,-1.13,M-LC,43.48,99329.0,20967.0,13062.0,-0.43,26.76,13.15,43.43,77.0,1.61,0.76,33.5,XY24,NTT,MISC

In [16]:
# top 5 to monitor
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[(df_tmp['Current P/L%'] > 0) ].sort_values(by = 'Dev%_PE', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
33,HEROMOTOCO,4311.81,6039.03,-0.48,H-MC,44.57,151935.0,1022.0,59437.0,0.17,0.68,39.12,40.06,100.0,0.02,1.17,24.27,AR,ATH,AUTO
3,ADANIPORTS,1103.69,1583.00,-1.13,M-LC,43.48,99329.0,20967.0,13062.0,-0.43,26.76,13.15,43.43,77.0,1.61,0.76,33.50,XY24,NTT,MISC
18,CAMS,3643.00,5250.99,-1.56,H-SC,55.43,110765.0,8761.0,36264.0,-0.62,8.59,32.74,44.14,125.0,0.24,0.85,26.23,X40N,ATH,MISC
84,UNIONBANK,123.87,163.00,-4.91,M-LC,88.04,166275.0,25435.0,19055.0,-2.83,18.06,11.46,31.59,86.0,1.33,1.28,44.43,XY24,NTT,BANKS
91,WIPRO,243.46,420.00,-6.08,M-LC,58.70,161194.0,10249.0,99199.0,-0.08,6.79,61.54,72.51,68.0,0.10,1.24,11.04,XR,NTT,IT

In [17]:
# top 5 to book for rotation from weak conviction
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[~df_tmp['Criteria'].isin(['XY25','XY24','X40', 'X40N'])].sort_values(by = 'RRR Ind', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
90,WHIRLPOOL,1167.49,2270.00,-34.03,M-SC,50.00,192335.0,20714.0,141347.0,-1.53,12.07,73.49,94.43,194.0,0.15,1.48,41.96,XR,NTT,DURABLES
91,WIPRO,243.46,420.00,-6.08,M-LC,58.70,161194.0,10249.0,99199.0,-0.08,6.79,61.54,72.51,68.0,0.10,1.24,11.04,XR,NTT,IT
40,INDIAMART,2327.09,4850.92,-49.97,H-SC,80.43,130062.0,6726.0,127032.0,-0.60,5.45,97.67,108.45,122.0,0.05,1.00,29.03,AR,ATH,MISC
12,BANKINDIA,116.91,190.00,-30.66,M-MC,73.91,183776.0,3968.0,108446.0,-1.40,2.21,59.01,62.52,170.0,0.04,1.41,32.25,XR,NTT,BANKS
33,HEROMOTOCO,4311.81,6039.03,-0.48,H-MC,44.57,151935.0,1022.0,59437.0,0.17,0.68,39.12,40.06,100.0,0.02,1.17,24.27,AR,ATH,AUTO

In [18]:
# top 5 for average up
df_tmp = df_portfolio_features[(df_portfolio_features['Dev%_200'] > 5)].sort_values(by = 'CurrAlloc%', ascending=True)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
22,COFFEEDAY,59.14,80.00,-53.72,L-SC,97.83,67987.0,-45562.0,85609.0,-1.26,-40.13,125.92,35.27,260.0,-0.53,0.52,66.40,XR,NTT,HOTELS
53,MASFIN,326.60,399.50,-22.76,H-SC,82.61,87750.0,-10230.0,32099.0,0.72,-10.44,36.58,22.32,141.0,-0.32,0.67,27.27,XR,ATH,FINANCE
51,LICI,827.06,983.00,-5.02,H-LC,90.22,96588.0,11401.0,4665.0,-0.02,13.38,4.83,18.85,35.0,2.44,0.74,28.60,XY25,NTT,INSURANCE
3,ADANIPORTS,1103.69,1583.00,-1.13,M-LC,43.48,99329.0,20967.0,13062.0,-0.43,26.76,13.15,43.43,77.0,1.61,0.76,33.50,XY24,NTT,MISC
36,HINDZINC,514.80,744.74,35.98,H-LC,96.74,101760.0,-1200.0,47186.0,-1.06,-1.17,46.37,44.67,25.0,-0.03,0.78,31.32,X5K,ATH,METALS

In [19]:
# top 5 RSP
df_tmp = df_portfolio_features.sort_values(by = 'RSP', ascending=False)
df_tmp[cols].head()

,Symbol,AvgCost,FTT,Dev%_PE,Conviction,RSP,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
7,ASIANTILES,75.41,137.00,7288.89,M-SC,100.00,81047.0,-12763.0,89379.0,-2.21,-13.61,110.28,81.67,238.0,-0.14,0.62,56.95,XR,NTT,CERAMICS
86,VALIANTORG,512.64,838.00,-378.85,H-SC,98.91,118417.0,-14869.0,99458.0,-2.58,-11.16,83.99,63.47,142.0,-0.15,0.91,98.50,XR,NTT,CHEMICALS
22,COFFEEDAY,59.14,80.00,-53.72,L-SC,97.83,67987.0,-45562.0,85609.0,-1.26,-40.13,125.92,35.27,260.0,-0.53,0.52,66.40,XR,NTT,HOTELS
36,HINDZINC,514.80,744.74,35.98,H-LC,96.74,101760.0,-1200.0,47186.0,-1.06,-1.17,46.37,44.67,25.0,-0.03,0.78,31.32,X5K,ATH,METALS
47,JPPOWER,18.73,26.20,-35.73,L-SC,95.65,130937.0,-10905.0,67472.0,-2.15,-7.69,51.53,39.88,258.0,-0.16,1.00,32.69,XY24,NTT,POWER

In [20]:
# Top N allocation
df_tmp = df_portfolio_features.sort_values(by = 'CurrAlloc%', ascending=False)
top_n_values = [10, 25, 50]

sum_df = pd.DataFrame({
    'Top_N': top_n_values,
    'Sum_Alloc%': [df_tmp['CurrAlloc%'].head(n).sum() for n in top_n_values]
})

sum_df

   Top_N  Sum_Alloc%
0     10       19.58
1     25       42.93
2     50       71.79

In [21]:
# market-cap-wise allocation
df_tmp = df_portfolio_features[cols]
df_tmp.groupby(df_tmp['Conviction'].str[-2:])['CurrAlloc%'].sum().sort_values(ascending=False)

Conviction
SC    38.68
LC    37.59
MC    22.01
Name: CurrAlloc%, dtype: float64

In [22]:
# criteria-wise allocation
df_portfolio_features.groupby('Criteria')['CurrAlloc%'].sum().sort_values(ascending=False)

Criteria
XY24     31.43
XY25     14.21
X40      12.59
XR       10.46
X40N      9.89
OX40N     8.39
AR        8.02
X5K       2.31
X200      1.51
SR        1.19
Name: CurrAlloc%, dtype: float64

In [23]:
# conviction-wise allocation
df_portfolio_features.groupby('Conviction')['CurrAlloc%'].sum().sort_values(ascending=False)

Conviction
H-SC    19.35
X-LC    15.56
M-SC    14.13
H-LC    12.58
H-MC     8.64
M-LC     8.34
X-MC     7.66
M-MC     5.71
X-SC     2.77
L-SC     2.43
L-LC     1.11
Name: CurrAlloc%, dtype: float64

In [24]:
# sector-wise stats
df_tmp = df_portfolio_features.groupby('Category')[['CurrAlloc%', 'Current', 'Current P/L', 'FTT Amt']].sum().sort_values(by=['Current', 'Current P/L'], ascending=False)
df_tmp['Current P/L%'] = round(df_tmp['Current P/L'] * 100 / df_tmp['Current'], 2)
df_tmp['FTT%'] = round(df_tmp['FTT Amt'] * 100 / df_tmp['Current'], 2)
cols = ['CurrAlloc%', 'Current P/L%', 'FTT%']
df_tmp[cols].sort_values(by=['CurrAlloc%'], ascending=False)

               CurrAlloc%  Current P/L%    FTT%
Category
FMCG                15.52         -3.33   37.89
IT                  11.39        -11.96   68.83
BANKS                8.04         -8.86   53.28
FINANCE              7.81        -18.18   60.87
MISC                 6.53        -26.94   76.45
PAINTS               5.62        -19.18   42.67
ELECTRICAL           5.13         -5.20   50.75
HEALTHCARE           4.75         -4.24   34.68
AUTO                 4.56        -13.61   63.57
INSURANCE            4.15         -3.01   33.68
DURABLES             3.24         -5.36   43.87
FOOTWEAR             2.39        -32.03   75.66
METALS               2.31         -1.86   33.02
AC                   2.23         -9.70   43.21
CERAMICS             1.85        -26.26   68.79
TRAVEL               1.71        -42.12  103.63
STEEL                1.69         -2.14   78.26
CHEMICALS            1.56        -15.54  104.34
JEWELLERY            1.20        -85.12  132.63
REFINERIES           1.20          9.84    6.50
ENGINEERING          1.19        -23.98   74.92
MINING               1.11         -4.36   31.44
CEMENT               1.03        -40.09  112.17
POWER                1.00         -8.33   51.53
ENTERTAINMENT        0.91        -38.06  107.49
PHARMA               0.79          2.65   16.88
TEXTILES             0.57        -23.27   58.42
HOTELS               0.52        -67.02  125.92

In [25]:
# money to be made criteria-wise
df_portfolio_features.groupby('Criteria')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                sum  count
Criteria
XY24      2831165.0     25
XR        1095470.0     13
AR        1025661.0      9
X40        678314.0      9
XY25       533870.0     10
X40N       488792.0      9
OX40N      337648.0     11
SR         190415.0      2
X5K         99763.0      3
X200        62724.0      1

In [26]:
# money to be made conviction-wise
df_portfolio_features.groupby('Conviction')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                  sum  count
Conviction
H-SC        1973058.0     19
M-SC        1483812.0     18
X-LC         636187.0      9
M-MC         598969.0      5
H-LC         564860.0     11
H-MC         498915.0      7
X-MC         417188.0      6
M-LC         357700.0      6
L-SC         280314.0      4
X-SC         272937.0      4
L-LC          45327.0      1

In [27]:
# money to be made criteria and conviction-wise
df_portfolio_features.groupby(['Conviction', 'Criteria'])['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                          sum  count
Conviction Criteria
H-SC       XY24      923753.0      6
M-SC       XY24      596309.0      5
H-SC       AR        527110.0      3
M-MC       XY24      402051.0      3
M-SC       XR        350370.0      4
X-LC       X40       320729.0      3
M-LC       XY24      239771.0      4
H-MC       XY24      225571.0      2
H-SC       XR        209976.0      3
H-LC       X40N      201018.0      4
M-SC       OX40N     172007.0      5
H-SC       X40N      167986.0      3
X-MC       XY24      161683.0      2
H-LC       X40       153191.0      2
L-SC       XR        150410.0      2
X-LC       XY25      139194.0      4
X-SC       XR        120891.0      1
M-SC       XY25      119357.0      1
X-LC       AR        117723.0      1
X-SC       SR        112082.0      1
H-SC       OX40N     111222.0      3
X-MC       XY25      109524.0      1
M-MC       XR        108446.0      1
M-LC       XR         99199.0      1
H-MC       XY25       97073.0      1
M-SC       AR         93977.0      1
M-MC       AR         88472.0      1
M-SC       SR         78333.0      1
H-LC       AR         76510.0      1
M-SC       X40        73459.0      1
X-MC       X40        70279.0      1
L-SC       XY24       67472.0      1
H-LC       X5K        66752.0      2
           X200       62724.0      1
L-SC       AR         62432.0      1
X-MC       X40N       61247.0      1
H-MC       X40        60656.0      2
           AR         59437.0      1
X-LC       X40N       58541.0      1
H-MC       XR         56178.0      1
L-LC       XY25       45327.0      1
X-SC       OX40N      39964.0      2
H-SC       X5K        33011.0      1
M-LC       XY25       18730.0      1
X-MC       OX40N      14455.0      1
H-LC       XY25        4665.0      1

In [28]:
# notebook execution time

end_time = time.time()
execution_time = round(end_time - start_time, 0)
print(f"Notebook execution time: {execution_time} seconds")

Notebook execution time: 29.0 seconds