<a href="https://colab.research.google.com/github/ankit-rathi/Quantvesting_v2/blob/main/myStocks_Portfolio_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyxirr
!pip install ta
!pip install yfinance==0.2.59

Requirement already satisfied: pyxirr in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (0.10.7)

Collecting ta

  Downloading ta-0.11.0.tar.gz (25 kB)

  Installing build dependencies ... -

 \

 done

  Getting requirements to build wheel ... -

 done

  Preparing metadata (pyproject.toml) ... -

 done
Requirement already satisfied: numpy in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from ta) (2.3.4)
Requirement already satisfied: pandas in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from ta) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from pandas->ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from pandas->ta) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from pandas->ta) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas->ta) (1.17.0)
Building wheels for collected packages: ta

  Building wheel for ta (pyproject.toml) ... -

 done
  Created wheel for ta: filename=ta-0.11.0-py3-none-any.whl size=29482 sha256=efa4ce7c1e4ed5599d610bafda9d05148676a73c69b2bcd8892dc25d08d3efea
  Stored in directory: /home/runner/.cache/pip/wheels/e3/3a/ee/4955a26c90a4b7deb6d725dc8ec7b8604a7aef44e43a2e8af7

Successfully built ta

Installing collected packages: ta

Successfully installed ta-0.11.0

Collecting yfinance==0.2.59

  Downloading yfinance-0.2.59-py2.py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: pandas>=1.3.0 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.3.3)
Requirement already satisfied: numpy>=1.16.5 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.3.4)
Requirement already satisfied: requests>=2.31 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.32.5)
Requirement already satisfied: multitasking>=0.0.7 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.5.0)
Requirement already satisfied: pytz>=2022.5 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (4.14.2)
Requirement already satisfied: curl_cffi>=0.7 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (0.13.0)

Collecting protobuf<6,>=5.29.0 (from yfinance==0.2.59)
  Downloading protobuf-5.29.5-cp38-abi3-manylinux2014_x86_64.whl.metadata (592 bytes)
Requirement already satisfied: websockets>=11.0 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from yfinance==0.2.59) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.59) (4.15.0)
Requirement already satisfied: cffi>=1.12.0 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (2.0.0)
Requirement already satisfied: certifi>=2024.2.2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from curl_cffi>=0.7->yfinance==0.2.59) (2025.10.5)
Requirement already satisfied: pycparser in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance==0.2.59) (2.23)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance==0.2.59) (2025.2)

Requirement already satisfied: six>=1.5 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance==0.2.59) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages (from requests>=2.31->yfinance==0.2.59) (2.5.0)
Downloading yfinance-0.2.59-py2.py3-none-any.whl (117 kB)

Downloading protobuf-5.29.5-cp38-abi3-manylinux2014_x86_64.whl (319 kB)

Installing collected packages: protobuf, yfinance
  Attempting uninstall: protobuf
    Found existing installation: protobuf 6.33.0
    Uninstalling protobuf-6.33.0:
      Successfully uninstalled protobuf-6.33.0

  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.2.66
    Uninstalling yfinance-0.2.66:
      Successfully uninstalled yfinance-0.2.66

   ━━━━━━━━━━━━━━━━━━━━╺━━━━━━━━━━━━━━━━━━━ 1/2 [yfinance]

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [yfinance]

Successfully installed protobuf-5.29.5 yfinance-0.2.59

In [2]:
# import libraries

import numpy as np
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import yfinance as yfin
import ta
import matplotlib.pyplot as plt
import requests

In [3]:
# notebook start time
import time
import datetime
import pytz

start_time = time.time()

# function to print date timestamp
def print_date_time():
  tz_NY = pytz.timezone('Asia/Kolkata')
  datetime_NY = datetime.datetime.now(tz_NY)
  print("Run date time (IST):", datetime_NY.strftime("%Y-%m-%d %H:%M:%S"))

In [4]:
# function to get booked and reserved amount
def get_amt():
  # fetch the JSON data from the URL
  url = "https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioAmts.json"
  response = requests.get(url)
  pf_amts = response.json()  # parse the JSON data

  # extract values from the JSON
  py_booked_amt_dm = pf_amts["py_booked_amt_dm"]
  py_booked_amt_sv = pf_amts["py_booked_amt_sv"]
  cy_booked_amt_dm = pf_amts["cy_booked_amt_dm"]
  cy_booked_amt_sv = pf_amts["cy_booked_amt_sv"]
  reserve_amt_dm = pf_amts["reserve_amt_dm"]
  reserve_amt_sv = pf_amts["reserve_amt_sv"]

  # perform calculations
  py_booked_amt = py_booked_amt_dm + py_booked_amt_sv
  cy_booked_amt = cy_booked_amt_dm + cy_booked_amt_sv
  reserve_amt = reserve_amt_dm + reserve_amt_sv
  total_booked_amt = py_booked_amt + cy_booked_amt

  return total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt

gen_output = 0

In [5]:
# function to format the amount
def format_amt(number):
    abs_number = abs(number)

    if abs_number >= 1_00_00_000:  # Crores
        formatted_amt = f"{number / 1_00_00_000:.2f} C"
    elif abs_number >= 1_00_000:  # Lakhs
        formatted_amt = f"{number / 1_00_000:.2f} L"
    elif abs_number >= 1_000:  # Thousands
        formatted_amt = f"{number / 1_000:.2f} K"
    else:
        formatted_amt = f"{number:.2f}"

    return formatted_amt

# function to set start and end date
def get_start_end_date():
  start_date = (datetime.date.today() + datetime.timedelta(days=-365)).strftime('%Y-%m-%d')
  end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')
  return start_date, end_date

# function to fetch my portfolio csv
def get_mypfs_df():
  mypfs_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myPortfolioStocks.csv')
  return mypfs_df

# function to fetch my prospects csv
def get_mypps_df():
  mypps_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myProspectsScrips.csv')
  return mypps_df

# function to fetch screener data
def get_myscreen_df():
  myscreen_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myScreenerDB.csv')
  return myscreen_df

# function to fetch momentum data
def get_myinvmt_df():
  myinvmt_df = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Tradevesting_v1/main/data/myInvestments.csv')
  return myinvmt_df

# function to get the stock ids
def get_stock_ids(df_pf):
  stock_n100 = df_pf['Symbol'].unique()

  exclude = ['CADILAHC','MMTC', 'MASFIN']

  stock_ids = df_pf[~df_pf['Symbol'].isin(exclude) ]['Symbol'].unique()

  #mypf = mypf[mypf.Forecast.notnull()]
  #stock_ids = mypf['Symbol'].unique()

  stock_ids.sort()
  return stock_ids

# get features from screener data
def get_screener_features():
  myscreen_df = get_myscreen_df()
  cols = ['Symbol', 'EPS', 'MedPE', 'ROCE%', 'ROE%', 'CapType']
  return myscreen_df[cols]

# get relative strength
def get_relative_strength(stock_list):

    # Dictionary to store stock tickers and their corresponding percentage price change
    stock_changes = {}

    # Loop through each stock and fetch its price data
    for stock in stock_list:
        try:
            # Download the stock data for the given date range
            stock_data = yfin.Ticker(stock + '.NS').history(period='1mo', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

            # Calculate the percentage change for the stock
            if len(stock_data) > 0:
                start_price = stock_data['Close'].iloc[0]
                end_price = stock_data['Close'].iloc[-1]
                percent_change = round(((end_price - start_price) / start_price) * 100, 2)
                stock_changes[stock] = percent_change
            else:
                stock_changes[stock] = np.nan  # If no data is available, set to NaN

        except Exception as e:
            print(f"Error fetching data for {stock}: {e}")
            stock_changes[stock] = np.nan

    # Create a DataFrame with stock tickers and their percentage changes
    df = pd.DataFrame(list(stock_changes.items()), columns=['Symbol', 'Percent_Change'])

    # Drop any stocks with missing data (NaN values)
    df = df.dropna()

    # Calculate the percentile rank based on percentage change
    df['RSP'] = round(df['Percent_Change'].rank(pct=True) * 100, 2)
    cols = ['Symbol', 'RSP']
    df = df[cols]
    # Sort by percentile rank (optional)
    df = df.sort_values(by='RSP', ascending=False).reset_index(drop=True)

    return df

In [6]:
# function to get stock technicals
def stock_prec_dev(stock_symbol):
    #stock_symbol = 'ULTRACEMCO.NS'
    short_window = 20
    mid_window = 50
    long_window = 200
    moving_avg = 'SMA'

    start = datetime.datetime(*map(int, start_date.split('-')))
    end = datetime.datetime(*map(int, end_date.split('-')))

    stock_df = yfin.Ticker(stock_symbol + '.NS').history(period='max', interval='1d')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]

    stock_df['Max'] = round(max(stock_df['Close']),2)
    stock_df = stock_df[(stock_df.index <= end_date) & (stock_df.index >= start_date)]
    stock_df['200_SMA'] = round(stock_df['Close'].rolling(window = 200, min_periods = 1).mean(),0)
    stock_df['Dev%_200'] = round((stock_df['Close'] - stock_df['200_SMA'])*100/stock_df['200_SMA'],2)
    stock_df.dropna(axis = 0, inplace = True) # remove any null rows

    stock_df['20_SMA'] = stock_df['Close'].rolling(window=20).mean()
    stock_df['50_SMA'] = stock_df['Close'].rolling(window=50).mean()
    stock_df['Symbol'] = stock_symbol

    stock_df['Close'] = round(stock_df['Close'],2)
    stock_df['Min'] = round(min(stock_df['Close']),2)
    stock_df['RSI_14'] = ta.momentum.RSIIndicator(close=stock_df['Close'], window=14).rsi()
    stock_df['RSI_14'] = round(stock_df['RSI_14'],0)
    stock_df['Prev_Close'] = stock_df['Close'].shift(1)
    stock_df.drop(['Open', 'Low', 'High', 'Volume'], axis=1, inplace=True)
    stock_df = stock_df.tail(1)

    max_SMA = max(stock_df['20_SMA'].item(), stock_df['50_SMA'].item(), stock_df['200_SMA'].item())
    min_SMA = min(stock_df['20_SMA'].item(), stock_df['50_SMA'].item(), stock_df['200_SMA'].item())
    ABS_Spread = max_SMA - min_SMA
    stock_df['Spread%'] = round((ABS_Spread / stock_df['200_SMA'].item()) * 100,2)

    return stock_df

# function to compute stock attributes
def get_common_features(stock_ids, df_mypf):

  df_prec_dev = pd.DataFrame()
  df_tmp = get_screener_features()
  df_rs = get_relative_strength(stock_ids)

  for stock_id in stock_ids:
      tmp = stock_prec_dev(stock_id)
      tmp = tmp.reset_index()
      df_prec_dev = pd.concat([df_prec_dev, tmp], ignore_index = True)
  df_prec_dev = pd.merge(df_prec_dev, df_mypf, on= 'Symbol')
  df_prec_dev = pd.merge(df_prec_dev, df_tmp, on= 'Symbol', how='left')
  df_prec_dev = pd.merge(df_prec_dev, df_rs, on= 'Symbol', how='left')
  #print(df_prec_dev.columns)
  df_prec_dev['Curr_PE'] = round(df_prec_dev['Close']/df_prec_dev['EPS'],1)
  df_prec_dev['Dev%_PE'] = round((df_prec_dev['Curr_PE'] - df_prec_dev['MedPE'])*100/df_prec_dev['MedPE'],2)
  df_prec_dev['Conviction'] = df_prec_dev['Conviction'] + '-' + df_prec_dev['CapType']
  return df_prec_dev

# function to arrange stock features
def arrange_features(df_stocks, common_cols, diff_cols):
  df_stocks_common = df_stocks[common_cols].drop_duplicates()
  df_stocks_diff = df_stocks[diff_cols]
  df_stocks_diff['Investment'] = df_stocks_diff['AvgCost'] * df_stocks_diff['Shares']
  df_stocks_diff = df_stocks_diff.groupby(['Symbol'])[['Shares', 'Investment']].aggregate(['sum']).reset_index()
  df_stocks_diff.columns = ['Symbol', 'Shares', 'Investment']
  df_stocks_diff['AvgCost'] = round(df_stocks_diff['Investment']/df_stocks_diff['Shares'],2)
  df_stocks = pd.merge(df_stocks_diff, df_stocks_common, on='Symbol')
  return df_stocks

# plot fact distribution across dimension
def plot_pie_chart(df, dimension, fact):
  # grouping the data by category and calculating the sum of fact for each type
  grouped_data = df.groupby(dimension)[fact].sum()

  # sorting the grouped data in descending order
  grouped_data = grouped_data.sort_values(ascending=False)

  # creating a pie chart
  grouped_data.plot.pie(autopct='%1.1f%%', startangle=90, figsize=(6, 6))

  # adding a title and displaying the plot
  plt.title(f'{dimension} {fact} Distribution')
  plt.ylabel('')  # To hide the y-label
  plt.show()

In [7]:
# function to get portfolio features

def get_portfolio_features(df_common_features):

  print_date_time()
  print('-------------------')

  #df_common_features["Target"] = df_common_features["Target"].fillna(df_common_features["Max"])
  df_common_features['NTT'] = np.where(df_common_features['Strategy']== 'NTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['LTT'] = np.where(df_common_features['Strategy']== 'BTT', df_common_features["Target"], df_common_features['Max'])
  df_common_features['BOL'] = df_common_features['Min']

  tmp_df = df_common_features[df_common_features['Symbol'].isin(mypf_df[mypf_df['InPortfolio'] != 'NA'].Symbol.values)]
  print('qualified stocks: '+str(len(tmp_df['Symbol'].unique())))
  tmp_df1 = tmp_df[tmp_df['LatestQtr'] == 1]
  print('with latest results: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df1 = tmp_df1[tmp_df1['StarStock'] == 1]
  print('still star stocks: '+str(len(tmp_df1['Symbol'].unique())))
  tmp_df['Investment'] = tmp_df['AvgCost'] * tmp_df['Shares']
  tmp_df['Current'] = round(tmp_df['Close'] * tmp_df['Shares'],0)
  tmp_df['Previous'] = tmp_df['Prev_Close'] * tmp_df['Shares']
  tmp_df['EstimatedST'] = tmp_df['NTT'] * tmp_df['Shares']
  tmp_df['EstimatedLT'] = tmp_df['LTT'] * tmp_df['Shares']
  tmp_df['Current P/L'] = round((tmp_df['Current'] - tmp_df['Investment']),0)
  tmp_df['Today P/L%'] = round((tmp_df['Current'] - tmp_df['Previous'])*100/tmp_df['Previous'],2)
  tmp_df['Current P/L%'] = round((tmp_df['Current'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedST P/L%'] = round((tmp_df['EstimatedST'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['EstimatedLT P/L%'] = round((tmp_df['EstimatedLT'] - tmp_df['Investment'])*100/tmp_df['Investment'],2)
  tmp_df['NTT%'] = round((tmp_df['NTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['LTT%'] = round((tmp_df['LTT'] - tmp_df['Close'])*100/tmp_df['Close'],2)
  tmp_df['Gained%'] = round((tmp_df['Close'] - tmp_df['BOL'])*100/tmp_df['BOL'],2)
  investment = round(sum(tmp_df['AvgCost']*tmp_df['Shares']),0)
  current = round(sum(tmp_df['Close']*tmp_df['Shares']),0)
  tmp_df['InitAlloc%'] = round(tmp_df['Investment']*100/investment,2)
  tmp_df['CurrAlloc%'] = round(tmp_df['Current']*100/current,2)
  tmp_df['FTT'] = tmp_df['LTT']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT'] = tmp_df['NTT']
  tmp_df['FTT%'] = tmp_df['LTT%']
  tmp_df.loc[tmp_df['Strategy'] == 'NTT', 'FTT%'] = tmp_df['NTT%']
  tmp_df['FTT Amt'] = round(tmp_df['FTT%'] * tmp_df['Current']/100,0)
  tmp_df['OTT%'] = round((tmp_df['FTT'] - tmp_df['AvgCost'])*100/tmp_df['AvgCost'],2)
  tmp_df['RRR Ind'] = round(tmp_df['Current P/L']/tmp_df['FTT Amt'],2)
  tmp_df['Risk Ind'] = round(tmp_df['Current P/L%']*tmp_df['CurrAlloc%'],0)

  return tmp_df

# function to print portfolio features
def print_portfolio_stats(df_portfolio_features, myinvmt_df):
  from pyxirr import xirr

  total_booked_amt, reserve_amt, cy_booked_amt, py_booked_amt = get_amt()

  dates = myinvmt_df['Date'].values
  dates = np.append(dates, datetime.date.today().strftime('%d-%b-%y'))
  investment = myinvmt_df['Investment'].values
  dates= pd.to_datetime(dates)

  current = round(sum(df_portfolio_features['Close']*df_portfolio_features['Shares']),0) + reserve_amt
  investment_xirr = np.append(investment, current)
  cagr = round(xirr(pd.DataFrame({"dates": dates, "amounts": investment_xirr}))*100,2)

  investment = -sum(investment)
  invested = round(sum(df_portfolio_features['AvgCost']*df_portfolio_features['Shares']),0) + reserve_amt
  previous = round(sum(df_portfolio_features['Prev_Close']*df_portfolio_features['Shares']),0) + reserve_amt
  cy_invested = investment + py_booked_amt

  today_pnl_amount = current-previous
  today_pnl_percentage = round((current-previous)*100/previous,2)

  curr_pnl_amount = current-invested
  curr_pnl_percentage = round((curr_pnl_amount)*100/(cy_invested),2)

  cy_pnl_amount = cy_booked_amt + curr_pnl_amount
  cy_pnl_percentage = round((cy_pnl_amount)*100/cy_invested,2)

  overall_pnl_amount = total_booked_amt + curr_pnl_amount
  overall_pnl_percentage = round((overall_pnl_amount)*100/investment,2)

  estimate_st = round(sum(df_portfolio_features['FTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_st_pnl_amount = estimate_st-current
  est_st_pnl_percentage = round((est_st_pnl_amount)*100/current,2)

  estimate_lt = round(sum(df_portfolio_features['LTT']*df_portfolio_features['Shares']),0)  + reserve_amt
  est_lt_pnl_amount = estimate_lt-current
  est_lt_pnl_percentage = round((est_lt_pnl_amount)*100/current,2)

  total_profit = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] > 0]['Investment']),0)
  total_loss = round(sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Current']) - sum(df_portfolio_features[df_portfolio_features['Current P/L%'] < 0]['Investment']),0)

  cy_booked_percentage = round((cy_booked_amt)*100/current,2)
  py_booked_percentage = round((py_booked_amt)*100/investment,2)
  total_booked_percentage = round((total_booked_amt)*100/investment,2)

  print('-------------------')
  print('Initial Investment: ', format_amt(investment))
  print('CY Investment: ', format_amt(cy_invested))
  print('Reserve: ', format_amt(reserve_amt))
  print('Current: ',  format_amt(current))
  print('-------------------')
  print('Today PnL: '+ '{} ({}%)'.format(format_amt(today_pnl_amount), today_pnl_percentage))
  print('Current PnL: '+ '{} ({}%)'.format(format_amt(curr_pnl_amount), curr_pnl_percentage))
  print('CY Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(cy_pnl_amount), cy_pnl_percentage))
  print('-------------------')
  print('Total profit: ', format_amt(total_profit))
  print('Total loss: ', format_amt(total_loss))
  print('-------------------')
  print('Total Booked + Current PnL: '+ '{} ({}%)'.format(format_amt(overall_pnl_amount), overall_pnl_percentage))
  print('Total Booked PnL: '+ '{} ({}%)'.format(format_amt(total_booked_amt), total_booked_percentage))
  print('Curr Year Booked PnL: '+ '{} ({}%)'.format(format_amt(cy_booked_amt), cy_booked_percentage))
  print('Prev Year Booked PnL: '+ '{} ({}%)'.format(format_amt(py_booked_amt), py_booked_percentage))
  print('===================')
  print('Est FTT: ',  format_amt(estimate_st))
  print('Est FTT PnL: '+ '{} ({}%)'.format(format_amt(est_st_pnl_amount), est_st_pnl_percentage))

  print('===================')
  print('Deployed: ', format_amt(investment))

  print('Current: ', format_amt(current))

  print('CAGR/XIRR %: '+'{}%'.format(cagr))

In [8]:
# get start and end date
start_date, end_date = get_start_end_date()

# get portfolio and prospects data
mypfs_df = get_mypfs_df()
mypps_df = get_mypps_df()
myinvmt_df = get_myinvmt_df()

# merge above datasets
mypf_df = pd.merge(mypfs_df, mypps_df, on="Symbol")

# seggregate dm and sv portfolio
dm_pf = mypf_df[mypf_df['InPortfolio'] == 'DM']
sv_pf = mypf_df[mypf_df['InPortfolio'] == 'SV']

# build portfolio stock dataframe
dm_stocks = get_stock_ids(dm_pf)
sv_stocks = get_stock_ids(sv_pf)
df_stocks = pd.concat([dm_pf,sv_pf], ignore_index = True)

# arrange common and diff stock features
common_cols = ['Symbol', 'Target', 'Criteria', 'Strategy', 'CumlRnk', 'LatestQtr', 'StarStock', 'Conviction', 'Category', 'InFolio', 'XIRR', 'MBQ']
diff_cols = ['Symbol', 'AvgCost', 'Shares']
df_stocks = arrange_features(df_stocks, common_cols, diff_cols)

# get common features
stock_ids = df_stocks['Symbol'].values
df_common_features = get_common_features(stock_ids, df_stocks)

df_common_features.reset_index(drop=True, inplace=True)
df_common_features.drop(['Date'], axis=1, inplace=True)
# get and print portfolio features
df_portfolio_features = get_portfolio_features(df_common_features)

print_portfolio_stats(df_portfolio_features, myinvmt_df)

df = df_portfolio_features
#plot_pie_chart(df, 'CapType', 'Current')
list_ox40n = list(df[df['MBQ'].str.contains('OX40N', na=False)]['Symbol'].values)

Run date time (IST): 2025-10-27 14:44:29
-------------------
qualified stocks: 89
with latest results: 28
still star stocks: 17

-------------------
Initial Investment:  1.26 C
CY Investment:  1.53 C
Reserve:  2.00 K
Current:  1.45 C
-------------------
Today PnL: 50.90 K (0.35%)
Current PnL: -19.24 L (-12.61%)
CY Booked + Current PnL: -7.14 L (-4.68%)
-------------------
Total profit:  2.45 L
Total loss:  -21.69 L
-------------------
Total Booked + Current PnL: 19.84 L (15.8%)
Total Booked PnL: 39.08 L (31.11%)
Curr Year Booked PnL: 12.10 L (8.35%)
Prev Year Booked PnL: 26.98 L (21.48%)
===================
Est FTT:  2.32 C
Est FTT PnL: 87.13 L (60.12%)
===================
Deployed:  1.26 C
Current:  1.45 C
CAGR/XIRR %: 8.54%

In [9]:
# top 5 near their targets
cols = ['Symbol', 'FTT', 'Dev%_PE', 'RSI_14','Conviction', 'Spread%', 'Current', 'Current P/L', 'FTT Amt', 'Today P/L%', 'Current P/L%', 'FTT%', 'OTT%', 'CumlRnk', 'RRR Ind', 'CurrAlloc%', 'Gained%', 'Criteria', 'Strategy', 'Category']
df_tmp = df_portfolio_features[~df_portfolio_features['Symbol'].isin(['ENRIN','BLUSPRING','DIGITIDE'])]
df_tmp = df_tmp.sort_values(by = 'FTT Amt', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
59,RELIANCE,1533.0,-9.53,66.0,X-LC,3.18,226450.0,16084.0,12704.0,0.22,7.65,5.61,13.68,37.0,1.27,1.56,25.43,XY25,NTT,REFINERIES
86,VOLTAS,1530.0,2.56,58.0,X-MC,3.10,215175.0,23433.0,14331.0,-0.48,12.22,6.66,19.69,99.0,1.64,1.48,19.85,XY25,NTT,AC
42,ITC,452.0,-36.23,68.0,X-LC,1.70,205673.0,5535.0,15364.0,0.91,2.77,7.47,10.44,4.0,0.36,1.42,8.48,X40,NTT,FMCG
80,UJJIVANSFB,60.0,131.04,74.0,H-SC,16.35,146070.0,3591.0,15936.0,4.00,2.52,10.91,13.70,163.0,0.23,1.01,72.40,OX40N,NTT,BANKS
2,ABBOTINDIA,35195.0,-9.44,42.0,X-MC,3.21,89385.0,-1293.0,16197.0,-0.45,-1.43,18.12,16.44,101.0,-0.08,0.62,18.46,X40,ATH,PHARMA

In [10]:
# top 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
64,SATIN,274.00,-22.47,72.0,H-SC,4.15,239785.0,-36499.0,179719.0,6.25,-13.21,74.95,51.83,126.0,-0.20,1.65,16.81,XY24,NTT,FINANCE
80,UJJIVANSFB,60.00,131.04,74.0,H-SC,16.35,146070.0,3591.0,15936.0,4.00,2.52,10.91,13.70,163.0,0.23,1.01,72.40,OX40N,NTT,BANKS
12,BANKINDIA,190.00,-16.77,74.0,H-MC,15.13,213674.0,33866.0,78547.0,3.76,18.83,36.76,62.52,88.0,0.43,1.47,59.34,XR,NTT,BANKS
37,INDIAMART,4810.62,-53.52,55.0,H-SC,7.01,129659.0,6323.0,125302.0,3.19,5.13,96.64,106.72,119.0,0.05,0.89,29.70,AR,ATH,MISC
15,BSOFT,836.99,-11.31,68.0,H-SC,14.31,99730.0,-40923.0,113702.0,2.53,-29.09,114.01,51.74,131.0,-0.36,0.69,15.39,XR,ATH,IT

In [11]:
# bottom 5 today
df_tmp = df_portfolio_features.sort_values(by = 'Today P/L%', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
56,RAJOOENG,143.10,-43.74,41.0,H-SC,18.48,85200.0,-17300.0,57902.0,-2.55,-16.88,67.96,39.61,114.0,-0.30,0.59,4.05,AR,ATH,MISC
50,MASFIN,398.61,-20.51,45.0,H-SC,9.17,90585.0,-7395.0,28996.0,-2.03,-7.55,32.01,22.05,152.0,-0.26,0.63,31.67,XR,ATH,FINANCE
38,INDIGOPNTS,1408.00,91.41,32.0,M-SC,4.91,125463.0,-49096.0,49131.0,-2.01,-28.13,39.16,0.02,221.0,-1.00,0.87,9.13,OX40N,NTT,PAINTS
20,COFFEEDAY,80.00,-45.67,49.0,L-SC,27.41,81312.0,-32237.0,72286.0,-1.94,-28.39,88.90,35.27,268.0,-0.45,0.56,99.01,XR,NTT,HOTELS
84,VALIANTORG,838.00,-285.28,39.0,H-SC,8.40,103020.0,-60585.0,181902.0,-1.94,-37.03,176.57,74.15,139.0,-0.33,0.71,32.05,XR,NTT,CHEMICALS

In [12]:
# top 5 to exit based on CumlRnk
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[(df_tmp['Current P/L%'] > -1) & (df_tmp['Current P/L%'] < 1)].sort_values(by = 'CumlRnk', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
62,SAIL,228.0,41.94,48.0,M-MC,9.71,223757.0,-1205.0,168869.0,0.37,-0.54,75.47,74.53,192.0,-0.01,1.54,31.54,XY24,BTT,STEEL
36,IEX,219.0,-30.16,62.0,H-SC,17.20,199696.0,-258.0,97492.0,0.07,-0.13,48.82,48.63,115.0,-0.00,1.38,11.41,XR,NTT,MISC
57,RECLTD,446.0,45.36,52.0,M-LC,5.69,204545.0,1375.0,40745.0,1.06,0.68,19.92,20.74,55.0,0.03,1.41,7.59,XY25,NTT,FINANCE
88,WIPRO,420.0,-14.25,47.0,M-LC,5.91,151082.0,137.0,109323.0,0.29,0.09,72.36,72.51,53.0,0.00,1.04,6.12,XR,NTT,IT

In [13]:
# OX40N stocks to exit
df_tmp = df_portfolio_features[(df_portfolio_features['Symbol'].isin(list_ox40n))].sort_values(by = 'Current P/L%', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
80,UJJIVANSFB,60.0,131.04,74.0,H-SC,16.35,146070.0,3591.0,15936.0,4.00,2.52,10.91,13.70,163.0,0.23,1.01,72.40,OX40N,NTT,BANKS
46,KANSAINER,340.0,-67.06,56.0,H-SC,2.53,227250.0,-42417.0,78742.0,-0.58,-15.73,34.65,13.47,138.0,-0.54,1.57,15.55,XY24,NTT,PAINTS
79,TTKPRESTIG,770.0,96.16,50.0,M-SC,2.07,84534.0,-16243.0,16332.0,0.06,-16.12,19.32,0.09,245.0,-0.99,0.58,11.06,OX40N,NTT,DURABLES
74,TATAELXSI,9161.0,-21.19,59.0,H-MC,7.29,106552.0,-25283.0,67511.0,1.15,-19.18,63.36,32.03,98.0,-0.37,0.74,19.35,OX40N,NTT,IT
18,CERA,9475.0,-24.34,40.0,H-SC,2.61,137885.0,-38018.0,80042.0,-1.27,-21.61,58.05,23.89,149.0,-0.47,0.95,19.08,OX40N,NTT,CERAMICS

In [14]:
# top 5 to book for rotation
df_tmp = df_portfolio_features[(df_portfolio_features['Current P/L%'] > 20) ].sort_values(by = 'CumlRnk', ascending=False)
df_tmp[cols].head()

Empty DataFrame
Columns: [Symbol, FTT, Dev%_PE, RSI_14, Conviction, Spread%, Current, Current P/L, FTT Amt, Today P/L%, Current P/L%, FTT%, OTT%, CumlRnk, RRR Ind, CurrAlloc%, Gained%, Criteria, Strategy, Category]
Index: []

In [15]:
# top 5 to monitor for exit
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[(df_tmp['Current P/L%'] > 0) ].sort_values(by = 'Dev%_PE', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
80,UJJIVANSFB,60.00,131.04,74.0,H-SC,16.35,146070.0,3591.0,15936.0,4.00,2.52,10.91,13.70,163.0,0.23,1.01,72.40,OX40N,NTT,BANKS
57,RECLTD,446.00,45.36,52.0,M-LC,5.69,204545.0,1375.0,40745.0,1.06,0.68,19.92,20.74,55.0,0.03,1.41,7.59,XY25,NTT,FINANCE
32,HINDZINC,730.22,29.16,51.0,M-LC,10.94,210562.0,5486.0,107092.0,-0.54,2.67,50.86,54.89,52.0,0.05,1.45,27.42,X5K,ATH,METALS
47,KPIGREEN,731.05,8.64,69.0,H-SC,5.24,129667.0,4370.0,54564.0,-0.61,3.49,42.08,47.03,141.0,0.08,0.89,62.35,MH,ATH,POWER
81,UNIONBANK,163.00,-10.08,61.0,M-LC,9.28,163160.0,22320.0,22173.0,1.22,15.85,13.59,31.59,66.0,1.01,1.13,46.53,XY24,NTT,BANKS

In [16]:
# top 5 to book for rotation from weak conviction
df_tmp = df_portfolio_features[~df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[~df_tmp['Criteria'].isin(['XY25','XY24','X40', 'X40N'])].sort_values(by = 'RRR Ind', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
12,BANKINDIA,190.00,-16.77,74.0,H-MC,15.13,213674.0,33866.0,78547.0,3.76,18.83,36.76,62.52,88.0,0.43,1.47,59.34,XR,NTT,BANKS
80,UJJIVANSFB,60.00,131.04,74.0,H-SC,16.35,146070.0,3591.0,15936.0,4.00,2.52,10.91,13.70,163.0,0.23,1.01,72.40,OX40N,NTT,BANKS
87,WHIRLPOOL,2270.00,-38.27,65.0,M-SC,3.55,127917.0,13119.0,80920.0,1.44,11.43,63.26,81.92,223.0,0.16,0.88,51.43,XR,NTT,DURABLES
47,KPIGREEN,731.05,8.64,69.0,H-SC,5.24,129667.0,4370.0,54564.0,-0.61,3.49,42.08,47.03,141.0,0.08,0.89,62.35,MH,ATH,POWER
37,INDIAMART,4810.62,-53.52,55.0,H-SC,7.01,129659.0,6323.0,125302.0,3.19,5.13,96.64,106.72,119.0,0.05,0.89,29.70,AR,ATH,MISC

In [17]:
# top 5 to accumulate based on lowest RSI_14
df_tmp = df_portfolio_features[df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])].sort_values(by = 'RSI_14', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
75,TATAMOTORS,1065.00,-53.83,16.0,X-LC,15.22,146398.0,-130125.0,240195.0,-0.63,-47.06,164.07,39.81,54.0,-0.54,1.01,3.19,XY24,NTT,AUTO
45,JSWINFRA,342.00,-20.69,35.0,X-MC,5.40,198855.0,-1492.0,31996.0,0.32,-0.74,16.09,15.23,178.0,-0.05,1.37,31.27,X40N,NTT,REALTY
53,PGHH,17907.65,-30.81,36.0,X-MC,3.02,200250.0,-570.0,68365.0,-1.49,-0.28,34.14,33.76,80.0,-0.01,1.38,4.90,X40,ATH,FMCG
24,DMART,5391.45,-16.58,38.0,X-LC,10.10,102050.0,-536.0,27339.0,0.91,-0.52,26.79,26.13,38.0,-0.02,0.70,24.92,X40N,ATH,FMCG
54,QUESS,986.00,-47.11,42.0,X-SC,38.66,52440.0,-12566.0,163497.0,2.29,-19.33,311.78,232.18,198.0,-0.08,0.36,2.29,XY24,NTT,MISC

In [18]:
# top 5 to accumulate based on Spread and CumlRnk
df_tmp = df_portfolio_features[df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])]
df_tmp = df_tmp[(df_tmp['CumlRnk'] < 100)].sort_values(by = 'Spread%', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
67,SIEMENS,4671.50,-1.54,52.0,H-LC,0.91,158340.0,-27755.0,75227.0,0.46,-14.91,47.51,25.51,15.0,-0.37,1.09,16.68,AR,ATH,ELECTRICAL
42,ITC,452.00,-36.23,68.0,X-LC,1.70,205673.0,5535.0,15364.0,0.91,2.77,7.47,10.44,4.0,0.36,1.42,8.48,X40,NTT,FMCG
53,PGHH,17907.65,-30.81,36.0,X-MC,3.02,200250.0,-570.0,68365.0,-1.49,-0.28,34.14,33.76,80.0,-0.01,1.38,4.90,X40,ATH,FMCG
29,HAVELLS,2069.16,-6.18,45.0,X-MC,3.06,313173.0,-14818.0,121355.0,-0.24,-4.52,38.75,32.48,92.0,-0.12,2.16,6.39,X40,ATH,ELECTRICAL
86,VOLTAS,1530.00,2.56,58.0,X-MC,3.10,215175.0,23433.0,14331.0,-0.48,12.22,6.66,19.69,99.0,1.64,1.48,19.85,XY25,NTT,AC

In [19]:
# top 5 to accumulate based on lowest Gained%
df_tmp = df_portfolio_features[df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])].sort_values(by = 'Gained%', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
54,QUESS,986.00,-47.11,42.0,X-SC,38.66,52440.0,-12566.0,163497.0,2.29,-19.33,311.78,232.18,198.0,-0.08,0.36,2.29,XY24,NTT,MISC
21,COLPAL,3767.14,-4.98,43.0,X-MC,8.14,221670.0,-41695.0,155036.0,-1.01,-15.83,69.94,43.04,84.0,-0.27,1.53,2.91,XY25,ATH,FMCG
75,TATAMOTORS,1065.00,-53.83,16.0,X-LC,15.22,146398.0,-130125.0,240195.0,-0.63,-47.06,164.07,39.81,54.0,-0.54,1.01,3.19,XY24,NTT,AUTO
10,BAJAJHFL,181.50,-14.48,45.0,X-MC,5.81,180105.0,-20401.0,117555.0,-0.35,-10.17,65.27,48.45,90.0,-0.17,1.24,3.86,X40N,ATH,FINANCE
3,ACC,3906.00,-37.64,51.0,X-MC,2.83,185500.0,-52451.0,205107.0,0.26,-22.04,110.57,64.15,174.0,-0.26,1.28,4.06,XY24,BTT,CEMENT

In [20]:
# top 5 to accumulate based on lowest CurrAlloc%
df_tmp = df_portfolio_features[df_portfolio_features['Conviction'].isin(['X-LC','H-LC','X-MC','X-SC'])].sort_values(by = 'CurrAlloc%', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
54,QUESS,986.00,-47.11,42.0,X-SC,38.66,52440.0,-12566.0,163497.0,2.29,-19.33,311.78,232.18,198.0,-0.08,0.36,2.29,XY24,NTT,MISC
52,PAGEIND,51769.92,-27.05,42.0,X-MC,6.89,82370.0,-1140.0,21169.0,0.39,-1.37,25.70,23.98,82.0,-0.05,0.57,4.37,X40,ATH,APPARELS
58,RELAXO,1176.00,-39.88,43.0,X-SC,4.69,81912.0,-63248.0,139177.0,-1.91,-43.57,169.91,52.31,136.0,-0.45,0.57,9.64,X40N,NTT,FOOTWEAR
2,ABBOTINDIA,35195.00,-9.44,42.0,X-MC,3.21,89385.0,-1293.0,16197.0,-0.45,-1.43,18.12,16.44,101.0,-0.08,0.62,18.46,X40,ATH,PHARMA
13,BATAINDIA,2096.00,-35.29,47.0,X-SC,4.36,96703.0,-31967.0,77266.0,-0.00,-24.84,79.90,35.20,219.0,-0.41,0.67,10.99,X40,NTT,FOOTWEAR

In [21]:
# top 5 to accumulate based on CumlRnk
df_tmp = df_portfolio_features.sort_values(by = 'CumlRnk', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
76,TCS,4389.97,-27.40,59.0,X-LC,12.05,289952.0,-56004.0,122708.0,0.70,-16.19,42.32,19.28,1.0,-0.46,2.00,7.19,X40,ATH,IT
40,INFY,2275.00,-17.80,59.0,X-LC,6.91,320565.0,7677.0,164001.0,0.17,2.45,51.16,54.87,3.0,0.05,2.21,10.94,X40,BTT,IT
42,ITC,452.00,-36.23,68.0,X-LC,1.70,205673.0,5535.0,15364.0,0.91,2.77,7.47,10.44,4.0,0.36,1.42,8.48,X40,NTT,FMCG
85,VBL,671.64,-18.69,51.0,X-LC,9.80,293033.0,-22809.0,135469.0,-0.46,-7.22,46.23,35.67,5.0,-0.17,2.02,5.63,X40N,ATH,FMCG
1,ABB,7934.00,-39.96,52.0,H-LC,6.16,250992.0,-10627.0,129838.0,0.93,-4.06,51.73,45.57,7.0,-0.08,1.73,6.80,AR,NTT,ELECTRICAL

In [22]:
# top 5 for average up
df_tmp = df_portfolio_features[(df_portfolio_features['Dev%_200'] > 5)].sort_values(by = 'CurrAlloc%', ascending=True)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
7,ASIANTILES,137.00,7050.00,61.0,L-SC,7.31,78434.0,-15376.0,91995.0,-0.03,-16.39,117.29,81.67,269.0,-0.17,0.54,51.89,XR,NTT,CERAMICS
20,COFFEEDAY,80.00,-45.67,49.0,L-SC,27.41,81312.0,-32237.0,72286.0,-1.94,-28.39,88.90,35.27,268.0,-0.45,0.56,99.01,XR,NTT,HOTELS
50,MASFIN,398.61,-20.51,45.0,H-SC,9.17,90585.0,-7395.0,28996.0,-2.03,-7.55,32.01,22.05,152.0,-0.26,0.63,31.67,XR,ATH,FINANCE
87,WHIRLPOOL,2270.00,-38.27,65.0,M-SC,3.55,127917.0,13119.0,80920.0,1.44,11.43,63.26,81.92,223.0,0.16,0.88,51.43,XR,NTT,DURABLES
47,KPIGREEN,731.05,8.64,69.0,H-SC,5.24,129667.0,4370.0,54564.0,-0.61,3.49,42.08,47.03,141.0,0.08,0.89,62.35,MH,ATH,POWER

In [23]:
# top 5 RSP
df_tmp = df_portfolio_features.sort_values(by = 'RSP', ascending=False)
df_tmp[cols].head()

,Symbol,FTT,Dev%_PE,RSI_14,Conviction,Spread%,Current,Current P/L,FTT Amt,Today P/L%,Current P/L%,FTT%,OTT%,CumlRnk,RRR Ind,CurrAlloc%,Gained%,Criteria,Strategy,Category
63,SAMMAANCAP,326.00,-198.86,81.0,M-SC,26.62,170019.0,20799.0,123383.0,0.35,13.94,72.57,96.62,208.0,0.17,1.17,84.00,XY25,NTT,FINANCE
5,ANGELONE,3033.00,19.39,75.0,X-SC,5.57,211117.0,20111.0,37579.0,2.39,10.53,17.80,30.21,157.0,0.54,1.46,33.61,X40N,NTT,FINANCE
69,SONACOMS,806.63,-31.67,72.0,M-SC,8.62,85006.0,-16153.0,56155.0,1.47,-15.97,66.06,39.54,202.0,-0.29,0.59,19.87,AR,ATH,AUTO
60,REPCOHOME,880.00,-55.29,72.0,H-SC,3.48,258262.0,-28243.0,285586.0,-0.02,-9.86,110.58,89.82,134.0,-0.10,1.78,36.64,XY24,NTT,FINANCE
80,UJJIVANSFB,60.00,131.04,74.0,H-SC,16.35,146070.0,3591.0,15936.0,4.00,2.52,10.91,13.70,163.0,0.23,1.01,72.40,OX40N,NTT,BANKS

In [24]:
# Top N allocation
df_tmp = df_portfolio_features.sort_values(by = 'CurrAlloc%', ascending=False)
top_n_values = [10, 25, 50]

sum_df = pd.DataFrame({
    'Top_N': top_n_values,
    'Sum_Alloc%': [df_tmp['CurrAlloc%'].head(n).sum() for n in top_n_values]
})

sum_df

   Top_N  Sum_Alloc%
0     10       19.36
1     25       43.35
2     50       74.11

In [25]:
# market-cap-wise allocation
df_tmp = df_portfolio_features[cols]
df_tmp.groupby(df_tmp['Conviction'].str[-2:])['CurrAlloc%'].sum().sort_values(ascending=False)

Conviction
SC    43.86
LC    31.91
MC    24.21
Name: CurrAlloc%, dtype: float64

In [26]:
# criteria-wise allocation
df_portfolio_features.groupby('Criteria')['CurrAlloc%'].sum().sort_values(ascending=False)

Criteria
XY24     29.71
X40      16.16
XY25     11.96
XR       11.28
X40N     10.50
AR        7.75
OX40N     7.47
X200      1.74
X5K       1.45
SR        1.07
MH        0.89
Name: CurrAlloc%, dtype: float64

In [27]:
# conviction-wise allocation
df_portfolio_features.groupby('Conviction')['CurrAlloc%'].sum().sort_values(ascending=False)

Conviction
H-SC    25.22
X-LC    21.31
X-MC    18.53
M-SC    12.61
M-LC     5.03
X-SC     4.60
H-LC     4.56
H-MC     3.84
M-MC     1.54
L-SC     1.43
L-LC     1.01
L-MC     0.30
Name: CurrAlloc%, dtype: float64

In [28]:
# sector-wise stats
df_tmp = df_portfolio_features.groupby('Category')[['CurrAlloc%', 'Current', 'Current P/L', 'FTT Amt']].sum().sort_values(by=['Current', 'Current P/L'], ascending=False)
df_tmp['Current P/L%'] = round(df_tmp['Current P/L'] * 100 / df_tmp['Current'], 2)
df_tmp['FTT%'] = round(df_tmp['FTT Amt'] * 100 / df_tmp['Current'], 2)
cols = ['CurrAlloc%', 'Current P/L%', 'FTT%']
df_tmp[cols].sort_values(by=['CurrAlloc%'], ascending=False)

               CurrAlloc%  Current P/L%    FTT%
Category
FMCG                14.29         -3.98   37.91
IT                  12.44        -16.60   79.14
FINANCE             12.06         -8.09   57.08
MISC                 6.82        -16.36   80.83
BANKS                6.60         -4.38   59.29
ELECTRICAL           5.75         -8.42   46.86
PAINTS               5.48        -16.35   33.69
INSURANCE            3.77         -1.16   38.88
AUTO                 2.75        -44.26  104.46
FOOTWEAR             2.34        -30.79   83.23
DURABLES             2.28        -16.95   45.40
TRAVEL               2.17        -42.42  113.73
AC                   2.14         -2.68   14.81
CERAMICS             2.12        -30.28   85.50
BREWERIES            1.60         -0.94   21.90
REFINERIES           1.56          7.10    5.61
STEEL                1.54         -0.54   75.47
METALS               1.45          2.61   50.86
ENGINEERING          1.41        -18.63   72.88
REALTY               1.37         -0.75   16.09
CEMENT               1.28        -28.28  110.57
CHEMICALS            1.27        -43.51  160.59
JEWELLERY            1.25        -77.57  139.25
HEALTHCARE           1.16         -7.72   34.76
MINING               1.01         -2.39   25.39
ENTERTAINMENT        0.94        -42.35  127.25
POWER                0.89          3.37   42.08
PHARMA               0.62         -1.45   18.12
APPARELS             0.57         -1.38   25.70
HOTELS               0.56        -39.65   88.90
TEXTILES             0.49        -30.50   67.71

In [29]:
# money to be made criteria-wise
df_portfolio_features.groupby('Criteria')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                sum  count
Criteria
XY24      3266643.0     22
XR        1314640.0     14
AR        1165602.0      9
X40        814731.0     12
X40N       638819.0      9
OX40N      566445.0     10
XY25       446790.0      8
SR         266279.0      2
X5K        107092.0      1
X200        71664.0      1
MH          54564.0      1

In [30]:
# money to be made conviction-wise
df_portfolio_features.groupby('Conviction')['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                  sum  count
Conviction
H-SC        3340649.0     25
M-SC        1219019.0     15
X-MC        1190901.0     14
X-LC        1047404.0     13
X-SC         516424.0      6
H-MC         323737.0      3
M-LC         279333.0      4
H-LC         276729.0      3
L-SC         254122.0      3
M-MC         168869.0      1
L-MC          58772.0      1
L-LC          37310.0      1

In [31]:
# money to be made criteria and conviction-wise
df_portfolio_features.groupby(['Conviction', 'Criteria'])['FTT Amt'].agg(['sum', 'count']).sort_values(by='sum', ascending=False)

                           sum  count
Conviction Criteria
H-SC       XY24      1148336.0      6
           AR         837533.0      5
           XR         774932.0      7
M-SC       XY24       693759.0      6
X-MC       XY24       582312.0      4
X-LC       X40        447794.0      5
           XY24       310018.0      2
X-MC       X40        289671.0      6
X-SC       X40N       275661.0      4
H-SC       SR         266279.0      2
           OX40N      259005.0      4
X-LC       X40N       213607.0      3
H-LC       AR         205065.0      2
H-MC       XY24       177679.0      1
X-MC       XY25       169367.0      2
M-MC       XY24       168869.0      1
L-SC       XR         164281.0      2
X-SC       XY24       163497.0      1
M-SC       OX40N      150088.0      4
X-MC       X40N       149551.0      2
M-SC       XR         128785.0      2
           XY25       123383.0      1
           AR         123004.0      2
M-LC       XR         109323.0      1
           X5K        107092.0      1
L-SC       OX40N       89841.0      1
H-MC       XR          78547.0      1
X-SC       X40         77266.0      1
X-LC       XY25        75985.0      3
H-LC       X200        71664.0      1
H-MC       OX40N       67511.0      1
L-MC       XR          58772.0      1
H-SC       MH          54564.0      1
M-LC       XY25        40745.0      1
L-LC       XY25        37310.0      1
M-LC       XY24        22173.0      1

In [32]:
# notebook execution time

end_time = time.time()
execution_time = round(end_time - start_time, 0)
print(f"Notebook execution time: {execution_time} seconds")

Notebook execution time: 51.0 seconds